<template name="onboarding_techexistingselection">
    {{#mooqita_wide_spacing}}
    <h1 style="text-align: center; padding-top: 30px">
        <img style="width: 300px" src="/images/mooqita.jpg">
    </h1>
    <h1 class="obheader">What technical skills are you already confident with?</h1>

    <div class="taskDescription">
        <p>Your selection will inform the challenges we recommend to you on Mooqita.</p>
    </div>

    <br/>

    {{#each topics}}
    <div class="card tech-skill-group">
        <h2>{{ title }}</h2>
        {{>obtags method="existingSkills" category=category tags=tags}}
    </div>
    {{/each}}

    <a href="/onboarding/onboarding_time" class="btn btn-theme pull-right obcontinue">Continue</a>
    {{/mooqita_wide_spacing}}
</template>