<!------------------------------------------------
|
|	Challenge
|
-------------------------------------------------->
<template name="find_challenges">
	{{#mooqita_wide_spacing}}
		<div class="padding-top">
			<div class="row" style="margin-bottom: 25px">

				<div class="col-sm-12">
					{{#paging subscription="challenges" page=0 count=10 parameter=parameter}}
						{{#each challenges}}
							<h2>
								<a href="{{challenge_link}}">
									{{title}}
								</a>
							</h2>

							{{>more content=content}}
						{{else}}
								<h2><em>No challenges yet.</em></h2>
						{{/each}}
					{{/paging}}
				</div>
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
|	Challenge Editor
|
-------------------------------------------------->
<template name="challenge">
</template>
