///////////////////////////////////////////////
// colors
////////////////////////////////////////////////
$text: #444;
$background: #fff;

$theme: #8d0162;
$theme-dark: #490133;
$theme-light: #c06197;
$text-on-theme: #fff;
$contrast-on-theme: #8cc9ac;
$contrast-on-theme-dark: #5c856f;
