///////////////////////////////////////////////
// colors
////////////////////////////////////////////////
$theme: #8c91b9;
$theme-dark: #45455f;
$theme-light: #ffe6eb;
$text-on-theme: #fff;
$contrast-on-theme: #8cc9ac;
$contrast-on-theme-dark: #425f51;

$highlight: #fa5;
$highlight-dark: #80552b;
$text-on-highlight: #fff;
$contrast-on-highlight: #5af;

$text: #444;
$background: #fff;

