///////////////////////////////////////////////
// colors
////////////////////////////////////////////////
$text: #444;
$background: #fff;

$theme: #8c91b9;
$theme-dark: #45455f;
$theme-light: #d5d8e9;
$text-on-theme: #fff;
$contrast-on-theme: #8cc9ac;
$contrast-on-theme-dark: #425f51;