///////////////////////////////////////////////
// fonts
////////////////////////////////////////////////
@import "{}/client/style/_color.scss";
@import "{}/client/style/_fonts.scss";

////////////////////////////////////////////
// Dropbox
////////////////////////////////////////////

.dropcontainer {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.dropbox {
	color: $text-on-theme;
	font-size: 1em;
	position: relative;
	padding-top: 10px;
	background-color: $theme;
}

.dropbox.is-uploading .dropbox__input,
.dropbox.is-success .dropbox__input,
.dropbox.is-error .dropbox__input {
	visibility: hidden;
}

.dropbox__uploading,
.dropbox__success,
.dropbox__error {
	display: none;
}

.dropbox.is-uploading .dropbox__uploading,
.dropbox.is-success .dropbox__success,
.dropbox.is-error .dropbox__error {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;

	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}

.dropbox__uploading {
	font-style: italic;
}

.dropbox__success {
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}

@keyframes appear-from-inside {
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.dropbox.has-advanced-upload {
	outline: 2px dashed $theme-dark;
	outline-offset: -5px;

	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.dropbox__dragndrop,
.dropbox__icon {
	display: none;
}

.dropbox.has-advanced-upload .dropbox__dragndrop {
	display: inline;
}

.dropbox.has-advanced-upload .dropbox__icon {
	width: 100%;
	height: 1em;
	color: $text-on-theme;
	font-size: 2em;
	display: block;
}

.dropbox.is-dragover {
	outline-offset: -10px;
	outline-color: $theme;
	background-color: $theme-dark;
}

////////////////////////////////
// File
////////////////////////////////

////////////////////////////////
.dropbox__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.dropbox__file + label
{
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}

.dropbox__file + label em
{
	color: $contrast-on-theme;
}

.dropbox__file + label:hover em,
.dropbox__file:focus + label em,
.dropbox__file.has-focus + label em
{
	color: $contrast-on-theme-dark;
}


////////////////////////////////
// Submit Button
////////////////////////////////

////////////////////////////////
.dropbox__button {
	font-weight: 700;
	color: $text-on-theme;
	background-color: $contrast-on-theme;
	display: none;
	padding: 8px 16px;
	margin: 40px auto 0;
}

.dropbox__button:hover,
.dropbox__button:focus {
	background-color: $theme-dark;
}


////////////////////////////////
// Restart after error
////////////////////////////////

////////////////////////////////
.dropbox__restart {
	font-weight: 700;
}

////////////////////////////////
.dropbox__restart:focus,
.dropbox__restart:hover {
	color: #f00;
}

