///////////////////////////////////////////////
// colors
////////////////////////////////////////////////

////////////////////////////////////////////////
@import "{}/client/style/_color.scss";
@import "{}/client/style/_fonts.scss";

////////////////////////////////////////////////
//
// Mooqita
//
////////////////////////////////////////////////

////////////////////////////////////////////////
// basics
////////////////////////////////////////////////

////////////////////////////////////////////////
.mooqita-layout{
}

.mooqita-layout p{
	margin-bottom: 25px;
}

.mooqita-layout p.user-data{
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.mooqita-layout .form-control{
	border: 2px solid #ddd;
	min-height: 40.5px;
	font-size: 16px;
}


.mooqita-layout .editable .form-control{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background: none;
	font: inherit;
//	border: inherit;
	text-align: inherit;
	color: inherit;
	display: initial;
	height: 100%;
//	padding: 0px;
	margin-bottom: -2px;
}

.mooqita-line{
	margin-top: 40px;
	margin-bottom: 40px;
	border-top-color: $theme;
	border-top-width: 3px;
	width: 25%;
}

////////////////////////////////////////////////
// Handling avatar and image squaring
////////////////////////////////////////////////

////////////////////////////////////////////////
.avatar{
	padding: 10px;
}

.avatar.avatar-border{
	border: 2px solid #ddd;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.avatar-container{
	height:0;
	width:100%;
	padding-bottom:100%;
	position: relative;
	overflow: hidden;
}

.avatar-container img.img-avatar{
	object-fit: cover;
	position: absolute;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
}

////////////////////////////////////////////////
// itemized an item encompasses other elements
// with a border
////////////////////////////////////////////////

////////////////////////////////////////////////
.mooqita-layout .item {
	border: 2px solid #ddd;
	padding: 25px;
	margin: 0 0 60px 0;
}

.mooqita-layout .item.padding-top{
	margin-top: 35px;
}

.mooqita-layout .item h1{
	margin: 0;
	padding: 0 0 20px 0;
}

.mooqita-layout .item h1{
	margin: 45px 0 0 0;
	padding: 0 0 15px 0;
}

.mooqita-layout .item h1:first-child{
	margin: 0;
}

.mooqita-layout .item h2{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 25px;
}

a.mooqita,
.mooqita-layout .item h2 a{
	color: $theme;
}

a.mooqita:hover,
.mooqita-layout .item h2 a:hover{
	color: $contrast-on-theme;
	cursor: pointer;
	text-decoration: none;
}

.mooqita-layout .item .media-body{
	padding-left: 20px;
}

.mooqita-layout .item .media-body h2{
	margin: 0;
	padding: 0 0 10px 0;
}

.mooqita-layout .item hr {
	margin-bottom: 30px;
}

.mooqita-layout .item .rating_line{
	padding: 0px 0px 20px 0px;
	text-align: right;
}

.mooqita-layout .item .wide_link{
	padding-top: 15px;
	text-align: center;
}

.mooqita-layout .item .edit-toggle{
	color: $theme;
}

.mooqita-layout .item .edit-toggle:hover{
	color: $theme;
}

.mooqita-layout .select-occupation{
	font-size: 1.5em;
	text-align: center;
}

.mooqita-layout .select-occupation .item:hover{
	border-color: $theme;
}

.mooqita-layout .select-occupation .glyphicon{
	font-size: 2em;
	color: $theme;
}

.mooqita-layout .select-occupation.select-disabled .item,
.mooqita-layout .select-occupation.select-disabled .item:hover,
.mooqita-layout .select-occupation.select-disabled .glyphicon{
	border-color: #ddd;
	color: #ddd;
}

.mooqita-layout .select-occupation label{
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}

////////////////////////////////////////////////
// landing page hero
////////////////////////////////////////////////

////////////////////////////////////////////////
.padding-top{
	padding-top: 50px;
}

////////////////////////////////////////////////
.hero {
	background-repeat: repeat, no-repeat;
	background-size: auto auto, cover;
	background-position: 0 0, top center;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
	position: relative;
	height: auto;
	min-height: 350px;
}

.hero h1 {
	color: #fff;
	max-width: 650px;
	font-size: 50px;
	font-weight: 300;
	text-align: center;
}

.hero-background{
//	background-image: linear-gradient(rgba(#ffb804,0.4), rgba($theme,0.6)), url(/images/bg.jpg);
	background-image: linear-gradient(rgba(#ffb804,0.4), rgba($theme,0.6)), url(/images/bg.jpg);
}

