////////////////////////////////////////////////
@import "{}/client/style/_color.scss";
@import "{}/client/style/_fonts.scss";

///////////////////////////////////////////////
// Nav bar elements
////////////////////////////////////////////////

////////////////////////////////////////////////
.menu-container{
	border-bottom: 2px solid $theme;
}

.navbar {
	padding-bottom: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.navbar-brand {
	padding: 5px 0px 0px 0px;
}

.navbar-nav .nav-item a{
	font-size: 1.5em;
	font-weight: 300;
	color: $theme;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: $text-on-theme;
	background: $theme;
}

.navbar-nav .active .btn{
	color: $text-on-theme;
	background: $theme;
}

.navbar-nav .active .btn:hover{
	padding: 16px 14px 14px 16px;
}

.navbar-light .navbar-toggler {
	color: $theme;
	border: 2px solid $theme;
}

.navbar-toggler:hover{
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .5);
          box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .5);
}

.navbar-toggler:focus{
	padding: 5px 11px 3px 13px;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
}

.navbar-toggler .icon{
	color: $theme;
}


////////////////////////////////////////////////
// Menu navigation
////////////////////////////////////////////////

////////////////////////////////////////////////
.navigation-background{
	padding: 15px;
	padding-left: 35px;
}

.navigation-background .credit-score{
	font-size: 20px;
	margin-right: 25px
}

.navigation-background .control-navigate{
	font-size: 20px;
}

.nav > li > a.navigation-button{
	background: $theme;
	color: #eee;
	padding: 15px;
	margin: 5px;
	font-style: normal;
	text-decoration: none;
}

.nav > li > a.navigation-button:active,
.nav > li > a.navigation-button:focus{
	background: $theme-light;
	color: #222;
}

.nav > li > a.navigation-button:hover{
	background: $theme;
	color: $contrast-on-theme;
}
