////////////////////////////////////////////////
@import "{}/client/style/_color.scss";
@import "{}/client/style/_fonts.scss";

///////////////////////////////////////////////
// Nav bar elements
////////////////////////////////////////////////

////////////////////////////////////////////////
.menu-container{
	border-bottom: 2px solid $theme;
}

.navbar {
	padding-bottom: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.navbar-brand {
	padding: 5px 0px 0px 0px;
}

.navbar-nav .nav-item a{
	font-size: 1.5em;
	font-weight: 300;
	color: $theme;
}

.navbar-nav a:not([href]):not([tabindex]):focus,
.navbar-nav a:not([href]):not([tabindex]):hover {
	color: $text-on-theme;
	background: $theme;
}

.navbar-nav .active .btn{
	color: $text-on-theme;
	background: $theme;
}

.navbar-nav .active .btn:hover{
	padding: 16px 14px 14px 16px;
}

.navbar-light .navbar-toggler {
	color: $theme;
	border: 2px solid $theme;
}

.navbar-toggle{
	background: $theme;
	color: $background;

	padding: 12px 9px 12px 9px;
}

.icon-bar{
	background: $background;
}

.navbar-toggle:hover{
	padding: 13px 8px 11px 10px;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, .7);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, .7);
}

.navbar-toggle:focus{
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
}

.navbar-toggler .icon{
	color: $theme;
}


////////////////////////////////////////////////
// Menu navigation
////////////////////////////////////////////////

////////////////////////////////////////////////
.control-navigate{
	font-size: 1em;
	font-weight: 600;

  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
}

.nav > li > a.navigation-button{
	color: $theme;
	padding: 15px;
	margin: 5px;
	font-style: normal;
	text-decoration: none;
}

.nav > li > a.navigation-button:active,
.nav > li > a.navigation-button:focus{
}

.nav > li > a.navigation-button:hover{
	padding: 16px 14px 14px 16px;

  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .27);
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .27);
}
