.testimonial .text {
  color: #888;
	font-size: 0.8em;
  margin-bottom: 20px;
}
.name-picture {
  float: left;
  width: 100%;
  text-align: left;
	margin-bottom: 10px;
}
.name-picture h5 {
  font-size: 0.9em;
  /*text-transform: uppercase;*/
  letter-spacing: 0.08em;
}
.name-picture p {
  color: #888;
  margin: 0;
  font-size: 0.8em;
}
.name-picture img {
  float: left;
  width: 74px;
  border-radius: 37px;
  margin-right: 10px;
}
