////////////////////////////////////////////////
@import "{}/client/style/_color.scss";


///////////////////////////////////////////////////////////////////////////////
//
// basics
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.raised {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
	padding: 5px;
}

///////////////////////////////////////////////////////////////////////////////
//
// Testimonial
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.testimonial .text {
  color: #888;
	font-size: 0.8em;
  margin-bottom: 20px;
}

///////////////////////////////////////////////////////////////////////////////
.name-picture {
  float: left;
  width: 100%;
  text-align: left;
	margin-bottom: 10px;
}

.name-picture h5 {
  font-size: 0.9em;
  letter-spacing: 0.08em;
}

.name-picture p {
  color: #888;
  margin: 0;
  font-size: 0.8em;
}

.name-picture img {
  float: left;
  width: 74px;
  border-radius: 37px;
  margin-right: 10px;
}

///////////////////////////////////////////////////////////////////////////////
.icon-with-background{
	padding: 5px;
	width: 1.5em;
	height: 1.5em;
	border-radius: 5px;
}

.text-after-icon{
  padding-top: 5px;
  padding-left: -5px;
  margin-left: -15px;
}


///////////////////////////////////////////////////////////////////////////////
//
// Hover cards
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// base
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.hover-padding{
	//padding: 0px;
}

///////////////////////////////////////////////////////////////////////////////
.hover-card-container{
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;

	padding: 5px;
}

a.hover-card-container{
	text-decoration: none;
}

a.hover-card-container:not([href]):not([tabindex]):focus,
a.hover-card-container:not([href]):not([tabindex]):hover {
	color: $text;
	background: white;
}

.hover-card-container .animated,
.hover-card-container.animated{
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

///////////////////////////////////////////////////////////////////////////////
.hover-card{
  cursor: pointer;
	position: relative;

	display: block;
	text-align: center;

	z-index: 1;

	color: $text;
	background: $background;

	//border: 2px solid #dddddd;

  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

	-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hover_box .hover-card{
		min-height: 150px;
}

.hover-card:hover{
	background: $contrast-on-theme;
	text-decoration: none;
	z-index: 20;

  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
}

.hover-card:active{
	background: $contrast-on-theme-dark;
	text-decoration: none;
	z-index: 20;
}

///////////////////////////////////////////////////////////////////////////////
.hover-card .hover-icon{
	font-size: 6em;
}

.hover-card:hover .hover-icon{
	font-size: 9.5em;
	text-decoration: none;
}

///////////////////////////////////////////////////////////////////////////////
.hover-card .hover-text{
	font-size: 1em;
}

.hover-card:hover .hover-text{
	font-size: 1.5em;
	color: #222;
}

///////////////////////////////////////////////////////////////////////////////
.hover-card .hover-info{
	font-size: 0.8em;
	color: #888;
}

.hover-card:hover .hover-info{
	color: #444;
}

///////////////////////////////////////////////////////////////////////////////
// small
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.hover-card-small .hover-card{
	padding: 5px;
	min-height: 130px;
}

.hover-card-small .hover-card:hover{
}

///////////////////////////////////////////////////////////////////////////////
.hover-card-small .hover-card .hover-select{
	font-size: 1em;
	padding: 5px;
	border-radius: 100px;
	background: $contrast-on-theme;
	color: $theme;
}

.hover-card-small .hover-card:hover .hover-select{
	font-size: 1em;
	background: $background;
	color: $theme;
}

///////////////////////////////////////////////////////////////////////////////
.hover-card-small .hover-card .hover-icon{
	font-size: 2em;
}

.hover-card-small .hover-card:hover .hover-icon{
}

///////////////////////////////////////////////////////////////////////////////
.hover-card-small .hover-card .hover-text{
	font-size: 1em;
}

.hover-card-small .hover-card:hover .hover-text{
}


///////////////////////////////////////////////////////////////////////////////
.hover-card .hover-info{
	font-size: 0.8em;
	color: #888;
}

.hover-card:active .hover-info{
}

///////////////////////////////////////////////////////////////////////////////
//
// Quick Survey
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.element-container{
	//display: none;
	opacity: 1.0;
}

.element-container .animated,
.element-container.animated{
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

///////////////////////////////////////////////////////////////////////////////
//
// Toggle button
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// Toggle button styles
///////////////////////////////////////////////////////////////////////////////

.toggle-button {
//  margin: 0 20px;
}

.toggle-button {
  position: relative;
  display: inline-block;
}

.toggle-button label {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left;
}

.toggle-button input {
    display: none;
}

.toggle-button label {
  line-height: 20px;
  text-indent: 30px;
}

.toggle-button input[type=checkbox]:checked ~ .toggle-button-icon {
  background: $theme;
}

.toggle-button-icon {
    cursor: pointer;
    pointer-events: none;
}

.toggle-button-icon:before,
.toggle-button-icon:after {
	content: "";
	position: absolute;
	top: 45%;
	left: 35%;
	transition: 0.2s ease-out;
}

.toggle-button .toggle-button-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  border: 2px solid $theme;
  border-radius: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.toggle-button .toggle-button-icon:before,
.toggle-button .toggle-button-icon:after {
	left: 2px;
	width: 12px;
	height: 2px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	top: 35%;
	background: $contrast-on-theme;
	opacity: 0;
	transform-origin: left center;
}

.toggle-button .toggle-button-icon:before {
    transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
}

.toggle-button .toggle-button-icon:after {
    transform: translate(4px, 6px) rotate(-45deg);
}

.toggle-button:hover input[type=checkbox]:not(:checked) ~ .toggle-button-icon {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.toggle-button input[type=checkbox]:checked ~ .toggle-button-icon:before,
.toggle-button input[type=checkbox]:checked ~ .toggle-button-icon:after {
    opacity: 1;
}

///////////////////////////////////////////////////////////////////////////////
//
// Persona
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.persona {
	z-index: 10;
	position: relative;
	//border: 1px solid #ff0000;
}

.persona.visible{
	right: 0px;
}

.persona .center-icon{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -14px;
	margin-top: -18px;
}

.persona .persona-wait{
	opacity: 0.0;
	overflow: visible;
}

.persona .waiting{
	opacity: 1.0;
}

.persona .animated,
.persona.animated{
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

///////////////////////////////////////////////////////////////////////////////
.svg-holder {
	width: 100%;
	height: 100%;
	text-align: center;
}

svg {
	width: 100%;
	height: 100%;
	font-size: 12px;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

///////////////////////////////////////////////////////////////////////////////
//
// Personality explanation
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.personality-explain {
	text-align: left;
}

.personality-explain ul{
	padding: 0px;
}

.personality-explain li{
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	*padding: .4em;
	margin: .5em 0 .5em 2.5em;
	background: #eee;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;
}

.personality-explain li:before{
	font-family: 'FontAwesome';
	content: '\f067';
	background: $contrast-on-theme;
	position: absolute;
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}

.personality-explain .positive li:before{
	content: '\f067';
	background: $contrast-on-theme;
}

.personality-explain .negative li:before {
	content: '\f068';
	background: $theme-light;
}

///////////////////////////////////////////////////////////////////////////////
//
// Register modal
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.register-modal{
	width: 100%;
	height: 100%;
	background: rgba(170, 170, 170, 0.5);
}

///////////////////////////////////////////////////////////////////////////////
.register-frame{
	position: relative;
	top: 10%;

	padding-bottom: 0px;
	background: white;
	border-radius: 10px;
	margin: auto;
	max-width: 450px;

  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

///////////////////////////////////////////////////////////////////////////////
.register-modal .register-finish{
	padding: 10px;
}

///////////////////////////////////////////////////////////////////////////////
.register-modal .close-register{
	position: absolute;
	border-radius: 100%;
	right: -15px;
	top: -15px;
	padding: 6px 10px;
	background: $theme;
	border-color: $theme-dark;
	color: white;
}

.register-modal .close-register:hover{
	color: $contrast-on-theme;
}

///////////////////////////////////////////////////////////////////////////////
.register-modal .at-form{
	padding-bottom: 0px;
}

.register-modal #at-btn{
	border-color: $theme-dark;
	background: $theme;
	color: white;
}

.register-modal #at-btn:hover{
	color: $contrast-on-theme;
}

///////////////////////////////////////////////////////////////////////////////
.register-modal .modal-body{
	padding-bottom: 0px;
}

///////////////////////////////////////////////////////////////////////////////
.register-modal .modal-dialog{
	width: 450px;
}


///////////////////////////////////////////////////////////////////////////////
//
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
.auto-complete-list{
	padding-left: 0px;
}

.auto-complete-list li{
	position: relative;
	display: block;
	padding: .4em .4em .4em .6em;
	*padding: .4em;
	margin: .5em 0 .5em 1em;
	background: #eee;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;
}

.auto-complete-list li:before{
	content: '';
	background: $contrast-on-theme;

	position: absolute;
	margin-top: -1.1em;
	height: 2.22em;
	width: 1.0em;
	left: -1.0em;
	top: 50%;

	line-height: 2em;
	text-align: center;
	font-weight: bold;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
}

.auto-complete-list li:hover{
	cursor: pointer;
	background: $contrast-on-theme;
}

.is-table-row {
	display: table;
}

.is-table-row [class*="col-"] {
	float: none;
	display: table-cell;
	vertical-align: top;
}

.obheader {
	text-align: center;
	font-weight: 600;
}

.obcontinue {
	margin: 20px 15% 0 0;
}

.selected { background: #B95298; }

/* Header */

.bottom {
  height: 7px;
  width: 18px;
  margin-left: -1px;
  margin-top: 3px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #8D0162;
  position: absolute;
}

.navbar {
  margin-bottom: 0;
}

.onboarding-brand-title {
  margin-top: 10px;
  padding-left: 10px;
  color: #8D0162;
  display: inline-block;
}

.progress-current {
  border-width: 2px;
  background-color: white;
  border-color: #8D0162;
}

.progress-past {
  background-color: #8D0162;
}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 70%;
    position: relative;
}

.onboarding_progress .btn[disabled] {
    background-color: white;
    outline-color: #8D0162;
    outline-width: 1px;
    opacity: 1;
  }

.onboarding_progress .btn:hover {
    padding: 0px;
    box-shadow: none;
    background-color: #8D0162;
    outline-color: #CE82B7;
    outline-width: 2px;
  }

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 68%;
    left: 15%;
    height: 1px;
    background-color: #CCC;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.stepwizard-step .btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* End header */

/* Course */

.onboarding-container {
  padding-top: 1rem;
  margin-bottom: 50px;
}

.onboardingSplash {
  display:block;
  margin:auto;
  max-height: 38vh;
}

.onboarding-container > h2 {
  border-bottom: .05em solid #8d0162;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.tags {
  margin: 1.68em 1rem;
}

.tag {
  display: inline-block;
  margin: 0 .25rem .4rem 0;
  padding: .5em 1em;
}

.taskDescription {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* End Course */


/* Radial slider */
/*! roundSlider v1.3 | (c) 2015-2016, Soundar | MIT license | http://roundsliderui.com/licence.html */
.rs-control{position:relative;outline:0 none}.rs-container{position:relative}.rs-control *,.rs-control *:before,.rs-control *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.rs-animation .rs-transition{-webkit-transition:all .5s linear 0s;-moz-transition:all .5s linear 0s;-o-transition:all .5s linear 0s;transition:all .5s linear 0s}.rs-bar{-webkit-transform-origin:100% 50%;-moz-transform-origin:100% 50%;-ms-transform-origin:100% 50%;-o-transform-origin:100% 50%;transform-origin:100% 50%}.rs-control .rs-split .rs-path,.rs-control .rs-overlay1,.rs-control .rs-overlay2{-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-ms-transform-origin:50% 100%;-o-transform-origin:50% 100%;transform-origin:50% 100%}.rs-control .rs-overlay{-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-o-transform-origin:100% 100%;transform-origin:100% 100%}.rs-control.rs-error{border:1px dotted;text-align:center}.rs-readonly{height:100%;width:100%;top:0;position:absolute;z-index:100}.rs-disabled{opacity:.35}.rs-inner-container{height:100%;width:100%;position:relative;overflow:hidden}.quarter div.rs-block{height:200%;width:200%}.half.top div.rs-block,.half.bottom div.rs-block{height:200%;width:100%}.half.left div.rs-block,.half.right div.rs-block{height:100%;width:200%}.bottom>.rs-inner-container>.rs-block{top:auto;bottom:0}.right .rs-inner-container>.rs-block{right:0}div.rs-block{-webkit-border-radius:100%;border-radius:100%}.rs-block{height:100%;width:100%;display:block;position:absolute;top:0;overflow:hidden;z-index:3}.rs-block .rs-inner{-webkit-border-radius:1000px;border-radius:1000px;display:block;height:100%;width:100%;position:relative}.rs-overlay{width:50%}.rs-overlay1,.rs-overlay2{width:100%}.rs-overlay,.rs-overlay1,.rs-overlay2{position:absolute;background-color:#fff;z-index:3;top:0;height:50%}.rs-bar{position:absolute;height:0;z-index:10}.rs-bar.rs-rounded{z-index:5}.rs-bar .rs-seperator{height:0;display:block;float:left}.rs-bar:not(.rs-rounded) .rs-seperator{border-left:none;border-right:none}.rs-bar.rs-start .rs-seperator{border-top:none}.rs-bar.rs-end .rs-seperator{border-bottom:none}.rs-bar.rs-start.rs-rounded .rs-seperator{border-radius:0 0 1000px 1000px}.rs-bar.rs-end.rs-rounded .rs-seperator{border-radius:1000px 1000px 0 0}.full .rs-bar,.half .rs-bar{width:50%}.half.left .rs-bar,.half.right .rs-bar,.quarter .rs-bar{width:100%}.full .rs-bar,.half.left .rs-bar,.half.right .rs-bar{top:50%}.bottom .rs-bar{top:0}.half.right .rs-bar,.quarter.right .rs-bar{right:100%}.rs-handle.rs-move{cursor:move}.rs-readonly .rs-handle.rs-move{cursor:default}.rs-path{display:block;height:100%;width:100%}.rs-split .rs-path{-webkit-border-radius:1000px 1000px 0 0;border-radius:1000px 1000px 0 0;overflow:hidden;height:50%;position:absolute;top:0;z-index:2}.rs-tooltip{position:absolute;cursor:default;border:1px solid transparent;z-index:10}.full .rs-tooltip{top:50%;left:50%}.bottom .rs-tooltip{top:0}.top .rs-tooltip{bottom:0}.right .rs-tooltip{left:0}.left .rs-tooltip{right:0}.half.top .rs-tooltip,.half.bottom .rs-tooltip{left:50%}.half.left .rs-tooltip,.half.right .rs-tooltip{top:50%}.rs-tooltip .rs-input{outline:0 none;border:none;background:transparent}.rs-tooltip-text{font-family:verdana;font-size:13px;border-radius:7px;text-align:center}.rs-tooltip.edit,.rs-tooltip .rs-input{padding:5px 8px}.rs-tooltip.hover,.rs-tooltip.edit:hover{border:1px solid #aaa;cursor:pointer}.rs-readonly .rs-tooltip.edit:hover{border-color:transparent;cursor:default}.rs-handle{border-radius:1000px;outline:0 none;float:left}.rs-handle.rs-handle-square{border-radius:0}.rs-handle-dot{border:1px solid #aaa;padding:6px}.rs-handle-dot:after{display:block;content:"";border:1px solid #aaa;height:100%;width:100%;border-radius:100%}.rs-seperator{border:1px solid #aaa}.rs-border{border:1px solid #aaa}.rs-path-color{background-color:#fff}.rs-range-color{background-color:#54bbe0}.rs-bg-color{background-color:#fff}.rs-handle{background-color:#838383}.rs-handle-dot{background-color:#fff}.rs-handle-dot:after{background-color:#838383}

/* custom radial slider */
.rs-range-color  {
      background-color: #8d0162;
  }
  .rs-handle  {
      background-color: #8d0162;
      padding: 7px;
      border: 2px solid #8d0162;
  }
  .rs-handle:after  {
      border-color: transparent;
      background-color: #D6A3C6;
  }
  .rs-border  {
      border-color: transparent;
  }
  .rs-path-color  {
      background-color: #D6A3C6;
  }

  .rs-tooltip {
    margin-top: -35px !important; 
    margin-left: -32px !important;
  }
  .rs-tooltip-text {
    font-size: 24px;
    color: #8d0162;
  }

  #timeCommitSlider {
      margin: auto;
      width: 50%;
      margin-top: 50px;
  }
    #timeCommitSlider_info {
      text-align: center;
      margin-top: 30px;
  }


/* end radial slider */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px 20px 20px 20px;
}

.card-block { display: none; }

#ladder {
  width: 100%;
}

/* Likert */
.likertGroup {
  text-align: center;
  margin: 20px auto;
  width: 50%;
}

.likertGroup img{
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.likertGroup p{
  padding: 10px;
  font-size: 17px;
}


.likert_value {
  border-radius: 150px !important;
  padding: 0;
  cursor: pointer;
  transition: none;
  margin-right: .4em;
}

.likert-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}


.likert-1, .likert-7 {
  width: 34px;
  height: 34px;
}

.likert-2, .likert-6 {
  width: 28px;
  height: 28px;
}

.likert-3, .likert-5 {
  width: 22px;
  height: 22px;
}

.likert-4 {
  background-color: #FFF;
  width: 22px;
  height: 22px;
  border: 4px solid #ececeb;
}

/* AGREE */

.likert-1, .likert-2, .likert-3 {
  background-color: #FFF;
  padding: 0 !important;
  border: 4px solid #94657E !important;
}

.likert-4 {
  width: 28px;
  height: 28px;
  border: 4px solid black !important;
}

.likert-5, .likert-6, .likert-7 {
  background-color: #FFF !important;
  padding: 0 !important;
  border: 4px solid #4C9070 !important;
}

.likert-1:hover, .likert-2:hover, .likert-3:hover,
.likert-1.active, .likert-2.active, .likert-3.active {
  box-shadow: none !important;
  background-color: #94657E !important;
}

.likert-4:hover, .likert-4.active {
  box-shadow: none !important;
  background-color: black !important;
}

.likert-5:hover, .likert-6:hover, .likert-7:hover,
.likert-5.active, .likert-6.active, .likert-7.active {
  box-shadow: none !important;
  background-color: #4C9070 !important;
}

/* end likert */

/* Podium and sort */

.podium { margin: 20px 0; }

.podium td {
    vertical-align: bottom;
    padding: 5px;
    width: 33%;
}

.podium sup {
  font-size: 15px;
}

#podium1, #podium2, #podium3 {
    background: #8D0162;
    margin-top: 1em;
    text-align: center;
    vertical-align: center;
    color: white;
    font-size: 25px;
}
#podium1 { /* gold */
    height: 160px;
}
#podium2 { /* silver */
    height: 110px;
    line-height: 110px;
}
#podium3 { /* bronze */
    height: 60px;
    line-height: 60px;
}

#poolContainer {
	display: block;
	border: 2px dashed #D6A3C6;
  border-radius: 5px;
	margin: 0 auto;
	padding: 1em;
    margin-bottom: 1em;
    height: 57px;
}

.dropTarget {
    border: 2px dashed #D6A3C6;
    border-radius: 5px;
    min-height: 40px;
    text-align: center;
}

.dropTarget .tag {
    margin-top: 7px;
}

.course-tag {
  margin: 0;
}

#poolContainer > div {
  transition: all .5s ease;
}

#poolContainer > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: .6;
  border: 2px solid #000;
}

#poolContainer > div:hover {
  border: 2px solid gray;
  opacity: .8;
}

#dropTarget {
  border: 2px dashed #D9D9D9;
  border-radius: 5px;
  min-height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 2em;
  display: block;
  text-align: center;
}

#dropTarget > div {
  transition: all .5s;
  text-align: center;
  float: left;
  padding: 1em;
  margin: 0 1em 1em 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 2px solid skyblue;
  background: #F7F7F7;
  transition: all .5s ease;
}

#dropTarget > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: .6;
  border: 2px solid #D9D9D9;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  padding: 1em;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.gu-mirror {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

/* End podium and sort */

/* challenge opinions */

.challengeGroup {
  text-align: center;
  padding: 15px 30px 30px 30px;
  margin: 20px auto 10px auto;
  width: 80%;
}

.challengeGroup p {
    padding: 15px;
}

.challengeGroup h3 {
    border-bottom: .03em solid #bdbdbd;
    margin-bottom: 10px;
    padding: 0px 15px 15px 15px;
}

.challengeGroup img{
  max-width:300px;
  max-height:150px;
  width: auto;
  height: auto;
  margin: 10px 30px 5px 30px;
}

.challengeGroup .btn:hover {
    color: #e0e0e0;
}

.challengeGroup textarea {
    margin-bottom: 15px;
}

.dislike-challenge, .like-challenge {
    margin: 0px 15px 5px 10px;
    width: 65px;
    color: white;
}

.dislike-challenge {
    background-color: #ef5350;
}

.like-challenge {
    background-color: #66bb6a;
}

/* end challenge opinions */

/* tech skills */
.tech-skill-group {
  text-align: center;
  padding: 20px 25px 20px 25px;
  margin: 20px auto 10px auto;
  width: 70%;
}

/* end tech skills */


/* Time zone and comms */
#commtags {
  display: inline-block;
  width: 80%;
  margin: .68em 1rem;
}

.centeredDropdowns {
  width: 85%;
  text-align: center;
  margin: 10px auto 5px auto;
}

#tagContainerTimezone {
  width: 85%;
  text-align: center;
  margin: 10px auto 5px auto;
}

.addTagContainer {
  width: 35%;
  margin: 5px auto 10px auto;
}

.category {
  width:45%;
  margin: 0 1em 1em 0;
}

hr {
  margin: 10px 0;
}

#addTagContainer > * {
  display: inline;
}

.addcom {
  width: 25%;
}

#addcomValue {
  width: 60%;
  margin: 10px 0;
}

/* end timezone and comms */

.btn-toolbar {
  margin-left:-30px;
}

.report-capsule {
      border-radius: 25px;
      background-color: #b95298;
      color: white;
      padding: 15px;
      margin-top: 5px;
      text-align: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}