///////////////////////////////////////////////
// fonts
////////////////////////////////////////////////

////////////////////////////////////////////////
@import "{}/client/style/_color.scss";
@import "{}/client/style/_fonts.scss";

////////////////////////////////////////////////
// post format
////////////////////////////////////////////////
.post-maker{
}

.post-maker .form-control{
	height: 38px;
	border: 2px solid $theme
}

.post{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
}

.post_edit{
	margin-top: -20px;
	padding-top: 0px;
}

.post_start_edit{
	height: 0px;
	top: -25px;
	left: 0px;
	position: relative;
	text-align: right;
	z-index: 1;
}

.post_start_right{
	height: 100px;
	display: inline-block;
}

.section_headline{
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
					box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.section_headline h1{
	margin: 0px;
	margin-bottom: 10px;
}

.post-banner{
	margin-left: -19px;
	margin-right: -19px;
	padding: 0;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.post-banner h2{
	padding: 10px 10px 20px 10px;
}

.clear-edit{
	display: block;
	width: 100%;
	font: inherit;
	color: inherit;
	background: inherit;
	padding: 4px;
	padding-left: 10px;
	margin: 0px;
	border: inherit;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .5);
          box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .5);

}

.team-member {
  text-align: center;
  margin-bottom: 50px;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
