///////////////////////////////////////////////
// colors
////////////////////////////////////////////////
@import "{}/client/style/_color.scss";
@import "{}/client/style/_fonts.scss";


///////////////////////////////////////////////
// animation
////////////////////////////////////////////////

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

///////////////////////////////////////////////
// Basic elements
////////////////////////////////////////////////

*{
	border-radius: 0 !important;
}

html,body{
	height: 100%;
	min-height: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
}

h1, .h1{
	font-weight: 300;
	font-size: 2.1em;

	margin-top: 1.2em;
	margin-bottom: 0.8em;
}

h2, .h2{
	font-weight: 300;
	font-size: 1.5em;

	margin-top: 1.05em;
	margin-bottom: 0.7em;
}

h3, .h3{
	font-weight: 300;
	font-size: 1.2em;

	margin-top: 0.9em;
	margin-bottom: 0.6em;
}

h4, .h4{
	font-weight: 600;
	font-size: 0.9em;

	margin-top: 0.9em;
	margin-bottom: 0.6em;
}

em{
	color: $theme;
	font-style: inherit;
}

header{
	background-color: $background;
}

main{
}

#__blaze-root{
	display: initial;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	//height: 100%;
	margin: 0 auto -150px;
	display: inherit;
}

footer{
	min-height: 250px;
	background-color: $theme-dark;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: $theme;
}

.footer-push {
	height: 150px;
}

.double-header{
	margin-top: 0px;
}

.background-white{
	color: $text;
	background: #fff;
}

.background-grey{
	color: $text;
	background: #eee;
}

.background-theme-light {
	color: $text;
	background: $theme-light;
}

.background-theme {
	color: $text-on-theme;
	background: $theme;
}

.menu-button{
	padding: 0px 2px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.padding-bottom{
	padding-bottom: 60px;
}

.padding-top{
	padding-top: 40px;
}

///////////////////////////////////////////////
// image modifiers
////////////////////////////////////////////////

.img-circle {
	border-radius: 50% !important;
}

.figure-padding {
	padding-bottom: 35px;
}

///////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////

.btn-theme {
	color: $text-on-theme;
	border-color: $theme-dark;
	background-color: $theme;
}

.btn-theme:hover {
	padding-left: 13px;
	padding-top: 7px;
	padding-right: 11px;
	padding-bottom: 5px;
	color: $text-on-theme;
  -webkit-box-shadow: inset 1px 1px 3px rgba($theme-dark, 1.0);
          box-shadow: inset 1px 1px 3px rgba($theme-dark, 1.0);
}

.btn-contrast {
	color: $text-on-theme;
	border: none;
	background-color: $contrast-on-theme;
}

.btn-contrast:hover {
	padding-left: 13px;
	padding-top: 7px;
	padding-right: 11px;
	padding-bottom: 5px;
	color: $text-on-theme;
  -webkit-box-shadow: inset 1px 1px 3px rgba($contrast-on-theme-dark, 1.0);
          box-shadow: inset 1px 1px 3px rgba($contrast-on-theme-dark, 1.0);
}

.btn-translucent {
	color: $text-on-theme;
	border: none;
	background-color: inherit;
}

.btn-translucent:hover {
	padding-left: 13px;
	padding-top: 7px;
	padding-right: 11px;
	padding-bottom: 5px;
	color: $text-on-theme;
  -webkit-box-shadow: inset 1px 1px 3px rgba($theme-dark, 1.0);
          box-shadow: inset 1px 1px 3px rgba($theme-dark, 1.0);
}


///////////////////////////////////////////////
// Navbar
////////////////////////////////////////////////

.navbar {
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: "round", sans-serif;
	font-size: 3em;
	font-weight: 100;
}

.navbar-brand,
.navbar-nav > li > a {
	color: $text;
}

.navbar-brand:hover,
.navbar-brand:focus {
	color: $text;
}

.navbar-toggle{
	border-color: $theme;
}

.navbar-toggle .icon-bar{
	background-color: $theme;
}

.navbar-text{
	color: $text;
}

.navbar-text:hover{
	color: $theme;
}

#login_drop {
	width: 300px;
}

////////////////////////////////////////////////
// hero
////////////////////////////////////////////////
.hero {
	background-repeat: repeat, no-repeat;
	background-size: auto auto, cover;
	background-position: 0 0, top center;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
	position: relative;
	height: auto;
	min-height: 350px;
}

.hero h1 {
	color: #fff;
	max-width: 650px;
	font-size: 50px;
	font-weight: 300;
	text-align: center;
}

.hero-background{
	background-image: linear-gradient(rgba(#ffb804,0.4), rgba($theme,0.6)), url(/images/bg.jpg);
}

//////////////////////////////////////////////
// tool bar
//////////////////////////////////////////////
.tool-button {
	border: 5px solid $theme;
	height: 40px;
	min-width: 40px;
	text-align: center;
	font-size: 19px;
	color: $theme;
	display: inline-block;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.tool-button:hover{
	border-color: $theme-dark;
	color: $theme-dark;
}

.tool-button:active{
	padding-top: 3px;
	padding-left: 3px;
}

.tool-bar{
	border: 5px solid $theme;
	background: $theme;
	height: 40px;
	min-width: 40px;
	text-align: center;
	font-size: 1em;
	color: #fff;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.tool-bar-right{
	border-left: none;
	min-width: 200px;
	text-align: left;}

.tool-bar-left{
	border-right: none;
	min-width: 200px;
	text-align: right;
}

////////////////////////////////////////////////
// medium column
////////////////////////////////////////////////
.col-ms-1,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9,
.col-ms-10,
.col-ms-11,
.col-ms-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 480px) and (max-width: 767px) {
  .col-ms-1,
  .col-ms-2,
  .col-ms-3,
  .col-ms-4,
  .col-ms-5,
  .col-ms-6,
  .col-ms-7,
  .col-ms-8,
  .col-ms-9,
  .col-ms-10,
  .col-ms-11 {
    float: left; }

  .col-ms-1 {
    width: 8.33333%; }

  .col-ms-2 {
    width: 16.66667%; }

  .col-ms-3 {
    width: 25%; }

  .col-ms-4 {
    width: 33.33333%; }

  .col-ms-5 {
    width: 41.66667%; }

  .col-ms-6 {
    width: 50%; }

  .col-ms-7 {
    width: 58.33333%; }

  .col-ms-8 {
    width: 66.66667%; }

  .col-ms-9 {
    width: 75%; }

  .col-ms-10 {
    width: 83.33333%; }

  .col-ms-11 {
    width: 91.66667%; }

  .col-ms-12 {
    width: 100%; }

  .col-ms-push-1 {
    left: 8.33333%; }

  .col-ms-push-2 {
    left: 16.66667%; }

  .col-ms-push-3 {
    left: 25%; }

  .col-ms-push-4 {
    left: 33.33333%; }

  .col-ms-push-5 {
    left: 41.66667%; }

  .col-ms-push-6 {
    left: 50%; }

  .col-ms-push-7 {
    left: 58.33333%; }

  .col-ms-push-8 {
    left: 66.66667%; }

  .col-ms-push-9 {
    left: 75%; }

  .col-ms-push-10 {
    left: 83.33333%; }

  .col-ms-push-11 {
    left: 91.66667%; }

  .col-ms-pull-1 {
    right: 8.33333%; }

  .col-ms-pull-2 {
    right: 16.66667%; }

  .col-ms-pull-3 {
    right: 25%; }

  .col-ms-pull-4 {
    right: 33.33333%; }

  .col-ms-pull-5 {
    right: 41.66667%; }

  .col-ms-pull-6 {
    right: 50%; }

  .col-ms-pull-7 {
    right: 58.33333%; }

  .col-ms-pull-8 {
    right: 66.66667%; }

  .col-ms-pull-9 {
    right: 75%; }

  .col-ms-pull-10 {
    right: 83.33333%; }

  .col-ms-pull-11 {
    right: 91.66667%; }

  .col-ms-offset-1 {
    margin-left: 8.33333%; }

  .col-ms-offset-2 {
    margin-left: 16.66667%; }

  .col-ms-offset-3 {
    margin-left: 25%; }

  .col-ms-offset-4 {
    margin-left: 33.33333%; }

  .col-ms-offset-5 {
    margin-left: 41.66667%; }

  .col-ms-offset-6 {
    margin-left: 50%; }

  .col-ms-offset-7 {
    margin-left: 58.33333%; }

  .col-ms-offset-8 {
    margin-left: 66.66667%; }

  .col-ms-offset-9 {
    margin-left: 75%; }

  .col-ms-offset-10 {
    margin-left: 83.33333%; }

  .col-ms-offset-11 {
    margin-left: 91.66667%; }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 748px; }

  .form-horizontal .form-group .control-label {text-align:right;}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text-on-theme;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $text-on-theme;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $text-on-theme;
}

:-moz-placeholder { /* Firefox 18- */
  color: $text-on-theme;
}