<!------------------------------------------------
|
| footer templates
|
-------------------------------------------------->
<template name="mooqita_footer">
	{{#mooqita_wide_spacing}}
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Need Help?</h1>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6 text-right">
				<a href="/help">
					Our Help Pages
					<span class="glyphicon glyphicon-link"></span>
				</a>
			</div>

			<div class="col-xs-6 text-left">
				<a href="mailto:info@mooqita.org?Subject=Getting%20in%20Touch">
					<span class="glyphicon glyphicon-envelope"></span>
					Get in Touch
				</a>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-6 text-right">
				<a href="/privacy">
					Privacy Statement
					<span class="glyphicon glyphicon-link"></span>
				</a>
			</div>

			<div class="col-xs-6 text-left">
				<a href="/terms-of-use">
					<span class="glyphicon glyphicon-link"></span>
					Terms of Use
				</a>
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>
