<!-----------------------------------------
|
|  Landing page Template
|
------------------------------------------->
<template name="mooqita_landing">
	<div class="mooqita-layout">
		<div class="hero hero-background">
		</div>

		<div class="container-fluid" style="color: #fff; background: rgb(134, 45, 101);">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="row" style="margin-top: 50px">
						<div class="col-md-7 col-md-offset-0
												col-sm-8 col-sm-offset-2
												col-xs-12 col-xs-offset-0
												vcenter">
							<h1 style="font-family: round; font-size: 100px">Mooqita</h1>
							<h1 style="padding-bottom: 50px">
								Hiring is hard. We make it easy. For all.
							</h1>
						</div><!--
						This comment is important otherwise
						the grid system will break. Due to
						the interpretation of the white spaces!
						--><div class="	col-md-5 col-md-offset-0
														col-sm-8 col-sm-offset-2
														col-xs-12 col-xs-offset-0
														vcenter">
							<div class="padding-top"></div>
							<a class="hover-card-container animated hover-card-small padding-next"
								 href="{{g_build_url "onboarding_intro" (object) "onboarding"}}">
									<div class="hover-card-box animated">
									<div class="hover-card animated onboarding-select" style="padding: 25px">
										<span class="pull-right fa fa-globe fa-4x color-theme"
													style="position: absolute; top: -25px; right: -25px; font-size: 100px;">
										</span>

										<div class="text-left" style="text-align: left">
											<h2>Organization</h2>
											Find the perfect candidate
										</div>
									</div>
								</div>
							</a>

							<a class="hover-card-container animated hover-card-small"
								 href="{{g_build_url "onboarding_intro" (object) "onboarding"}}">
								<div class="hover-card-box animated">
									<div class="hover-card animated onboarding-select" style="padding: 25px">
										<span class="pull-right fa fa-graduation-cap fa-3x color-theme"
													style="position: absolute; top: -25px; right: -25px; font-size: 100px;">
										</span>
										<div class="text-left" style="text-align: left">
											<h2>Learner</h2>
											Discover the job you love
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>