<!------------------------------------------------
|
| Layout templates
|
-------------------------------------------------->
<template name="body_template" xmlns="http://www.w3.org/1999/html">
	{{>pre_loader}}
</template>


<template name="pre_loader">
	<div class="mooqita-layout">
		{{#if g_get_login}}
			{{#unless profile.has_occupation}}
				{{>Template.dynamic template=g_get_login}}
			{{else}}
				{{> Template.dynamic template=g_get_layout}}
			{{/unless}}
		{{else}}
			{{> Template.dynamic template=g_get_layout}}
		{{/if}}
	</div>
</template>


<template name="mooqita_layout">
	<div class="wrapper">
		<div class="mooqita-layout">
			{{#if g_get_menu}}
				<header>
					{{>Template.dynamic template=g_get_menu}}
				</header>
			{{/if}}

			<main>
				{{>sAlert}}

				{{>Template.dynamic template=g_get_content}}
			</main>

			{{#if g_get_footer}}
				<div class="footer-push"> </div>
			{{/if}}
		</div>

		{{#if g_get_footer}}
			<div class="mooqita-layout">
				<footer>
					{{>Template.dynamic template=g_get_footer}}
				</footer>
			</div>
		{{/if}}
	</div>
</template>


<template name="mooqita_landing_2">
	<div class="mooqita-layout">
		<div class="hero hero-background logged-in">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="row" style="margin-top: 50px">
						<div class="col-md-7 col-md-offset-0
												col-sm-8 col-sm-offset-2
												col-xs-12 col-xs-offset-0
												vcenter">
							<h1 style="font-family: round; font-size: 100px">Mooqita</h1>
							<h1 style="padding-bottom: 50px">
								We help students to find the job they love by bringing education and work closer together.
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	</div>
</template>


<template name="mooqita_view">
	{{>Template.dynamic template=g_selected_view}}
</template>


<template name="mooqita_wide_spacing">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{> UI.contentBlock}}
			</div>
		</div>
	</div>
</template>
