<template name="body_template" xmlns="http://www.w3.org/1999/html">
	<div class="wrapper">
		{{#if menu}}
			<header>
				{{>Template.dynamic template=menu}}
			</header>
		{{/if}}

		<main>
			{{>sAlert}}

			{{#if Template.subscriptionsReady}}
				{{#if login}}
					{{#unless profile}}
						{{>Template.dynamic template=login}}
					{{else}}
						{{>render_content}}
					{{/unless}}
				{{else}}
					{{>render_content}}
				{{/if}}
			{{/if}}
		</main>

		{{#if footer}}
			<div class="footer-push"> </div>
		{{/if}}
	</div>

	{{#if footer}}
		<footer>
			{{>Template.dynamic template=footer}}
		</footer>
	{{/if}}
</template>


<template name="render_content">
	{{#if layout}}
		{{#Template.dynamic template=layout}}
			{{#with ini_context}}
				{{>Template.dynamic template=content}}
			{{/with}}
		{{/Template.dynamic}}
	{{else}}
		{{#with ini_context}}
			{{>Template.dynamic template=content}}
		{{/with}}
	{{/if}}
</template>


<template name="response">
	{{>Template.dynamic template=content}}
</template>


<template name="mooqita_layout" xmlns="http://www.w3.org/1999/html">
	<a href ="https://www.flipcause.com/secure/cause_pdetails/MjAzMjQ=" target="_blank" style="background:#ebb43f; border-radius:5px 5px 5px 5px;font-weight:normal; font-family:Arial, Helvetica, sans-serif;border:none;box-shadow:none;left: 50%; margin-left: -107.5px;display: block;clear: both; width:215px; height:70px; line-height:2.9; position:relative; cursor:pointer;font-size:24px; text-align:center;color:#fff;text-decoration: none; z-index:1;">Donate Now</a>
	<div class="mooqita-layout">
			{{#if currentUser}}
				{{#if profile_ready}}
					{{#if profile.has_occupation}}
						{{> UI.contentBlock}}
					{{else}}
						{{>first_timer}}
					{{/if}}
				{{else}}
					{{>wait}}
				{{/if}}
			{{else}}
				{{> UI.contentBlock}}
			{{/if}}
	</div>
</template>


<template name="mooqita_view">
	{{>Template.dynamic template=g_selected_view}}
</template>


<template name="mooqita_wide_spacing">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{> UI.contentBlock}}
			</div>
		</div>
	</div>
</template>
