<!------------------------------------------------
|
| Login templates
|
-------------------------------------------------->
<template name="mooqita_login">
	{{#if currentUser}}
		{{#if profile}}
			{{#unless profile.has_occupation}}
				{{>first_timer}}
			{{/unless}}
		{{else}}
			{{>first_timer}}
		{{/if}}
	{{else}}
		{{> mooqita_sign_in}}
	{{/if}}
</template>


<template name="mooqita_sign_in">
	<div class="mooqita-layout">
		<div class="hero hero-background">
		</div>

		<div class="container-fluid" style="color: #fff; background: rgb(134, 45, 101);">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="row" style="margin-top: 50px">
						<div class="col-md-7 col-md-offset-0
												col-sm-8 col-sm-offset-2
												col-xs-12 col-xs-offset-0
												vcenter">
							<h1 style="font-family: round; font-size: 100px">Mooqita</h1>
							<h1 style="padding-bottom: 50px">
								We help students to find the job they love by bringing education and work closer together.
							</h1>
						</div><!--
						This comment is important otherwise
						the grid system will break. Due to
						the interpretation of the white spaces!
						--><div class="	col-md-5 col-md-offset-0
														col-sm-8 col-sm-offset-2
														col-xs-12 col-xs-offset-0
														vcenter">
							<div class="well" style="color: black; text-align: center">
								{{>atForm}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<template name="first_timer">
	<div class="container-fluid">
		{{#mooqita_wide_spacing}}
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<h1>Welcome to Mooqita</h1>
						<p>Before we can get started we need some information about you.</p>
						<h1>Are you: </h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="select-occupation {{select_disabled}}">
						<div class="item" id="learner">
							<div class="row">
								<div class="col-md-12 col-sm-6 col-xs-6 text-right">
									<div class="glyphicon glyphicon-blackboard"></div>
								</div>

								<div class="col-md-12 col-sm-6 col-xs-6 text-left">
									<label>Learner</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="select-occupation select-disabled">
						<div class="item">
							<div class="row">
								<div class="col-md-12 col-sm-6 col-xs-6 text-right">
									<div class="glyphicon glyphicon-education"></div>
								</div>

								<div class="col-md-12 col-sm-6 col-xs-6 text-left">
									<label>Educator</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="select-occupation select_disabled">
						<div class="item" id="organization">
							<div class="row">
								<div class="col-md-12 col-sm-6 col-xs-6 text-right">
									<div class="glyphicon glyphicon-briefcase"></div>
								</div>

								<div class="col-md-12 col-sm-6 col-xs-6 text-left">
									<label>Organization</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/mooqita_wide_spacing}}
	</div>
</template>