<!------------------------------------------------
|
| Menu templates
|
-------------------------------------------------->

<!------------------------------------------------
| Header ensures that bootstrap works on
| mobile devices
-------------------------------------------------->
<head>
	<meta name="viewport" content="user-scalable=no, width=device-width, maximum-scale=1, initial-scale=1, minimum-scale=1">
</head>


<!------------------------------------------------
| Main Menu
-------------------------------------------------->
<template name="mooqita_menu">
	<div class="container-fluid menu-container">
		<div class="navbar" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand logo" href="/">
					<span><img src="/images/mooqita.jpg" style="height: 50px;"></span>
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="navbar-collapse collapse" style="padding-top: 15px;">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a href="/team">Team</a>
					</li>

					<li class="active">
						<a href="/research">Research</a>
					</li>

					<li class="active" style="margin-left: 15px; margin-top: 2px;">
						<a class="btn btn-highlight nav-x"
							 href="mailto:info@mooqita.org?Subject=Getting%20in%20Touch">
							Get in Touch
						</a>
					</li>

					<li class="active" style="margin-left: 15px; margin-top: 2px;">
						<a class="btn btn-highlight nav-x"
							 href="https://www.flipcause.com/secure/cause_pdetails/MjAzMjQ="
							 target="_blank">
							Donate
						</a>
					</li>

					{{#if currentUser}}
						<li class="active">
							<a class="logout">Logout</a>
						</li>
					{{/if}}
				</ul>
			</div>
		</div>
	</div>

	{{#if sub_menu}}
		{{>Template.dynamic template=sub_menu}}
	{{/if}}
</template>


<!------------------------------------------------
| Optional menu items
-------------------------------------------------->
<template name="optional_menu">
	{{#if isInRole 'tutor'}}
		<span>
			<a class="navigation-button control-navigate"
					 href="{{build_url "tutor"}}">
				Tutor
			</a>
		</span>
	{{/if}}
</template>