<template name="mooqita_research">
	<section class="container-fluid padding-top">
		{{#mooqita_wide_spacing}}
			{{>post_group group_name="research"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>


<template name="mooqita_team">
	<section class="container-fluid padding-top">
		{{#mooqita_wide_spacing}}
			{{>post_group group_name="team"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>

<template name="mooqita_help">
	<section class="container-fluid padding-top">
		{{#mooqita_wide_spacing}}
			{{>post_group group_name="help"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>

<template name="mooqita_about">
	<section class="container-fluid padding-top">
		{{#mooqita_wide_spacing}}
			{{>post_group group_name="frontpage"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>

<template name="mooqita_bugs">
	<section class="container-fluid padding-top">
		{{#mooqita_wide_spacing}}
			{{>post_group group_name="bugs"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>

<template name="mooqita_work_learn">
	<section class="container-fluid padding-top">
		{{#mooqita_wide_spacing}}
			{{>post_group group_name="work_learn"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>

<template name="mooqita_terms">
	<section class="container-fluid padding-top">
		{{#mooqita_wide_spacing}}
			{{>post_group group_name="terms"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>

<template name="mooqita_privacy">
	<section class="container-fluid padding-top">
		{{#mooqita_wide_spacing}}
			{{>post_group group_name="privacy"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>