<template name="mooqita_footer">
	<section class="container-fluid mooqita-footer" style="padding-bottom: 25px">
		{{#mooqita_wide_spacing}}
			<div class="row">
				<div class="col-md-6 text-center">
					<h1>Need Help?</h1>
					<hr>
					<p><a href="help">Our Help Pages</a></p>
					<p><a href="privacy">Privacy Statement</a></p>
					<p><a href="terms-of-use">Terms of Use</a></p>
				</div>

				<div class="col-md-6 text-center">
					<h1>Meet Mooqita</h1>
					<hr>
					<p><a href="about">About</a></p>
					<p><a href="team">Our Team</a></p>
					<p><a href="research">Research</a></p>
				</div>
			</div>
			{{>post_group group_name="footer"}}
		{{/mooqita_wide_spacing}}
	</section>
</template>
