<template name="dynamic_response_loader">
	{{#if loaded}}
		{{#if response}}
			{{>dynamic_template_loader template_id=template_id data=response}}
		{{else}}
			{{#if create}}
				{{>add_response}}
			{{/if}}
		{{/if}}
	{{else}}
		<div style="">
			<h1 style="	position: absolute;
									top: 40%;
									left: 50%;
									transform: translate(-50%, -50%);">
				Searching for existing response
				<em><span class="glyphicon glyphicon-refresh spin"></span></em>
			</h1>
		</div>
	{{/if}}
</template>


<template name="add_response">
	<h1>
		Please wait we prepare the task
		<em><span class="glyphicon glyphicon-refresh spin"></span></em>
	</h1>
</template>


