////////////////////////////////////////////////
@import "{}/client/apps/mooqita/style/_color.scss";
@import "{}/client/apps/mooqita/style/_fonts.scss";

///////////////////////////////////////////////
// Basic elements
////////////////////////////////////////////////

////////////////////////////////////////////////
html,body{
	height: 100%;
	min-height: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
}

h1, .h1{
	font-weight: 300;
	font-size: 2.1em;

	margin-top: 1.2em;
	margin-bottom: 0.8em;
}

h1.editable{
	padding: 0px;
}

h1.editable .edit-field{
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background: none;
	font: inherit;
	border: inherit;
	text-align: inherit;
	color: inherit;
	display: initial;
	height: 100%;
	padding: 0px;
}

h2, .h2{
	font-weight: 300;
	font-size: 1.5em;

	margin-top: 1.05em;
	margin-bottom: 0.7em;
}

h3, .h3{
	font-weight: 300;
	font-size: 1.2em;

	margin-top: 0.9em;
	margin-bottom: 0.6em;
}

h4, .h4{
	font-weight: 600;
	font-size: 0.9em;

	margin-top: 0.9em;
	margin-bottom: 0.6em;
}

em{
	color: $theme;
	font-style: inherit;
}

header{
	background-color: $background;
}

main{
	min-height: 100%;
}

#__blaze-root{
	display: initial;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	//height: 100%;
	margin: 0 auto -150px;
	display: inherit;
}

footer{
	min-height: 250px;
	background-color: $theme-dark;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: $theme;
}

.footer-push {
	height: 150px;
}

////////////////////////////////////////////////
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

///////////////////////////////////////////////
// Button colors
////////////////////////////////////////////////

////////////////////////////////////////////////
.btn{
	margin: auto;
	margin-bottom: 10px;
	padding: 8px 10px
}

.btn:hover{
	margin: auto;
	margin-bottom: 10px;
	padding: 9px 9px 7px 11px;

  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .5);
}

.btn-theme {
	color: $text-on-theme;
	border-color: $theme;
	background-color: $theme;
}

.btn-contrast {
	color: $text-on-theme;
	border-color: $contrast-on-theme;
	background-color: $contrast-on-theme;
}

.btn-translucent {
	color: $text-on-theme;
	border: none;
	background-color: inherit;
}

////////////////////////////////////////////////
// medium column
////////////////////////////////////////////////
.col-ms-1,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9,
.col-ms-10,
.col-ms-11,
.col-ms-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 480px) and (max-width: 767px) {
  .col-ms-1,
  .col-ms-2,
  .col-ms-3,
  .col-ms-4,
  .col-ms-5,
  .col-ms-6,
  .col-ms-7,
  .col-ms-8,
  .col-ms-9,
  .col-ms-10,
  .col-ms-11 {
    float: left; }

  .col-ms-1 {
    width: 8.33333%; }

  .col-ms-2 {
    width: 16.66667%; }

  .col-ms-3 {
    width: 25%; }

  .col-ms-4 {
    width: 33.33333%; }

  .col-ms-5 {
    width: 41.66667%; }

  .col-ms-6 {
    width: 50%; }

  .col-ms-7 {
    width: 58.33333%; }

  .col-ms-8 {
    width: 66.66667%; }

  .col-ms-9 {
    width: 75%; }

  .col-ms-10 {
    width: 83.33333%; }

  .col-ms-11 {
    width: 91.66667%; }

  .col-ms-12 {
    width: 100%; }

  .col-ms-push-1 {
    left: 8.33333%; }

  .col-ms-push-2 {
    left: 16.66667%; }

  .col-ms-push-3 {
    left: 25%; }

  .col-ms-push-4 {
    left: 33.33333%; }

  .col-ms-push-5 {
    left: 41.66667%; }

  .col-ms-push-6 {
    left: 50%; }

  .col-ms-push-7 {
    left: 58.33333%; }

  .col-ms-push-8 {
    left: 66.66667%; }

  .col-ms-push-9 {
    left: 75%; }

  .col-ms-push-10 {
    left: 83.33333%; }

  .col-ms-push-11 {
    left: 91.66667%; }

  .col-ms-pull-1 {
    right: 8.33333%; }

  .col-ms-pull-2 {
    right: 16.66667%; }

  .col-ms-pull-3 {
    right: 25%; }

  .col-ms-pull-4 {
    right: 33.33333%; }

  .col-ms-pull-5 {
    right: 41.66667%; }

  .col-ms-pull-6 {
    right: 50%; }

  .col-ms-pull-7 {
    right: 58.33333%; }

  .col-ms-pull-8 {
    right: 66.66667%; }

  .col-ms-pull-9 {
    right: 75%; }

  .col-ms-pull-10 {
    right: 83.33333%; }

  .col-ms-pull-11 {
    right: 91.66667%; }

  .col-ms-offset-1 {
    margin-left: 8.33333%; }

  .col-ms-offset-2 {
    margin-left: 16.66667%; }

  .col-ms-offset-3 {
    margin-left: 25%; }

  .col-ms-offset-4 {
    margin-left: 33.33333%; }

  .col-ms-offset-5 {
    margin-left: 41.66667%; }

  .col-ms-offset-6 {
    margin-left: 50%; }

  .col-ms-offset-7 {
    margin-left: 58.33333%; }

  .col-ms-offset-8 {
    margin-left: 66.66667%; }

  .col-ms-offset-9 {
    margin-left: 75%; }

  .col-ms-offset-10 {
    margin-left: 83.33333%; }

  .col-ms-offset-11 {
    margin-left: 91.66667%; }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 748px; }

  .form-horizontal .form-group .control-label {text-align:right;}
}

