///////////////////////////////////////////////
// colors
////////////////////////////////////////////////

////////////////////////////////////////////////
@import "{}/client/apps/mooqita/style/_color.scss";
@import "{}/client/apps/mooqita/style/_fonts.scss";

////////////////////////////////////////////////
//
// Mooqita
//
////////////////////////////////////////////////

////////////////////////////////////////////////
// basics
////////////////////////////////////////////////

////////////////////////////////////////////////
.mooqita-layout{
}

.mooqita-layout h1{
}

.mooqita-layout p{
	margin-bottom: 25px;
}

.mooqita-layout p.user-data{
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.mooqita-layout .embedded-form{
	padding: 20px 20px 30px 20px;
	border: 2px solid #ddd;
	margin-bottom: 15px;
}

.mooqita-layout .form-control{
	border: 2px solid #ddd;
}

.mooqita-layout .well{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

////////////////////////////////////////////////
// itemized an item encompasses other elements
// with a border
////////////////////////////////////////////////

////////////////////////////////////////////////
.mooqita-layout .item {
	border: 2px solid #ddd;
	padding: 25px;
	margin: 0px;
	margin-bottom: 60px;
}

.mooqita-layout .item.padding-top{
	margin-top: 35px;
}

.mooqita-layout .item h1{
	margin: 0px;
	padding: 0px 0px 20px 0px;
}

.mooqita-layout .item h3{
	padding: 0px;
	margin: 30px 0px 20px 0px;
}

.mooqita-layout .item .row-header{
	padding: 0px;
	font-weight: 600;
	margin: 0px 0px 20px 0px;
}

.mooqita-layout .item hr {
	margin-bottom: 30px;
}

.mooqita-layout .item .rating_line{
	padding: 0px 0px 20px 0px;
	text-align: right;
}

.mooqita-layout .item .wide_link{
	padding-top: 15px;
	text-align: center;
}

.mooqita-layout .item .edit-toggle{
	color: $theme;
}

.mooqita-layout .item .edit-toggle:hover{
	color: $theme;
}

.mooqita-layout .item .media-body{
	padding-left: 20px;
}

.mooqita-layout .item .media-body h2{
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.mooqita-layout .select-occupation{
	font-size: 1.5em;
	text-align: center;
}

.mooqita-layout .select-occupation .item:hover{
	border-color: $theme;
	//background: $theme-light;
}

.mooqita-layout .select-occupation .glyphicon{
	font-size: 2em;
	color: $theme;
}

.mooqita-layout .select-occupation label{
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}

////////////////////////////////////////////////
// landing page hero
////////////////////////////////////////////////

////////////////////////////////////////////////
.padding-top{
	padding-top: 50px;
}

////////////////////////////////////////////////
.hero {
	background-repeat: repeat, no-repeat;
	background-size: auto auto, cover;
	background-position: 0 0, top center;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
	position: relative;
	height: auto;
	min-height: 350px;
}

.hero h1 {
	color: #fff;
	max-width: 650px;
	font-size: 50px;
	font-weight: 300;
	text-align: center;
}

.hero-background{
//	background-image: linear-gradient(rgba(#ffb804,0.4), rgba($theme,0.6)), url(/images/bg.jpg);
	background-image: linear-gradient(rgba(#ffb804,0.4), rgba($theme,0.6)), url(/images/bg.jpg);
}

