<!------------------------------------------------
|
|	Learner reviews
|
-------------------------------------------------->
<template name="reviews">
	{{#mooqita_wide_spacing}}
		<div class="item-set padding-top">
			<h1>Reviews</h1>

			<p class="padding-next">
				Here you can find all reviews you wrote for your peers.
				If you can not find reviews here please go back to
				<a href="/app/solutions">My Challenges</a>
				and select the challenge you want to write a review for.
			</p>

			{{#paging subscription="my_reviews" page=0 count=10 parameter=parameter}}
				{{#each reviewed_challenges}}
					{{#each reviews challenge_id}}
						{{>review_preview}}
					{{/each}}
				{{else}}
					<hr>
					<h1 class="text-center padding-next"
							style="padding-bottom: 45px">
						<em>No Reviews yet.</em>
					</h1>
				{{/each}}
				<hr>
			{{/paging}}
		</div>
	{{/mooqita_wide_spacing}}
</template>


<template name="review_preview">
	{{#if first}}
		<hr>

		<h2>{{challenge.title}}</h2>
		{{>more content=challenge.content}}
	{{/if}}

	<div class="indent_l1">
		<h2>
			<a href="{{g_build_url "review" (g_object review_id=_id
																						solution_id=solution_id
																						challenge_id=challenge_id)}}">
				{{#unless g_is_public "Reviews"}}
					<span class="badge background-contrast">open</span>
				{{/unless}}
				Your review
			</a>

			{{#if g_is_public "Reviews"}}
				<em>
					<span class="pull-right">
						<span class="glyphicon glyphicon-check"></span>
					</span>
				</em>
			{{/if}}
		</h2>
		{{>more content=content}}
	</div>
</template>


<template name="review">
	{{#mooqita_wide_spacing}}
		{{#unless Template.subscriptionsReady}}
			{{>wait}}
		{{else}}
			<div class="item-set padding-top">
				{{#with challenge}}
					<h1>{{title}}</h1>

					{{>more content=content}}

					{{#if material}}
						<h2>
							{{>download collection_name="Challenges"
								item_id=_id field="material"}}
						</h2>
					{{/if}}
				{{/with}}

				{{#with solution}}
					<h1>Solution</h1>

					{{>more content=content}}

					{{#if material}}
						<h2>
							{{>download collection_name="Solutions"
								item_id=_id field="material"}}
						</h2>
					{{/if}}
				{{/with}}

				{{#with review}}
					{{#unless g_is_public "Reviews"}}
						<h2>Todo List: Review</h2>
						<hr>
						<div class="alert alert-warning">
							Here is a list of things you have to do before your review is done:
							<ul>
								{{#unless g_is_saved "Reviews"}}
									<li>Write your review. Well that seems obvious.</li>
									<li>And save it!</li>
								{{/unless}}

								{{#unless rating}}
									<li>Select a rating for the solution.</li>
								{{/unless}}

									<li>Publish your review.</li>
							</ul>
						</div>
					{{/unless}}
					<h1>Your Review</h1>
					{{#unless g_is_public "Reviews"}}
						{{>markdown_input method="set_field" collection_name="Reviews"
							item_id=_id field="content" placeholder="Please provide your feedback here"}}
					{{else}}
						<p>
							{{>more content=content}}
						</p>
					{{/unless}}

					<div class="form-group">
						{{#unless g_is_public "Reviews"}}
							<h2>Rating</h2>
							{{>select_input method="set_field" collection_name="Reviews"
									item_id=_id field="rating" options=g_rating_options }}
						{{else}}
							<h2>Your rated the solution with <em>{{rating}}</em> out of <em>5</em></h2>
						{{/unless}}
					</div>

					{{#unless g_is_public "Reviews"}}
						<div class="row">
							<div class="form-group col-sm-6">
								<span class="btn-group btn-group-justified">
									<div class="btn btn-theme" id="save">Save</div>
								</span>
							</div>
							<div class="form-group col-sm-6">
								<span class="btn-group btn-group-justified">
									<div class="btn btn-theme" {{publish_disabled}}
											 id="publish">Make public</div>
								</span>
							</div>
						</div>
					{{else}}
						{{>feedback_review}}
					{{/unless}}
				{{/with}}

				<span class="btn-group btn-group-justified">
					<a class="btn btn-theme"
						 href="{{solution_url}}">
						Go back to your Solution
					</a>
				</span>
			</div>
		{{/unless}}
	{{/mooqita_wide_spacing}}
</template>


<template name="publish_review">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">Publish review</h1>
				</div>

				<div class="modal-body">
					<p>
						Are you sure you want to publish your review?<br>
						If you publish your review it will be send to <br>
						the author of the solution to gather feedback. <br>
					</p>

					<p>
						<em>This can not be undone!</em>
					</p>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Not yet</a>
						<a type="button" class="btn btn-theme" id="publish" data-dismiss="modal">Publish</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

