<template name="body_template" xmlns="http://www.w3.org/1999/html">
	<div class="wrapper">
		{{#if menu}}
			<header>
				{{>Template.dynamic template=menu}}
			</header>
		{{/if}}

		<main>
			{{>sAlert}}

			{{#if login}}
				{{#unless _profile}}
					{{>Template.dynamic template=login}}
				{{else}}
					{{>render_content}}
				{{/unless}}
			{{else}}
				{{>render_content}}
			{{/if}}
		</main>

		{{#if footer}}
			<div class="footer-push"> </div>
		{{/if}}
	</div>

	{{#if footer}}
		<footer>
			{{>Template.dynamic template=footer}}
		</footer>
	{{/if}}
</template>


<template name="render_content">
	{{#if layout}}
		{{#Template.dynamic template=layout}}
			{{#with ini_context}}
				{{>Template.dynamic template=content}}
			{{/with}}
		{{/Template.dynamic}}
	{{else}}
		{{#with ini_context}}
			{{>Template.dynamic template=content}}
		{{/with}}
	{{/if}}
</template>


<template name="response">
	{{>Template.dynamic template=content}}
</template>