<template name="avatar">
	<div class="avatar-box">
		<div class="avatar">
			<div class="avatar-container img-circle">
				{{#unless collection_name}}
					<img class="img-responsive img-avatar"
							 src="{{source}}"
							 alt="{{alt}}">
				{{else}}
					{{#unless (g_download_field_value collection_name item_id field observable)}}
						<div class="avatar-explain-container">
							<div class="avatar-explain">
								{{#if is_downloading}}
									<span>
										<em><span class="fa fa-refresh fa-2x spin center-icon"></span></em>
									</span>
								{{else}}
									{{explain}}
								{{/if}}
							</div>
						</div>
					{{else}}
						<img class="img-responsive img-avatar"
								 src="{{g_download_field_value collection_name item_id field observable}}"
								 alt="{{alt}}">
					{{/unless}}
				{{/unless}}
			</div>
		</div>
	</div>
</template>