<!-----------------------------------------------------------------------------
| Select Input
------------------------------------------------------------------------------>
<template name="select_input">
	<select class="form-control edit-field" id="{{field}}">
		{{#each options}}
			<option value="{{value}}" {{is_selected value}}>{{label}}</option>
		{{/each}}
	</select>
</template>


<!-----------------------------------------------------------------------------
| Basic Input
------------------------------------------------------------------------------>
<template name="basic_input">
	{{#if label}}
		<label class="{{label_class}}" for="{{field}}">{{label}}</label>
	{{/if}}

	<input placeholder="{{placeholder}}"
				 class="form-control edit-field" {{special}}
				 type="{{type}}" id="{{field}}" value="{{value}}"
				 aria-describedby="{{field}}_explain"/>

	{{#if explain}}
		<small id="{{field}}_explain" class="form-text text-muted">
			{{explain}}
		</small>
	{{/if}}
</template>


<!-----------------------------------------------------------------------------
| Text Input using a TextArea
------------------------------------------------------------------------------>
<template name="text_input">
	{{#if label}}
		<label for="{{field}}">{{label}}</label>
	{{/if}}

	<textarea  class="form-control edit-field" placeholder="{{placeholder}}" id="{{field}}"
						 rows="{{rows}}" aria-describedby="{{field}}_explain">{{value}}</textarea>

	{{#if explain}}
		<small id="{{field}}_explain" class="form-text text-muted">
			{{explain}}
		</small>
	{{/if}}
</template>


<!-----------------------------------------------------------------------------
| Text Input using a markdown field
------------------------------------------------------------------------------>
<template name="markdown_input">
	{{#if label}}
		<label for="{{field}}">{{label}}</label>
	{{/if}}

	<div class="btn-group btn-group-justified">
		{{#if preview}}
			<a class="btn btn-theme"
				 style="border-bottom-left-radius: 0px"
				 id="preview_toggle">
				<span class="fa fa-edit"></span>
				Edit
			</a>
		{{else}}
			<a class="btn btn-theme"
				 style="border-bottom-left-radius: 0px"
				 id="preview_toggle">
				<span class="fa fa-eye"></span>
				Preview
			</a>
		{{/if}}

		<a class="btn btn-theme" target="_blank"
			 style="border-bottom-right-radius: 0px"
			 href="https://daringfireball.net/projects/markdown/syntax">
			<span class="fa fa-book"></span>
			Markdown Documentation
		</a>
	</div>

	{{#if preview}}
		<div class="form-control"
				 style="height: auto; min-height: 265px; border-top-left-radius: 0px; border-top-right-radius: 0px;">
			{{#markdown}}{{{value}}}{{/markdown}}
		</div>
	{{else}}
		<textarea  class="form-control edit-field" placeholder="{{placeholder}}"
							 style="border-top-left-radius: 0px; border-top-right-radius: 0px;"
							 id="{{field}}" rows="11">{{value}}</textarea>
	{{/if}}

	{{#if explain}}
		<small id="{{field}}_explain" class="form-text text-muted">
			{{explain}}
		</small>
	{{/if}}
</template>


<!-----------------------------------------------------------------------------
| Text Input using code mirror what you see is what you get editor
------------------------------------------------------------------------------>
<template name="wysiwyg_input">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<textarea class="form-control" type="text"
									rows="12" id="editor_{{editor_id}}"
									placeholder="{{placeholder}}">{{value}}</textarea>
			</div>
			<div class="form-group">
				<div class="btn-group btn-group-justified">
					<div class="btn btn-theme" id="save">Save</div>
					</div>
			</div>
		</div>
	</div>
</template>


<!-----------------------------------------------------------------------------
| Text Input using code mirror what you see is what you get editor
------------------------------------------------------------------------------>
<template name="code_input">
	<div style="border: solid 1px #bbb; margin-bottom: 25px">
		{{> CodeMirror id=editor_id options=editorOptions code=editorCode}}
	</div>

	<div class="btn-group btn-group-justified">
		<div class="btn btn-theme" id="save">Save</div>
	</div>
</template>
