<!------------------------------------------------
|
|	list_view
|
| Example:
| page: <int> current page starts at 0 default 0
| count: <int> number of elements per page default 10 max 100
| parameter: <ReactiveDict> for parameters passed to the subscription
| subscription: <string> name of the meteor subscription to call. The
|								subscription has to take the following form:
|								function subscription(page, count, parameter)
|
| {{>list_view subscription=<string>
|							page=<int>
|							size=<int>
|							parameter=<ReactiveDict>}}
|
-------------------------------------------------->

<template name="list_view">
	{{#unless Template.subscriptionsReady}}
		{{>wait}}
	{{else}}
		{{> Template.contentBlock}}

		{{#each items}}
			{{>Template.dynamic template=item_template data=.}}
		{{else}}
			<hr>

			<h2>
				<em>You have not submitted any solutions yet.</em>
			</h2>
		{{/each}}
	{{/unless}}
</template>
