<!-----------------------------------------------------------------------------
|
| Match Button
|
|	The following example matches the value of the "content" field from the
| "jobs" collection of the object with the specified item_id with the "content"
| field of all items in the collection "challenges". It will subscribe to the
| my_matches subscription to load resulting matches.
|
| {{>match_button collection_name="jobs" item_id=job._id field="content"
|					 				in_collection="challenges" in_field="content"}}
|
|	The following example matches the text variable with all documents from
| the collection "challenges". Variable is a ReactiveVar!
|
| {{>match_button variable=text	in_collection="challenges" in_field="content"}}
|
------------------------------------------------------------------------------>
<template name="match_button">
	<div class="btn btn-theme" id="match" {{match_disabled}}>
		{{#if is_matching}}
			<span class="glyphicon glyphicon-refresh spin"></span>
		{{else}}
			{{text}}
		{{/if}}
	</div>
</template>


<!-----------------------------------------------------------------------------
|
| Match Tags/Concepts
|
|	The following example extracts all concepts from the matches collection and
| shows them as tags. Tags can be removed and added by the user. Changes will
| be reflected in the database.
|
| {{>match_tags collection_name="jobs" item_id=job._id field="content"
|					 			in_collection="challenges" in_field="content"}}
|
------------------------------------------------------------------------------>
<template name="match_tags">
	{{#if has_concepts}}
		<p>
			We found <em style="font-weight: bold">{{n_matches}} matches</em>. Based on
			<em style="font-weight: bold">{{n_concepts}} concepts</em>. If you would like
			to refine the results you can remove unnecessary tags or add
			your own:
		</p>

		<h2>
			{{#each concept in concepts}}
				{{>tag label=concept drop_function=drop_function}}
			{{/each}}
		</h2>

		<div class="form-group">
			<input type="text" class="form-control" id="new_tag"
						 placeholder="Add your own concept"/>
		</div>
	{{else}}
		{{#if tasks}}
			<h2 class="text-center">
				One sec please. We crunch some numbers for you.
				<em><span class="glyphicon glyphicon-refresh spin"></span></em>
			</h2>
		{{else}}
			<h2>Not yet.</h2>
			<p>
				We have not found any matches. You can also improve your results
				by adding additional tags below...
			</p>

			<h2>
				{{#each concept in concepts}}
					{{>tag label=concept drop_function=drop_function}}
				{{/each}}
			</h2>

			<div class="form-group">
				<input type="text" class="form-control" id="new_tag"
							 placeholder="Add your own concept"/>
			</div>
		{{/if}}
	{{/if}}
</template>



