<!------------------------------------------------
|
|	paging
|
| Example:
| page: <int> current page starts at 0 default 0
| count: <int> number of elements per page default 10 max 100
| parameter: <ReactiveDict> for parameters passed to the subscription
| collection_name: <string> if set the items variable will contain the
|														items in the collection
| subscription: <string> name of the meteor subscription to call. The
|								subscription has to take the following form:
|								function subscription(page, count, parameter)
|
| {{>paging subscription=<string> page=<int>
|						size=<int> parameter=<ReactiveDict>
|						collection_name=<string>}}
|
-------------------------------------------------->
<template name="paging">
	<div class="row">
		<div class="col-sm-12">
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-theme dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{sort_by}}
						<span class="caret">
						</span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li class="select_sort" id="relevance"><a>Relevance</a></li>
						<li class="select_sort" id="date_created_dec"><a>Created (newest first)</a></li>
						<li class="select_sort" id="date_created_inc"><a>Created (oldest first)</a></li>
					</ul>
				</div>

				<input placeholder="{{placeholder}}" id="query"
						 class="form-control edit-field"/>

				<span class="input-group-btn">
					<button class="btn btn-theme" type="button" id="search">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div style="padding-top: 20px">
		{{#unless Template.subscriptionsReady}}
			{{> wait}}
		{{else}}
			{{> Template.contentBlock items=items}}
		{{/unless}}
	</div>

	<nav aria-label="...">
		<ul class="pager">
			<li class="previous">
				<a id="prev"><span aria-hidden="true">&larr;</span> Previous</a>
			</li>

			<li>
				<span>Page: {{page}}</span>
			</li>

			<li class="next">
				<a id="next">Next <span aria-hidden="true">&rarr;</span></a>
			</li>
		</ul>
	</nav>
</template>