<!---------------------------------------------------------
|
| usage example:
|	{{>tags method="set_field" collection_name="Reviews"
|		 item_id=_id field="rating" rating_options=g_rating_options }}
---------------------------------------------------------->
<template name="tags">
	<div style="padding: 5px 0px;">
		{{#each tags}}
			{{> tag}}
		{{/each}}
	</div>

	<input placeholder='separate each tag with a ","'
			 class="form-control edit-field" type="text"
			 id="{{field}}" value="{{tag_line}}"/>
</template>

<template name="tag">
	<div class="badge background-theme"
			 style="font-size: 1em; margin-top: 5px">
		{{label}}

		<form>
			<select class="form-control tags">
				{{#each options}}
					<option value="{{value}}" {{is_selected value}}>{{label}}</option>
				{{/each}}
			</select>
		</form>
	</div>
</template>