///////////////////////////////////////////////
// colors
////////////////////////////////////////////////
$highlight		: #8c91b9;
$highlight-1	: #6f7099;

$contrast		: #ffebc2;
$contrast-1	: #9a8d68;

$white			: #fff;

$light			: #eee;
$light-1		: #aaa;

$dark				: #444;
$dark-1			: #222;
