<!------------------------------------------------
|
|  all Learners
|
-------------------------------------------------->
<template name="learners">
    <style>
        .panel > .panel-heading {
            background-image: none;
            background-color: #A02D67;
            color: white;

        }

        .alert > .alert-success {
            background-color: #A02D67;
            color: white;
        }

        .progress  {
            background-color: white;
            color: white;
            height: 50px;
        }

        .progress > .progress-bar-success {
            background-color: #862D65;
            color: white;
        }

        .btn-group > .btn-success {
            background-color: #862D65;
            color: white;
            border: none;
        }

        .btn > .btn-success {
            background-color: #862D65;
            color: white;
            border: none;
            width: 230px;
        }
    </style>

    <ul>
        {{#each profile in all_users}}
            <li>
                {{profile}}
            </li>
        {{/each}}
    </ul>
    <div class="item-set padding-top">
        <h1>
            Active learners and scores to be paid.
            <div class="btn btn-theme pull-right"
                     style="min-width: 50px;"
                     id="make_payment">

                {{>popout_base title="Pay Them!"
                        content="Click to change account balance"
                        icon_class="glyphicon glyphicon-pencil"}}
            </div>
        </h1>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>All Profiles</h3>
                      </div>
                    <div class="panel-body">
                        <div class="list-group">
                            {{#each module in cobol_modules}}
                                {{#if is_module_completed @index}}
                                    <button class="list-group-item" data-toggle="modal" data-target="#cobol_module_{{@index}}">
                                        <h4 class="list-group-item-heading"><strong>Lesson {{module.module_number}}:</strong> {{module.title}}</h4>
                                        <p>{{module.description}}</p>
                                        <p><em>You have completed this module.</em></p>
                                    </button>
                                {{else if is_module_disabled @index }}
                                    <button class="list-group-item" data-toggle="modal" data-target="#cobol_module_{{@index}}" disabled>
                                        <h4 class="list-group-item-heading"><strong>Lesson {{module.module_number}}:</strong> {{module.title}}</h4>
                                        <p>{{module.description}}</p>
                                        <p><em>You do not have access to this module yet.</em></p>
                                    </button>
                                {{else}}
                                    <button class="list-group-item" data-toggle="modal" data-target="#cobol_module_{{@index}}">
                                        <h4 class="list-group-item-heading"><strong>Lesson {{module.module_number}}:</strong> {{module.title}}</h4>
                                        <p>{{module.description}}</p>
                                    </button>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!------------------------------------------------
|
| Edit the learner's score or something
|
-------------------------------------------------->
<template name="learner_select">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">
						Select a Learner
					</h1>
				</div>

				<div class="modal-body">
					<p>Please select a learner</p>
					{{#unless Template.subscriptionsReady}}
						{{>wait}}
					{{else}}
						<select class="selectpicker user_select_class form-control"
								title="Select organization" data-live-search="true" id="org_id">
							{{#each organizations}}
								<option value="{{_id}}">{{name}}</option>
							{{/each}}
						</select>
					{{/unless}}
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Cancel</a>
						{{#if org_selected}}
							<a type="button" class="btn btn-theme" id="learner_select" data-dismiss="modal">Add job posting</a>
						{{else}}
							<a type="button" class="btn btn-theme" disabled="true">Select</a>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
