<!------------------------------------------------
|
| Find all Learners
|
-------------------------------------------------->
<template name="learners">
    <h2>Learner Gradebook</h2>
    {{#each mail in mails}}
    <p>This is the profile{{profile}}</p>
    {{/each}}
<!--
    {{let learner=(has_profile profile)}}
    {{#if user}}
        {{#if learner}}
            <a href="{{g_build_url "profile"}}" target="_blank"></a>
        {{else}}
            <a href="{{g_build_url "profile"}}" target="_blank"></a>
        {{/if}}
    {{/if}}
    {{/let}}
-->

    <p>This is the profile of {{profile}}</p>
    <div class="row">
        <div class="col-sm-8">
            <select class="selectpicker user_select_class form-control"
                            title="Enter email to invite" data-live-search="true"
                            multiple id="user_select">
            </select>
        </div>
        <div class="col-sm-4">
            <div class="padding-next">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <div class="btn btn-theme" id="invite">Send Invites</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="auto-complete-list">
        {{#each mail in selected_users}}
            <li class="auto-complete-list-item">
                {{mail}}
                <span id="{{mail}}" class="list-remove fa fa-remove animated_0_2_s"></span>
            </li>
        {{/each}}
    </ul>
    <ul>
        {{#each mail in selected_users}}
            <li>
                {{mail}}
            </li>
        {{/each}}
    </ul>
    <h2>Learners</h2>
    <div class="row">
        {{#each member in members}}
            <div class="col-sm-4 col-ms-6" style="margin-bottom:20px">
                <div class="raised" style="min-height: 280px">
                    <div class="team-member-text-block">
                        <h2 style="overflow: hidden;">{{member.name}}</h2>
                        <p>
                            {{#if member.owner}}
                                This is your persona.
                            {{/if}}
                        </p>
                    </div>

                    {{#let data=(persona_data member)}}
                        {{#if member.owner}}
                            {{#if data}}
                                <a href="{{g_build_url "profile"}}" target="_blank"
                                     class="btn-float btn-contrast raised animated_0_2_s"
                                     style="right: 15px;">
                                    <span class="fa fa-2x fa-edit"></span>
                                </a>
                            {{else}}
                                <a href="{{g_build_url "onboarding_team"}}" target="_blank"
                                     class="btn-float btn-contrast raised animated_0_2_s"
                                     style="right: 15px;">
                                    <span class="fa fa-2x fa-edit"></span>
                                </a>
                            {{/if}}
                        {{/if}}

                        <div class="team-member-persona">
                            {{#if data}}
                                {{>persona persona_data=data has_text=true
                                                     width=300 height=150}}
                            {{else}}
                                {{>persona has_text=true
                                                     width=300 height=150}}
                            {{/if}}
                        </div>
                    {{/let}}
                </div>
            </div>
        {{/each}}

        {{#each invitation in invitations}}
            {{#unless invitation.accepted}}
                <div class="col-sm-4 col-ms-6" style="margin-bottom:20px">
                    <div class="raised" style="min-height: 280px">
                        <div class="team-member-text-block">
                            <h2 style="overflow: hidden;">{{invitation.email}}</h2>
                            <div>
                                <div class="btn-group pull-right">
                                    <span class="btn btn-theme">
                                        {{> popout_base title="Pending"
                                                content="The invitation was not accepted yet."
                                                icon_class="fa fa-clock-o"}}
                                    </span>

                                    <span class="btn btn-theme">
                                        <a href="{{invitation_url invitation}}">
                                            {{> popout_base title="Link"
                                                    content="Click this button to go to the invitation link."
                                                    icon_class="fa fa-link"}}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="team-member-persona">
                            {{>persona has_text=false width=300 height=150}}
                        </div>
                    </div>
                </div>
            {{/unless}}
        {{/each}}
    </div>
    <div class="item-set padding-top">
        <h1>
            Active Learners
            <div class="btn btn-theme pull-right"
                     style="min-width: 50px;"
                     id="make_payment">

                {{>popout_base title="Pay Them!"
                        content="Click to change account balance"
                        icon_class="glyphicon glyphicon-pencil"}}
            </div>
        </h1>

        <p class="padding-next">
            Find the jobs you posted to our system.
        </p>
        <div class="col-sm-2 col-ms-3 text-center">
			{{#each profile}}
				{{>avatar collection_name="Profiles"
					 observe = profile.avatar
					 item_id = profile._id
					 field = "avatar"}}

				<a class="color-theme">{{g_name_from_profile profile true}}</a>
			{{/each}}
		</div>

        {{#paging subscription="my_jobs" page=0 count=10
                            parameter=parameter collection_name="jobs"}}
            {{#each items}}
                {{>job_preview}}
            {{else}}
                <hr>
                <h1 class="text-center padding-next"
                        style="padding-bottom: 45px">
                    <em>No Learners yet.</em>
                </h1>
            {{/each}}
            <hr>
        {{/paging}}
    </div>
</template>
<!------------------------------------------------
|
| Add new Learner
|
-------------------------------------------------->
<template name="learner_select">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">
						Select a Learner
					</h1>
				</div>

				<div class="modal-body">
					<p>Please select a learner</p>
					{{#unless Template.subscriptionsReady}}
						{{>wait}}
					{{else}}
						<select class="selectpicker user_select_class form-control"
								title="Select organization" data-live-search="true" id="org_id">
							{{#each organizations}}
								<option value="{{_id}}">{{name}}</option>
							{{/each}}
						</select>
					{{/unless}}
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Cancel</a>
						{{#if org_selected}}
							<a type="button" class="btn btn-theme" id="learner_select" data-dismiss="modal">Add job posting</a>
						{{else}}
							<a type="button" class="btn btn-theme" disabled="true">Select</a>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
