# Worklearn #
ROOT_URL=http://localhost:3000

# Database #
MONGO_URL=mongodb://mongo:27017/worklearndb

# Mail #
MAIL_URL=smtp://SEND_MAIL_ADDRESS:@MAIL_PROVIDER:PORT

# Storage #
DROP_BOX_ACCESS_TOKEN=null
