<template name="cobol_course">
    <style>
        .panel > .panel-heading {
            background-image: none;
            background-color: #A02D67;
            color: white;

        }

        .alert > .alert-success {
            background-color: #A02D67;
            color: white;
        }

        .progress  {
            background-color: white;
            color: white;
            height: 50px;
        }

        .progress > .progress-bar-success {
            background-color: #862D65;
            color: white;
        }

        .btn-group > .btn-success {
            background-color: #862D65;
            color: white;
            border: none;
        }

        .btn > .btn-success {
            background-color: #862D65;
            color: white;
            border: none;
            width: 230px;
        }
    </style>

    <div class="header">
        <center>
            <br />
        </center>
    </div>
    <div class="container">
        <center>
            <h1>Course Home:
                <strong>COBOL</strong>
                <span type="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#info"></span>
            </h1>
            <div id="info" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">About Common Business-Oriented Language (COBOL)</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                Despite its status as a legacy programming language, COBOL is still widely used and highly valued in business, finance, and government applications. The rise of experienced COBOL programmers retiring has created a market for nearly anyone who can maintain existing systems - without being a professional programmer.
                                This course will teach skills that are critical to understanding, writing, debugging, and maintaining COBOL programs. Topics that will be covered include language design basics, data types and manipulation, arithmetic, logical operations, and real world examples.
                                Successful completion of this course will permit you to attempt paid challenges and offer a certificate to showcase on your LinkedIn profile.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Course Progress</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-9 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                    <h2>40%</h2>
                                </div>
                            </div>
                        </div>
                        <center>
                            <div class="btn btn-right">
                                <a href="#" class="btn btn-lg btn-success">Resume Course</a>
                            </div>
                            <h1>Next Lesson: <strong>Loops</strong></h1>
                        </center>
                     </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Course Content</h3>
                      </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading"><strong>Lesson 1:</strong> Introduction</h4>
                                <p class="list-group-item-text">In this lesson you will learn the basics of COBOL.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading"><strong>Lesson 2:</strong> Variables</h4>
                                <p class="list-group-item-text">In this lesson you will learn the basics of variables.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h4 class="list-group-item-heading"><strong>Lesson 3:</strong> The Compiler</h4>
                                <p class="list-group-item-text">In this lesson you will learn the basics of the compiler.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
