<template name="comp_thinking_course">
    <style>
        .panel > .panel-heading {
            background-image: none;
            background-color: #A02D67;
            color: white;

        }

        .alert > .alert-success {
            background-color: #A02D67;
            color: white;

        }

        .progress  {
          background-color: white;
            color: white;
            height: 50px;

        }

        .progress > .progress-bar-success {
          background-color: #862D65;
            color: white;

        }

        .btn-group > .btn-success {
          background-color: #862D65;
            color: white;
            border: none;

        }

        .btn > .btn-success {
          background-color: #862D65;
            color: white;
            border: none;
            width: 230px;

        }
    </style>

    {{#each module in comp_thinking_modules}}
        <div id="comp_thinking_module_{{@index}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h3 class="modal-title">{{module.title}}</h3>
                    </div>
                    <div class="modal-body">
                        <p>
                            <html>
                                {{{module.content}}}
                            </html>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#comp_thinking_module_{{comp_thinking_module_back @index}}">Back</button>
                        <button type="button" class="btn btn-default comp_thinking_module_next" data-dismiss="modal" data-toggle="modal" data-target="#comp_thinking_module_{{comp_thinking_module_next @index}}" value="{{@index}}">Next</button>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

    <div class="header">
        <center>
            <br />
        </center>
    </div>
    <div class="container">
        <center>
            <h1>Course Home: <strong>Computational Thinking</strong>
                <span type="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#info"></span>
            </h1>
            <div id="info" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">About Computational Thinking</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                This course will teach you the very basics of computer science programming. It is meant for users with little to no prior computer programming experience. This course discusses the necessary tools and programs to get you started in programming. It will teach the user the computational logic behind most computer programming languages. These elements include variables, operators, operands, data types, and IDK ADD MORE. It will teach the user to implement these elements in analytical thought processes such if, if/else, while, and for looping.
                                Successful completion of this course will permit you to attempt paid challenges and offer a certificate to showcase on your LinkedIn profile.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Course Progress</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-9 col-xs-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{comp_thinking_course_progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{comp_thinking_course_progress}}%">
                                    <h2>{{comp_thinking_course_progress}}%</h2>
                                </div>
                            </div>
                        </div>
                        <center>
                            <div class="btn btn-right">
                                <button data-toggle="modal" data-target="#comp_thinking_module_{{comp_thinking_module_resume}}" class="btn btn-lg btn-success">Resume Course</button>
                            </div>
                            {{#if comp_thinking_module_resume_title}}
                                <h1>Current Lesson: <strong>{{comp_thinking_module_resume_title}}</strong></h1>
                            {{else}}
                                <h1>Course Completed</h1>
                            {{/if}}
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Course Content</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            {{#each module in comp_thinking_modules}}
                                {{#if is_module_completed @index}}
                                    <button class="list-group-item" data-toggle="modal" data-target="#comp_thinking_module_{{@index}}">
                                        <h4 class="list-group-item-heading"><strong>Lesson {{module.module_number}}:</strong> {{module.title}}</h4>
                                        <p>{{module.description}}</p>
                                        <p><em>You have completed this module.</em></p>
                                    </button>
                                {{else if is_module_disabled @index }}
                                    <button class="list-group-item" data-toggle="modal" data-target="#comp_thinking_module_{{@index}}" disabled>
                                        <h4 class="list-group-item-heading"><strong>Lesson {{module.module_number}}:</strong> {{module.title}}</h4>
                                        <p>{{module.description}}</p>
                                        <p><em>You do not have access to this module yet.</em></p>
                                    </button>
                                {{else}}
                                    <button class="list-group-item" data-toggle="modal" data-target="#comp_thinking_module_{{@index}}">
                                        <h4 class="list-group-item-heading"><strong>Lesson {{module.module_number}}:</strong> {{module.title}}</h4>
                                        <p>{{module.description}}</p>
                                    </button>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="containter">
        </div>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Recently Posted Challenges</h3>
                        <h5>Here are a list of recent challenges with Computational Thinking</h5>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            {{#each challenge in comp_thinking_challenges}}
                                <a href="{{challenge.link}}" class="list-group-item">
                                    <em>Title: </em>
                                    {{challenge.title}} <br />
                                    <em>Description: </em>
                                    {{challenge.content}}
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 col-sm-12" >
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Online Resources</h3>
                        <p>Here is a list of useful online resources</p>
                    </div>
                     <div class="panel-body">
                        <div class="list-group">
                            <a href="https://www.w3schools.com/" target="_blank" class="list-group-item"><h2>W3Schools</h2><br/><p>Great resource for practicing what you learn</p></a>
                            <a href="https://www.youtube.com/" target="_blank" class="list-group-item"><h2>Youtube</h2><br/><p>Great resource for practicing what you learn</p></a>
                            <a href="#" class="list-group-item"><h2>Other Link</h2><br/><p>Great resource for practicing what you learn</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
