<!------------------------------------------------
|
|	Learner Education
|
-------------------------------------------------->

<template name="learner_education">
	<div class="container-fluid">
		{{#mooqita_wide_spacing}}
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<br>
						<p>Check out these subjects...</p>
                        <h1>Select a subject </h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="select-occupation {{select_disabled}}">
						<div class="item" id="learner_comp_thinking">
							<div class="row">
								<div class="col-md-12 col-sm-6 col-xs-6 text-right">
									<div class="glyphicon glyphicon-console"></div>
								</div>

								<div class="col-md-12 col-sm-6 col-xs-6 text-left">
									<h2>Comp. Thinking</h2>
								</div>
							</div>
						</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width:72%">
                                72%
                            </div>
                        </div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="select-occupation">
						<div class="item" id="learner_python">
							<div class="row">
								<div class="col-md-12 col-sm-6 col-xs-6 text-right">
									<div class="glyphicon glyphicon-education"></div>
								</div>

								<div class="col-md-12 col-sm-6 col-xs-6 text-left">
									<h2>Python</h2>
								</div>
							</div>
						</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width:43%">
                                43%
                            </div>
                        </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="select-occupation">
						<div class="item" id="learner_cobol">
							<div class="row">
								<div class="col-md-12 col-sm-6 col-xs-6 text-right">
									<div class="glyphicon glyphicon-briefcase"></div>
								</div>

								<div class="col-md-12 col-sm-6 col-xs-6 text-left">
									<h2>Cobol</h2>
								</div>
							</div>
						</div>
						<div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width:11%">
                                11%
                            </div>
                        </div>
					</div>
				</div>
            </div>
		{{/mooqita_wide_spacing}}
	</div>
</template>
<!------------------------------------------------
|
|	COBOL Modal
|
-------------------------------------------------->
<template name="learner_cobol">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Common Business-Oriented Language (COBOL)</h2>
				</div>

				<div class="modal-body">
					<p>
						Despite its status as a legacy programming language, COBOL is still widely used and highly valued in business, finance, and government applications.
						The rise of experienced COBOL programmers retiring has created a market for nearly anyone who can maintain existing systems - without being a professional programmer.<br><br>
						This course will teach skills that are critical to understanding, writing, debugging, and maintaining COBOL programs. Topics that will be covered include language design basics, data types and manipulation, arithmetic, logical operations, and real world examples.
						<br><br>
					</p>

					<p>
						<em><b>Successful completion of this course will permit you to attempt paid challenges and offer a certificate to showcase on your LinkedIn profile.</b></em>
					</p>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Not interested</a>
						<a type="button" href="{{build_url "COBOL_course"}}" data-toggle="modal" class="btn btn-theme" id="cobol_close">See more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<!------------------------------------------------
|
|	Comp. Thinking Modal
|
-------------------------------------------------->
<template name="learner_comp_thinking">
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Title</h2>
					</div>
	
					<div class="modal-body">
						<p>
							This is about this course
							<br>
						</p>
	
						<p>
							<em><b>Successful completion of this course will permit you to attempt paid challenges and offer a certificate to showcase on your LinkedIn profile.</b></em>
						</p>
					</div>
	
					<div class="modal-footer">
						<div class="btn-group btn-group-justified">
							<a type="button" class="btn btn-theme" data-dismiss="modal">Not interested</a>
							<a type="button" href="{{build_url "comp_thinking_course"}}" class="btn btn-theme" id="comp_thinking_close">See more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
<!------------------------------------------------
|
|	Python Modal
|
-------------------------------------------------->
<template name="learner_python">
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Python</h2>
					</div>
	
					<div class="modal-body">
						<p>
							Python is a widely used language for diverse uses such as web development, scientific research, machine learning, data analytics, etc. It is a highly flexible interpreted language that is in high demand.<br><br>
							This course will take a beginning programmer through Hello World through variables, arithmetic operations, conditionals, loops, lists, dictionaries, and basic file processing. At the end of this course the student will be able to post a certificate to their LinkedIn account and be able to complete challenges to gain a better grasp of the language and how to use it in the real world.<br><br>

							<br>
						</p>
	
						<p>
							<em><b>Successful completion of this course will permit you to attempt paid challenges and offer a certificate to showcase on your LinkedIn profile.</b></em>
						</p>
					</div>
	
					<div class="modal-footer">
						<div class="btn-group btn-group-justified">
							<a type="button" class="btn btn-theme" data-dismiss="modal">Not interested</a>
							<a type="button" href="{{build_url "python_course"}}" data-toggle="modal" class="btn btn-theme" id="py_close">See more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>


	<!--div class="col-md-12">
		<h2>Credits <span class="badge background-contrast">1</span></h2>
		<p>
			Credits is the currency in Mooqita.
			Every time you write a review you get credits.
			You can spend these credits requesting reviews.
			Every review that you write will also influence
			your resume and your score card.
		</p>


	</div-->
