<template name="student_messages">
	{{#mooqita_wide_spacing}}
		<div class="item padding-top">
			<h1>Messages</h1>
			<hr>
			{{#each messages}}
				<div  id="message">
					<h2>
						{{#unless seen}}
							<span class="badge background-contrast">new</span>
						{{/unless}}
						<a href="{{url}}">{{title}}</a>
					</h2>
					{{>more content=content}}
				</div>
			{{else}}
				<h2><em>As of now you have not received any messages.</em></h2>
			{{/each}}
		</div>
	{{/mooqita_wide_spacing}}
</template>