<!------------------------------------------------
|
|	Learner resumes
|
-------------------------------------------------->
<template name="learner_resumes">
	{{#mooqita_wide_spacing}}
		{{#if Template.subscriptionsReady}}
			<!--{{>popout content="content" title="title" p_url="login"}}-->
			{{>resume_basic current_resume}}
			{{>resume_solutions current_resume}}
		{{else}}
			{{>wait}}
		{{/if}}
	{{/mooqita_wide_spacing}}
</template>


<template name="resume_basic">
	<div class="item padding-top">
		<div class="row">
			<div class="col-sm-4 col-ms-4">
				{{>avatar collection_name = "Profiles"
					observable = avatar
					item_id = (profile_id _id)
					field = "avatar"}}
			</div>

			<div class="col-sm-8 col-ms-8">
				<h2>
					<em>{{name}}</em>
				</h2>

				{{>more content=self_description}}
			</div>
		</div>
	</div>
</template>


<template name="resume_solutions">
	{{#if solutions}}
		<div class="item">
			<h1>Portfolio</h1>

			{{#each solutions}}
				{{>resume_solution}}
			{{/each}}
		</div>
	{{/if}}
</template>


<template name="resume_solution">
	<hr>

	<div class="row">
		<div class="col-md-4">
			<h2>Average rating <em>{{average_rating}}</em> of <em>5</em></h2>
		</div>
		<div class="col-md-8">
			<h2>{{challenge_title}}</h2>
		</div>
	</div>

	<!--This formatting is required for user
			generated text to look as intended-->
	{{>more content=challenge}}

	{{#unless reviews_visible}}
		<h2>
			<a id="show_reviews">
				<em>Show solution and reviews</em>
			</a>
		</h2>
	{{/unless}}

	{{#if reviews_visible}}
		<h2>
			Solution
			<a class="pull-right" id="show_reviews">
				<em>Hide reviews</em>
			</a>
		</h2>

		{{>more content=solution}}

		<h2>Reviews</h2>

		{{#each reviews}}
			{{>resume_review}}
		{{else}}
			<div class="well">
				No reviews yet.
			</div>
		{{/each}}
	{{/if}}
</template>


<template name="resume_review">
	<div class="media" style="padding-bottom: 25px">
		<div class="media-left">
			<a href="{{build_url "resume"}}">
				<img class="media-object img-circle" src="{{avatar}}" width="64px">
			</a>

			<h2>
				<a href="{{build_url "resume"}}">{{name}}</a>
			</h2>
		</div>

		<div class="media-body">
			<h2>Rating: <em>{{average_rating}}</em> of <em>5</em></h2>
			{{>more content=review}}
		</div>
	</div>
</template>
