<!------------------------------------------------
|
|	Learner solutions
|
-------------------------------------------------->
<template name="learner_solutions">
	{{#mooqita_wide_spacing}}
		{{#unless Template.subscriptionsReady}}
			{{>wait}}
		{{else}}
			<div class="item padding-top">
				<h1>Solutions</h1>

				<p>
					This page lists all solutions you wrote.
				</p>

				{{#each solutions}}
					{{>learner_solution_preview}}
				{{else}}
					<hr>

					<h2>
						<em>You have not submitted any solutions yet.</em>
					</h2>
				{{/each}}
			</div>
		{{/unless}}
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
|	Learner solution preview
|
-------------------------------------------------->
<template name="learner_solution_preview">
	<hr>

	{{#unless Template.subscriptionsReady}}
		{{>wait}}
	{{else}}
		<h2>
			{{#unless is_finished}}
				<span class="badge background-contrast">new</span>
			{{/unless}}

			<a href="{{g_build_url "challenge" (g_object challenge_id=challenge._id)}}">
				{{challenge.title}}
			</a>

			{{#if is_finished}}
				<em><span class="pull-right"><span class="glyphicon glyphicon-check"></span></span></em>
			{{/if}}
		</h2>
		{{>more content=challenge.content}}
	{{/unless}}
</template>


<!------------------------------------------------
|
|	Learner solution editor
|
-------------------------------------------------->
<template name="learner_solution">
	{{#mooqita_wide_spacing}}
		<div class="item padding-top">
			{{#unless Template.subscriptionsReady}}
				{{>wait}}
			{{else}}
				{{#unless challenge}}
					<div class="padding-top">
						{{>ER_404}}
					</div>
				{{else}}
					{{#with challenge}}
						<h1>{{title}}</h1>

						{{#if has_solutions}}
							{{>more content=content}}
						{{else}}
							{{>more content=content expanded=true}}
						{{/if}}

						{{#if material}}
							<h2>
								{{>download collection_name="Challenges"
								item_id=_id field="material" label="Download additional material"}}
							</h2>
						{{/if}}
					{{/with}}

					{{#each solutions}}
						{{>learner_solution_reviews}}
					{{else}}
						<div class="alert alert-warning">
							You have not yet submitted a solution to this challenge.
						</div>

						<div class="text-right">
							<div class="btn btn-theme" id="take_challenge">Take challenge</div>
						</div>
					{{/each}}
				{{/unless}}
			{{/unless}}
		</div>
	{{/mooqita_wide_spacing}}
</template>


<template name="learner_solution_reviews">
	{{#unless Template.subscriptionsReady}}
		{{>wait}}
	{{else}}
		{{#unless has_filled_profile}}
			<div class="alert alert-warning">
				<h2>Todo Profile</h2>
				<hr>
				<p>
					Please do not forget to go to your
					<a href="{{g_build_url "profile"}}" target="_blank">profile</a>
					and let us know if you want to take part in the
					final paid challenge or you are interested in job
					offerings.
				</p>
			</div>

		{{/unless}}

		{{#unless is_finished}}
			<div class="alert alert-warning">
				<h2>Todo List to finish your solution</h2>
				<hr>
				Here is a list of things you have to do before your solution is ready:
				<ul>
					{{#unless g_is_public "Solutions"}}
						{{#unless content}}
							<li>Provide an explanation of your solution under solution description.</li>
						{{/unless}}

						{{#unless material}}
							<li>Add additional material if necessary.</li>
						{{/unless}}

						{{#unless g_is_saved "Solutions"}}
							<li>Save your work!</li>
						{{/unless}}

						<li>Publish your solution (Button below the upload field).</li>
					{{/unless}}

					{{#if is_feedback_missing}}
						<li>
							Read the reviews you received and give feedback.
							Give feedback to <b> {{missing_feedback}} more reviews.</b>
						</li>
					{{/if}}

					{{#if is_review_missing}}
						<li>
							<p>
								Write and finish <b>{{missing_reviews}} more reviews</b> for your peers.
								Please keep in mind that <b>you have 24 hours</b> to finish a review
								after you clicked the button. You can find your reviews
								<a href="{{g_build_url "learner_reviews"}}">here</a>.
								Please start the review only if you have time to finish it. It is a
								courtesy to your peers to not make	them hold there breath so long.
								Visit our <a href="help/#9NARA6Bbzpgj63GeJ"> How to Write a Great
								Review</a> article if you want some tips.
							</p>
							{{#unless g_is_public "Solutions"}}
								<b>Publish your solution to start writing reviews.</b>
							{{else}}
								{{#unless searching}}
										<div class="text-right" style="padding-top:15px">
											{{#unless solution_ready}}
												<div id="republish" class="btn btn-theme">Republish</div>
											{{/unless}}

											{{#if can_start_review}}
												<div id="find_review" class="btn btn-theme">Start a review</div>
											{{/if}}
										</div>
								{{else}}
									<div class="text-right" style="padding-top:15px">
										<span class="btn btn-theme" disabled="true">
											Please wait searching for solutions to review
											<span class="glyphicon glyphicon-refresh spin"></span>
										</span>
									</div>
								{{/unless}}
							{{/unless}}
						</li>
					{{/if}}
				</ul>
			</div>
		{{/unless}}

		{{#if review_error}}
			<div class="alert background-theme" style="margin-top: 15px">
				We were not able to find a review for you yet.
				Please come back later and try again.
			</div>
		{{/if}}

		<h1>
			Your Solution
			{{#if is_finished}}
				<em>
					<span class="pull-right">
						<span class="glyphicon glyphicon-check"></span>
					</span>
				</em>
			{{/if}}
		</h1>

		{{#unless g_is_public "Solutions"}}
			<h2>Solution description</h2>
			{{>markdown_input method="set_field" collection_name="Solutions"
				item_id=_id field="content" placeholder="Describe your solution"}}

			<h2>Additional Material</h2>
			{{#if material}}
				<h2>
					{{>download collection_name="Solutions"
						item_id=_id field="material" label="Download additional material"}}
				</h2>
			{{/if}}

			{{>upload method="upload_file" collection_name="Solutions"
				item_id=_id field="material"}}
		{{else}}
			{{>more content=content}}

			{{#if material}}
				<h2>
					{{>download collection_name="Solutions"
						item_id=_id field="material"}}
				</h2>
			{{/if}}
		{{/unless}}

		{{#unless g_is_public "Solutions"}}
			<div class="row padding-top">
				<div class="form-group col-sm-6">
					<span class="btn-group btn-group-justified">
						<a class="btn btn-theme" id="save">Save</a>
					</span>
				</div>
				<div class="form-group col-sm-6">
					<span class="btn-group btn-group-justified">
						<a class="btn btn-theme" {{publish_disabled}}
								 id="publish_solution">Make public</a>
					</span>
				</div>
			</div>
		{{/unless}}

		{{#if g_is_public "Solutions"}}
			<h1>Reviews you received</h1>
			{{#each reviews}}
				{{>learner_feedback_solution}}
			{{else}}
				<p>No reviews yet.</p>
			{{/each}}
		{{/if}}
	{{/unless}}
</template>


<!------------------------------------------------
|
|	Publish Modal
|
-------------------------------------------------->
<template name="publish_solution">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">Publish solution</h1>
				</div>

				<div class="modal-body">
					<p>
						Are you sure you want to publish your solution?<br>
						If you publish your solution it will be send to <br>
						your colleagues for review.<br>
					</p>

					<p>
						<em><b>This can not be undone!</b></em>
					</p>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Not yet</a>
						<a type="button" class="btn btn-theme" id="publish" data-dismiss="modal">Publish</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

