<template name="student_info">
	<div class="mooqita-layout">
		<div class="row">
			<div class="col-sm-3 col-ms-4">
				{{>avatar collection_name="Profiles"
					 observe = (profile_avatar user_id)
					 item_id = (profile_id user_id)
					 field = "avatar"}}
				<div class="text-center">
					<h2>{{profile_name user_id}}</h2>
					{{#each emails}}
						<a href="{{address}}">{{address}}</a>
					{{/each}}
				</div>
			</div>

			<div class="col-sm-9 col-ms-8">
				<h2>Solutions</h2>
				<p>Number solutions <em>{{solution_count}}</em></p>
				<p>Average solution quality <em>{{average_solution_quality}}</em></p>
				<p>Average solution length <em>{{solution_length}}</em></p>
				{{#each solutions}}
					<p>{{content}}</p>
				{{/each}}

				<h2>Reviews</h2>
				<p>
					<em>{{profile_name user_id}}</em> wrote <em>{{review_count}} reviews</em>
					with an average length of <em>{{review_length}} words</em>
					and gave on average a score of <em>{{average_review_quality}} out of 5</em>.
				</p>
				{{#each reviews}}
					<p>{{content}}</p>
				{{/each}}
			</div>
		</div>
	</div>
</template>