<!------------------------------------------------
|
|	Company menu
|
-------------------------------------------------->
<template name="organization_menu">
	<li class="active">
		<a class="navigation-button control-navigate"
			 href="{{g_build_url "organization_profile"}}">
			Organization
		</a>
	</li>

	<li class="active">
		<a class="navigation-button control-navigate"
			 href="{{g_build_url "organization_challenges"}}">
			Challenges <span class="badge background-contrast"></span>
		</a>
	</li>

	<li class="active">
		<a class="navigation-button control-navigate"
			 href="{{g_build_url "talents"}}">
			Talents
		</a>
	</li>
</template>


