<!------------------------------------------------
|
|	Organization menu
|
-------------------------------------------------->
<template name="organization_menu">
	<li class="active">
		<a class="navigation-button control-navigate"
			 href="{{build_url "organization_profile"}}">
			Organization Profile
		</a>
	</li>

	<li class="active">
		<a class="navigation-button control-navigate"
			 href="{{build_url "organization_challenges"}}">
			Challenges <span class="badge background-contrast"></span>
		</a>
	</li>
</template>


