<!------------------------------------------------
|
|	Organization profile
|
-------------------------------------------------->
<template name="organization_profile">
	{{#mooqita_wide_spacing}}
		<div class="row">
			<div class="col-sm-4 col-ms-4 col-xs-12">
				<h2 class="header">Organization Logo</h2>

				{{#if profile.avatar}}
					{{>avatar collection_name = "Profiles"
						observable = profile.avatar
						item_id = profile._id
						field = "avatar"}}
				{{/if}}

				{{>upload method="upload_file" collection_name="Profiles"
					item_id=profile._id field="avatar" max_size=500000}}
			</div>

			<div class="col-sm-8 col-ms-8 col-xs-12">
				<h2>Organization Name</h2>
				{{>basic_input method="set_field" collection_name="Profiles"
						item_id=profile._id field="organization_name"
						placeholder="Name of your organization"}}

				<h2>Organization Description</h2>
				{{>text_input method="set_field" collection_name="Profiles"
						item_id=profile._id field="organization_description"
						placeholder="Let our learners know a little more about your organization."}}
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>

