<!------------------------------------------------
|
|	Company profile
|
-------------------------------------------------->
<template name="organization_profile">
	{{#mooqita_wide_spacing}}
		{{#with g_profile}}
			<div class="row">
				<div class="col-sm-4 col-ms-4 col-xs-12">
					<h2 class="header">Organization Logo</h2>

					{{#if avatar}}
						{{>avatar collection_name = "Profiles"
							observable = avatar
							item_id = _id
							field = "avatar"}}
					{{/if}}

					{{>upload method="upload_file" collection_name="Profiles"
						item_id=_id field="avatar" max_size=500000}}
				</div>

				<div class="col-sm-8 col-ms-8 col-xs-12">
					<h2>Organization Name</h2>
					{{>basic_input method="set_field" collection_name="Profiles"
							item_id=_id field="organization_name"
							placeholder="Name of your organization"}}

					<h2>Organization Description</h2>
					{{>text_input method="set_field" collection_name="Profiles"
							item_id=_id field="organization_description"
							placeholder="Let our learners know a little more about your organization."}}
				</div>
			</div>

			<div>
				<div class="input-group">
					<input placeholder="email to invite"
						 class="form-control edit-field" id="mails" type="text"/>
					<div class="input-group-btn">
						<div id="add_member" class="btn btn-theme">+</div>
					</div>
				</div>
			</div>

			{{#paging subscription="admissions" collection_name="admissions"
								 page=0 count=10 parameter=parameter filter=(g_object resource_id=_id)}}
				{{#each items}}
					{{>collaborator}}
				{{else}}
					<h2><em>Not shared.</em></h2>
				{{/each}}
			{{/paging}}
		{{/with}}

	{{/mooqita_wide_spacing}}
</template>


<template name="collaborator">
	{{#if Template.subscriptionsReady}}
		<div class="row">
			<div class="col-sm-2">
				{{>avatar collection_name="Profiles"
					 observe = (g_profile_avatar consumer_id)
					 item_id = (g_profile_id consumer_id)
					 field = "avatar"}}
			</div>

			<div class="col-ms-6">
				<h2>
					<a href="">{{g_profile_name consumer_id}}</a>
				</h2>
			</div>

			<div class="col-ms-4">
				{{role}}
			</div>
		</div>
	{{else}}
		{{>wait}}
	{{/if}}
</template>

