<!------------------------------------------------
|
|	Question
|
-------------------------------------------------->
<template name="organization_questions">
	{{#mooqita_wide_spacing}}
		<div class="item padding-top">
			<div class="padding-next">
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group">
						<button class="btn btn-theme" id="add_question" type="button">
							Create question
						</button>
					</div>
				</div>
			</div>

			<div class="row" style="margin-bottom: 25px">
				<div class="col-sm-6">
					<div class="input-group">
						<input placeholder="Search for questions" id="query"
								 class="form-control edit-field"/>
						<span class="input-group-btn">

							<button class="btn btn-theme" type="button" id="search">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>

				<div class="col-sm-6">
					{{>paging subscription="my_questions" page=0 count=10 parameter=parameter}}
				</div>
			</div>

			{{#unless Template.subscriptionsReady}}
				{{>wait}}
			{{else}}
				{{#each questions}}
						{{>question_preview}}
					{{else}}
						<h2><em>No questions yet.</em></h2>
					{{/each}}
			{{/unless}}
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
|	Question list
|
-------------------------------------------------->
<template name="question_preview">
	<h2>
		<a href="{{build_url "organization_question" (object question_id=_id)}}">
			{{question}}
		</a>
	</h2>
	{{course}}
</template>


<!------------------------------------------------
|
|	Question Editor
|
-------------------------------------------------->
<template name="organization_question">
	{{#mooqita_wide_spacing}}
		{{#unless Template.subscriptionsReady}}
			{{>wait}}
		{{else}}
			{{#with question}}
				<div class="padding-next">
					<h1 class="editable">
						{{#if g_is_public "Questions"}}
							Published.
						{{/if}}
					</h1>
				</div>
				{{#unless g_is_public "Questions"}}
					<div class="padding-top">
						<div class="alert alert-warning">
							<h2>Todo List: Question</h2>
							<ul>
								{{#unless question}}
									<li>Write the question (required)</li>
								{{/unless}}

								{{#unless g_is_saved "Questions"}}
									<li>Save it!</li>
								{{/unless}}
							</ul>
						</div>
					</div>
				{{/unless}}
				<div class="padding-next">
					<div class="form-group">
						<label>Question</label>
						{{>basic_input method="set_field" collection_name="Questions" item_id=_id field="question" placeholder="Enter the question"}}
					</div>
					<div class="form-group">
						<label>Answer One</label>
						{{>basic_input method="set_field" collection_name="Questions" item_id=_id field="answer_one" placeholder="Enter the first answer option"}}
					</div>
					<div class="form-group">
						<label>Answer Two</label>
						{{>basic_input method="set_field" collection_name="Questions" item_id=_id field="answer_two" placeholder="Enter the second answer option"}}
					</div>
					<div class="form-group">
						<label>Answer Three</label>
						{{>basic_input method="set_field" collection_name="Questions" item_id=_id field="answer_three" placeholder="Enter the third answer option"}}
					</div>
					<div class="form-group">
						<label>Answer Four</label>
						{{>basic_input method="set_field" collection_name="Questions" item_id=_id field="answer_four" placeholder="Enter the fourth"}}
					</div>
					<div class="form-group">
						<label>Correct Answer</label>
						{{>select_input method="set_field" collection_name="Questions" item_id=_id field="correct_answer" options=correct_answer_options}}
					</div>
					<div class="form-group">
						<label>Subject</label>
						{{>select_input method="set_field" collection_name="Questions" item_id=_id field="course" options=course_options}}
					</div>
					<div class="form-group" style="display: block; overflow: hidden;"></div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<span class="btn-group btn-group-justified">
							<div class="btn btn-theme" {{publish_disabled}} id="publish">Make public</div>
						</span>
					</div>
				</div>
			{{/with}}
		{{/unless}}
	{{/mooqita_wide_spacing}}
</template>

<!------------------------------------------------
|
|	Question delete modal
|
-------------------------------------------------->
<template name="delete_question">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">Delete question</h1>
				</div>

				<div class="modal-body">
					<p>
						Are you sure you want to delete your question?<br>
						This operation cannot be undone!
					</p>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Not yet</a>
						<a type="button" class="btn btn-danger" id="publish" data-dismiss="modal">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
