<!------------------------------------------------
|
|	Company menu
|
-------------------------------------------------->
<template name="educator_menu">
	<li class="active">
		<a class="navigation-button control-navigate"
			 href="{{build_url "educator_profile"}}">
			Company Profile
		</a>
	</li>

	<li class="active">
		<a class="navigation-button control-navigate"
			 href="{{build_url "educator_challenges"}}">
			Challenges <span class="badge background-contrast"></span>
		</a>
	</li>
</template>


