<!-----------------------------------------
|
|  Post entry Template
|
------------------------------------------->
<template name="landing">
	<div class="container-fluid">
		<div class="row">
			<div class="hero hero-background">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="row" style="margin-top: 50px">
							<div class="col-md-7 col-md-offset-0
													col-sm-8 col-sm-offset-2
													col-xs-12 col-xs-offset-0
													vcenter">
								<h1 style="padding-bottom: 50px">
									Let us think about the future of online work and education.
								</h1>
							</div><!--
							This comment is important otherwise
							the grid system will break. Due to
							the interpretation of the white spaces!
							--><div class="	col-md-5 col-md-offset-0
															col-sm-8 col-sm-offset-2
															col-xs-12 col-xs-offset-0
															vcenter">
	 							{{#unless currentUser}}
									<div class="well" style="color: black; text-align: center">
										{{> atForm}}
									</div>
								{{else}}
									{{>share}}
								{{/unless}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{#if isInRole 'editor'}}
		<section class="container-fluid padding-top">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="well">
						<div class="row">
							<div class="col-md-6 vcenter">
								<em>Select post group and add new element</em>
							</div><!-- Important for vcenter
						--><div class="col-md-6 vcenter">
								<div class="input-group">
									<div class="input-group-btn">
										<div class="btn btn-theme tool-button" id="add_post">
											<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
										</div>
									</div>

									<select class="form-control tool-bar tool-bar-right background-theme"
													id="template_select" title="Select a group for your new post">
										{{#each groups}}
											<option value="{{.}}">{{.}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{{/if}}

	{{#each groups}}
		<section class="container-fluid background-grey padding-top">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					{{#each posts .}}
						{{>_post}}
					{{/each}}
				</div>
			</div>
		</section>
	{{/each}}
</template>


