<!------------------------------------------------
|
|	Challenge entry point
|
-------------------------------------------------->
<template name="worker_login">
	{{#if currentUser}}
		{{>load_template}}
	{{else}}
		{{>sign_worker}}
	{{/if}}
</template>

<template name="load_template">
	{{#if template_exists}}
		{{#if response}}
			{{>Template.dynamic template=template_path data=response}}
		{{else}}
			{{>add_response}}
		{{/if}}
	{{else}}
		{{>ER_404}}
	{{/if}}
</template>

<template name="add_response">
	<h1>
		Please wait we prepare the task
		<em><span class="glyphicon glyphicon-refresh spin"></span></em>
	</h1>
</template>


<template name="sign_worker">
	<h1>Please enter your worker ID</h1>

	<hr>

	<p>
		To match your work on our platform and your payment on crowdflower we need your crowdflower ID.
	</p>

	<form id="id_form" class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control" id="worker_id" placeholder="Enter your worker id here">
		</div>
		<button type="submit" class="btn btn-default">submit</button>
	</form>
</template>
