<!------------------------------------------------
|
|	Challenge
|
-------------------------------------------------->
<template name="challenge_pool">
	{{#mooqita_wide_spacing}}
		<div class="item-set padding-top">
            <h1>Challenge Pool</h1>
            <p>Find challenges to use or customize...</p>

            <h3>Challenge sources:</h3>
            <div class="col-sm-6 padding-next">
                <div class="toggle-button">
                    <input id="github_id" type="checkbox" checked="true"
                           aria-describedby="github_explain" aria-selected="true">
                    <label for="github_id">Github <i class="fa fa-github"></i></label>
                    <div class="toggle-button-icon"></div>
                </div>

                <div>
                    <small id="github_explain" class="form-text text-muted">
                        Search open issues on github...
                    </small>
                </div>
            </div>

            <div class="col-sm-6 padding-next">
                <div class="toggle-button toggle-button">
                    <input id="mooqita_id" type="checkbox" checked="true"
                           aria-describedby="mooqita_explain" aria-selected="true">
                    <label for="mooqita_id">Mooqita</label>
                    <div class="toggle-button-icon"></div>
                </div>

                <div>
                    <small id="mooqita_explain" class="form-text text-muted">
                        Search free Mooqita template challenges...
                    </small>
                </div>
            </div>
            {{#paging placeholder="Search for challenges (e.g. agile language:ruby)"
                      subscription="pool_challenges" page=0 count=10
                      parameter=parameter collection_name="pool_challenges"}}
                {{#each items}}
                    {{>challenge_pool_preview}}
                {{else}}
                    <hr>
                    <h1 class="text-center padding-next"><em>No results found yet.</em></h1>
                    <hr>
                {{/each}}
            {{/paging}}
            {{challenge_pool_search_result}}
        </div>
    {{/mooqita_wide_spacing}}
</template>

<template name="challenge_pool_preview">
	<h1 class="text-left">{{title}}</h1>
    {{>more content=description}}
    <p><em><b>Project link: </b></em><a href="{{html_url}}" target="_blank">{{html_url}}</a></p>
    <div class="left text-left" style="margin-top: 15px">
        <!-- not sure whether a custom link with parameters is the right way to go here or using an id and addressing
        the button functionality elsewhere -->
        <!--<a class="btn btn-theme"  style="min-width: 100px" target="_blank"
           href="https://daringfireball.net/projects/markdown/syntax">
            markdown documentation
        </a>-->
        <a class="btn btn-theme" style="min-width: 100px; padding-top: 10px"
           id="make_challenge">create challenge</a>
    </div>
    <p>&nbsp;</p>
	<hr>
</template>


