<!------------------------------------------------
|
|	Challenge
|
-------------------------------------------------->
<template name="challenges">
	{{#mooqita_wide_spacing}}
		<div class="padding-top">
			<h1>Discover Challenges</h1>

			<p class="padding-next">
				Find the challenge that is right for you.
			</p>

			<div class="row padding-next">
				<div class="col-sm-12">
					{{#paging subscription="challenges" page=0 count=10
										parameter=parameter  collection_name="challenges"}}
						{{#each items}}
							{{>challenge_preview}}
						{{else}}
							<hr>
							<h1 class="text-center padding-next"><em>No challenges yet.</em></h1>
							<hr>
						{{/each}}
					{{/paging}}
				</div>
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
|	Challenge list
|
-------------------------------------------------->
<template name="challenge_preview">
	<h2>
		<a href="{{g_build_url "challenge" (g_object challenge_id=_id)}}">
			{{title}}
		</a>
	</h2>

	{{>more content=content}}
</template>


