<!------------------------------------------------
|
|	Challenge
|
-------------------------------------------------->
<template name="designed_challenges">
	{{#mooqita_wide_spacing}}
		<div class="item-set padding-top">
			<h1>
				Challenges
				<div class="btn-group pull-right">
					<div class="btn btn-theme"
							 style="min-width: 40px;"
							 id="add_challenge">
						{{>popout_base title="New Blank Challenge"
										content="Click to add a new challenge."
										icon_class="fa fa-2x fa-plus"}}
					</div>

					<div class="btn btn-theme"
							 style="min-width: 40px;"
							 id="template_challenge">

					{{>popout_base title="Create Challenge from Template"
									content="Click to select a template."
									icon_class="fa fa-2x fa-file"}}
					</div>
				</div>
			</h1>

			<p class="padding-next">
				Here you can find all your challenges.
			</p>

			{{#paging subscription="my_challenges" page=0 count=10
								parameter=parameter collection_name="challenges"}}
				{{#each item in items}}
					{{>challenge_preview challenge=item template="challenge_design"}}
				{{else}}
					<hr>
					<h1 class="text-center padding-next"
							style="padding-bottom: 45px">
						<em>No Challenges yet.</em>
					</h1>
				{{/each}}
				<hr>
			{{/paging}}
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
|	Challenge Preview
|
-------------------------------------------------->
<template name="challenge_preview">
	<hr>

	<a href="{{g_build_url template (g_object challenge_id=challenge._id) app login_type}}"
		 class="item-set-element animated_0_5_s">
		<div>
			<h2>
				{{title}}

				{{#if challenge.published}}
					<span class="badge background-contrast pull-right">
							Public <span class="fa fa-check"></span>
					</span>
				{{else}}
					<span class="badge background-theme pull-right">
							Not yet public <span class="fa fa-edit"></span>
					</span>
				{{/if}}
			</h2>
		</div>

		<p class="small">{{challenge.created}}</p>

		{{>more content=content}}
	</a>
</template>


<!------------------------------------------------
|
|	Challenge Editor
|
-------------------------------------------------->
<template name="challenge_design">
	{{#mooqita_with_sidebar}}
		<div class="col-xs-12">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right" style="padding: 10px 0px;">
					<li role="presentation">
						<a class="navigation-button control-navigate menu-main-item"
							 id="challenge_settings">
							Settings
						</a>
					</li>

					<li role="presentation">
						<a class="navigation-button control-navigate menu-main-item"
							 id="challenge_role">
							Role
						</a>
					</li>

					<li role="presentation">
						<a class="navigation-button control-navigate menu-main-item"
							 id="challenge_competencies">
							Competencies
						</a>
					</li>

					{{#if challenge.self_service}}
						<li role="presentation">
							<a class="navigation-button control-navigate menu-main-item"
								 id="self_design">
								Edit
							</a>
						</li>
					{{else}}
						<li role="presentation">
							<a class="navigation-button control-navigate menu-main-item"
								 id="mooqita_design">
								Description
							</a>
						</li>

						<li role="presentation">
							<a class="navigation-button control-navigate menu-main-item"
								 id="challenge_review">
								Challenge
							</a>
						</li>
					{{/if}}

					<li role="presentation">
						<a class="navigation-button control-navigate menu-main-item"
							 id="challenge_solutions">
							Candidates
						</a>
					</li>

					{{#if has_solutions}}
						<li role="presentation">
							<a class="navigation-button control-navigate menu-main-item"
								 id="message_candidates">
								Message
							</a>
						</li>
					{{/if}}
				</ul>
			</div>
		</div>

		{{#unless Template.subscriptionsReady}}
			{{>wait}}
		{{else}}
			{{#mooqita_sidebar}}
				{{#with challenge}}
					{{> challenge_todo_list}}
				{{/with}}
			{{/mooqita_sidebar}}

			{{#mooqita_main}}
				{{>Template.dynamic template=main_template data=challenge}}
			{{/mooqita_main}}
		{{/unless}}
	{{/mooqita_with_sidebar}}
</template>


<template name="challenge_todo_list">
	<div class="alert {{theme}}" style="margin: 5px;">
		<h2 style="	padding: 0px; margin: 0px 0px 10px 0px;">
			Todo List: Challenge
		</h2>

		{{#if self_service}}
			A summary of things you need to do before publishing your challenge:

			<ul>
				{{#unless title}}
					<li>Give your challenge a title (required).</li>
				{{/unless}}

				{{#unless content}}
					<li>Provide a description of the challenge (required).</li>
				{{/unless}}

				{{#unless num_reviews}}
					<li>Define how many reviews learners have to write to finish the challenge.</li>
				{{/unless}}

				{{#unless link}}
					<li>Add a link to the challenge context or project (optional).</li>
				{{/unless}}

				{{#unless material}}
					<li>Add additional materials (optional).</li>
				{{/unless}}

				{{#unless g_is_saved "Challenges"}}
					<li>Save it!</li>
				{{/unless}}
			</ul>
		{{else}}
			{{#unless self_service}}
				{{#if is_publishable}}
					<p>
						Your challenge is ready! If you are ready publish it.
					</p>
				{{else}}
					{{#if requested}}
						<p>
							Nothing much for you to do right now.
							We let you know once your challenge is ready.
						</p>
					{{else}}
						<ul>
							{{#unless description}}
								<li>Please give us a short description of the challenge you want (required).</li>
							{{/unless}}

							{{#unless role}}
								<li>Let us know which role your candidate will fill (required).</li>
							{{/unless}}
						</ul>
						{{#unless requested}}
							<p class="padding-next">
								If you think you have all information for us just click the
								request button below and one of our challenge designer will
								take care of the rest.
							</p>

							<span class="btn-group btn-group-justified">
								<div class="btn btn-theme" {{request_disabled}}
										 id="request">Request Challenge</div>
							</span>
						{{/unless}}
					{{/if}}
				{{/if}}
			{{/unless}}
		{{/if}}

		{{#if is_publishable}}
			{{#if published}}
				<h2>Congratulation your challenge is online</h2>
				<p>
					Share the link with your candidates and see how they perform.
					You can monitor the progress under "Candidates".
				</p>
			{{else}}
				<h2>You can now publish your challenge</h2>
			{{/if}}
		{{else}}
			<h2>You can not yet publish your challenge</h2>
		{{/if}}
	</div>
</template>


<template name="challenge_settings">
	<h1 style="padding-top: 5px">Basic Settings</h1>

	<p style="padding-bottom: 10px;">
		This is the link you can share with your candidates.
		You can monitor their progress under "Candidates".
	</p>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon btn-theme">
				Shareable link:
			</div>

			<div class="form-control"
					 style="background: #f5f5f5; overflow: hidden; min-height: 40.5px;"
					 id="challenge_url">
				<div style="white-space:nowrap">
					{{#if g_is_public "challenges"}}
						{{g_build_url "solution" (g_object challenge_id=_id) "app"}}
					{{else}}
						Not yet public
					{{/if}}
				</div>
			</div>

			<div class="input-group-btn" id="icon_download" title="select the entire url">
				<button type="button" class="btn btn-theme">
					<span class="glyphicon glyphicon-download"></span>
				</button>
			</div>
		</div>
	</div>

	<div style="padding-top: 15px">
		<div class="form-group">
			{{#if promo}}
				<label>Used Promotion Code</label>
				<div class="form-control">{{promo}}</div>
			{{else}}
				{{>basic_input label="Promotion Code" collection_name="challenges" item_id=_id field="promo"
						placeholder="SKYDECK"	explain="Enter your promotion code."}}
			{{/if}}
		</div>

		<div class="form-group">
			{{>toggle_button collection_name="Challenges"
					item_id=_id field="no_solution_notification" label="Stop notifications"
					explain="In case you do want to receive email notifications about candidates."}}
		</div>

		<div class="form-group">
			{{>toggle_button collection_name="Challenges"
					item_id=_id field="self_service" label="Do it yourself"
					explain="In case you want to design the challenge yourself check this box."}}
		</div>

		{{#if self_service}}
			<div class="form-group">
				{{>toggle_button collection_name="Challenges"
						item_id=_id field="self_service_help" label="Design support"
						explain="In case you want us to help you design the challenge check this box."}}
			</div>
		{{/if}}
	</div>
</template>


<template name="challenge_role">
	<h1 style="padding-top: 5px">Role</h1>

	<p>
		The role your candidate is supposed to fill will help us to reach right
		candidates and help you designing your challenge.
	</p>

	{{>job_role collection_name="challenges" item_id=_id field="role"}}
</template>


<template name="challenge_competencies">
	<h1 style="padding-top: 5px">Competencies</h1>

	<p>
		Finding the candidate with the right skill set is important.
		However, Mooqita can do more for you. We can help you find the person
		that will complement your teams social fabric. Select any number of
		competencies you deem important for candidates for this job posting.
	</p>

	{{>job_competency collection_name="challenges" item_id=_id}}
</template>


<template name="message_candidates">
	<h1 style="padding-top: 5px">Write your candidates</h1>

	<p>
		If you need to get in touch with your learners
		you can use this message system.
	</p>

	<div class="form-group">
		<div class="input-group">
			<input placeholder="Subject" class="form-control" type="text" id="subject"/>

			<div class="input-group-btn" id="icon_download" title="select the entire url">
				<div class="btn btn-theme" id="send" {{send_disabled}}>
					{{#if send_disabled}}
						Sending mail
						<span class="glyphicon glyphicon-refresh spin"></span>
					{{else}}
						Send Message
					{{/if}}
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<textarea  class="form-control"
							 placeholder="Your message"
							 id="message" rows="8"></textarea>
	</div>
</template>


<template name="mooqita_design">
	<h1 style="padding-top: 5px">Challenge Description</h1>

	<p>
		Let us know what you want to learn about your candidates with this challenge.
		You do not have to go into detail. We will get in touch with to you if necessary.
		If you have any questions please contact our
		<a href="mailto:info@mooqita.com?Subject=Challenge%20description%20help">support team</a>.
	</p>

	{{>text_input collection_name="challenges" field="description" item_id=_id rows=8
			placeholder="We look for a frontend developer with some design skills. Great if the person is versed in React and Bootstrap 4. The candidate would design our website based on designs from a graphics artist."}}
</template>


<template name="challenge_review">
	<h1 style="padding-top: 5px">The challenge</h1>

	<p>
		This is the challenge to to share with your candidates.
		To publish the challenge and share it with your candidates.
		click on "Settings".
	</p>

	{{#if g_value collection_name="challenges" field="content" item_id=_id}}
		<h1>
			{{{g_value collection_name="challenges" field="title" item_id=_id}}}
		</h1>

		<p>
			{{{g_value collection_name="challenges" field="content" item_id=_id}}}
		</p>
	{{else}}
		<div class="alert alert-theme">
			Your challenge is not yet ready. We expect your challenge
			to be ready within two work days. If you have any questions.
			Please contact our
			<a href="mailto:info@mooqita.com?Subject=Mooqita%20designed%20challenge%20question">team</a>.
		</div>
	{{/if}}
</template>


<template name="self_design">
	<h1 class="editable" style="padding-top: 5px">
		{{>basic_input collection_name="challenges" item_id=_id field="title"
				placeholder="Click: to give your challenge a title."}}
	</h1>

	<div class="form-group">
		{{>markdown_input method="set_field" collection_name="Challenges" item_id=_id
											field="content" placeholder="In this challenge you will ..."}}
	</div>

	<div class="form-group">
		{{>basic_input method="set_field" collection_name="Challenges"
				type="number" field="num_reviews"	label="Number of reviews required"
				item_id=_id explain="The number of reviews a learner has to provide."
				placeholder="Number of reviews required."}}
	</div>

	<!-- TODO: make sure that the link gets displayed if present in db -->
	<div class="form-group">
		{{>basic_input method="set_field" collection_name="challenges"
						field="link" label="Challenge or project link"
						item_id=_id placeholder="Link that contextualizes the challenge."}}
	</div>

	<div class="form-group">
		<div class="input-group" style="width: 100%;">
			<label>Upload additional material</label>

			{{>upload method="upload_file" collection_name="Challenges"
				item_id=_id field="material"}}
		</div>
	</div>

	{{#if material}}
		<div class="input-group" style="width: 100%;">
			<label>Download Additional material:</label>

			{{>download collection_name="Challenges" item_id=_id field="material"}}
		</div>
	{{/if}}

	{{#unless g_is_public "Challenges"}}
		<div class="row">
			<div class="form-group col-sm-offset-6 col-sm-6">
				<span class="btn-group btn-group-justified">
					<div class="btn btn-theme" id="save">Save</div>
				</span>
			</div>
		</div>
	{{/unless}}
</template>


<!------------------------------------------------
|
|	Challenge solutions
|
-------------------------------------------------->
<template name="challenge_solutions">
	<h1>Candidates</h1>

	<p>These are solutions your learner submitted so far.</p>

	<div class="form-group text-right">
		<div class="toggle-button">
			<input id="public_only" type="checkbox">
			<label for="public_only">Show only published solutions</label>
			<div class="toggle-button-icon"></div>
		</div>
	</div>

	{{#paging subscription="challenge_summaries" page=0 count=10 parameter=parameter}}
		{{#each challenge_solutions}}
			{{>challenge_solution}}
		{{else}}
			<hr>
			<h1 class="text-center padding-next"
					style="padding-bottom: 45px">
				<em>No solutions yet.</em>
			</h1>
		{{/each}}
		<hr>
	{{/paging}}
</template>


<!------------------------------------------------
|
|	Challenge solution
|
-------------------------------------------------->
<template name="challenge_solution">
	<div class="row">
		<div class="col-sm-2 col-ms-3 text-center">
			{{#each profile in solution_owners}}
				{{>avatar collection_name="Profiles"
					 observe = profile.avatar
					 item_id = profile._id
					 field = "avatar"}}

				<a class="color-theme">{{g_name_from_profile profile true}}</a>
			{{/each}}
		</div>

		<div class="col-sm-10 col-ms-9">
			<h2>
				{{{average_rating}}}

				{{#if g_is_owner "Challenges" .}}
					<em class="pull-right"> <span class="badge background-theme"></span>Author</em>
				{{/if}}

				{{#if published}}
					<span class="badge background-contrast">public</span>
				{{/if}}

				<div class="btn-group pull-right">
					<span class="btn btn-theme" id="user_info">
						{{> popout_base title="Info"
								content="This shows statistics about the user."
								icon_class="glyphicon glyphicon-stats"}}
					</span>

					{{#unless recommendation}}
						{{#if is_adding}}
							<span class="btn btn-theme">
								<div class="glyphicon glyphicon-refresh spin">
								</div>
							</span>
						{{else}}
							<span class="btn btn-theme" id="add_recommendation">
								{{> popout_base title="Recommendation"
										content="Add a letter of recommendation for your learner."
										icon_class="glyphicon glyphicon-plus-sign"}}
							</span>
						{{/if}}
					{{else}}
						<span class="btn btn-theme" id="edit_recommendation">
							{{> popout_base title="Recommendation"
									content="Edit your letter of recommendation."
									icon_class="glyphicon glyphicon-pencil"}}
						</span>
					{{/unless}}

					<span class="btn btn-theme" id="reopen">
						{{> popout_base title="Reopen"
								content="Reopens the solution and the learner will be able to edit it again."
								icon_class="glyphicon glyphicon-repeat"}}
					</span>
				</div>
			</h2>

			<p class="small">{{created}}</p>

			{{>more content=content}}

			{{#if material}}
				<h2>Additional Material</h2>
				<h2>
					{{>download collection_name="Solutions"
						item_id=_id field="material"}}
				</h2>
			{{/if}}

			{{#if reviews}}
				<h2>
					<a id="show_reviews" data-toggle="collapse" data-target="#{{_id}}">
						{{#unless reviews_visible}}
							<span class="glyphicon glyphicon-expand"></span>
						{{else}}
							<span class="glyphicon glyphicon-collapse-down"></span>
						{{/unless}}
					</a>
					Reviews
				</h2>
			{{/if}}
		</div>
	</div>

	<div id="{{_id}}" class="row collapse">
		<div class="col-sm-offset-1 col-sm-11 col-ms-offset-1 col-ms-11 row-line-left">
			{{#each review in reviews}}
				<div class="row">
					<div class="col-sm-2 col-ms-3 text-center">
						{{#each profile in (review_owners review)}}
							{{>avatar collection_name="Profiles"
								 observe = profile.avatar
								 item_id = profile._id
								 field = "avatar"}}

							<a class="color-theme">{{g_name_from_profile profile true}}</a>
						{{/each}}
					</div>

					<div class="col-sm-10 col-ms-9">
						<div class="row">
							<div class="col-xs-12">
								<h2>
									Rating <em>{{review.rating}}</em> out of <em>5</em>
								</h2>
							</div>

							<div class="col-xs-12">
								{{>more content=review.content}}

								{{#each feedback review._id}}
									<div class="row" style="margin-left: 25px">
										<div class="col-xs-6">
											<h2>
												Rebuttal <!--a>{{g_profile_name owner_id}}</a-->
											</h2>
										</div>

										<div class="col-xs-6">
											<h2>
												Rating <em>{{rating}}</em> out of <em>5</em>
											</h2>
										</div>

										<div class="col-xs-12">
											{{>more content=content}}
										</div>
									</div>
							{{/each}}
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</template>


<!------------------------------------------------
|
|	Challenge reset solution
|
-------------------------------------------------->
<template name="reopen_solution">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">Reopen Solution</h1>
				</div>

				<div class="modal-body">
					<p>
						Are you sure you want to reopen the solution?
					</p>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Not yet</a>
						<a type="button" class="btn btn-theme"
							 id="reopen" data-dismiss="modal">Reopen</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<!------------------------------------------------
|
|	Learner info modal
|
-------------------------------------------------->
<template name="show_learner_summary">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title"></h1>
				</div>

				<div class="modal-body">
					{{>learner_summary}}
				</div>

				<div class="modal-footer right">
					<div class="btn-group">
						<a type="button" class="btn btn-theme" data-dismiss="modal">
							<span class="glyphicon glyphicon-log-out"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<!------------------------------------------------
|
|	Learner letter of recommendation
|
-------------------------------------------------->
<template name="recommendation">
	<div class="modal fade">
		{{# mooqita_wide_spacing}}
			<div class="modal-dialog" style="width: 100%; margin: 10px;">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">
							Letter of Recommendation
						</h1>
					</div>

					<div class="modal-body">
						{{#with recommendation}}
							{{#unless g_is_public "Recommendations"}}
								<div class="alert alert-warning">
									<h2>Todo List: Recommendation</h2>

									A summary of things you need to do before
									learners can see your letter of recommendation:

									<ul>
										{{#unless letter}}
											<li>Write a letter (required)</li>
										{{/unless}}

										{{#unless skills}}
											<li>Provide a list of skills you would like to add for the learner.</li>
										{{/unless}}

										{{#unless g_is_saved "Recommendations"}}
											<li>Save it!</li>
										{{/unless}}

										<li>Publish your recommendation you find the button below.</li>
									</ul>
								</div>
							{{/unless}}

							<div class="padding-next">
								{{>markdown_input method="set_field" collection_name="Recommendations"
										item_id=_id field="content" placeholder="Letter of recommendation"}}
							</div>
						{{/with}}
					</div>

					<div class="modal-footer right">
						<div class="btn-group">
							<a type="button" class="btn btn-theme" data-dismiss="modal">
								<span class="glyphicon glyphicon-log-out"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		{{/mooqita_wide_spacing}}
	</div>
</template>


<!------------------------------------------------
|
|	Challenge delete modal
|
-------------------------------------------------->
<template name="delete_challenge">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">Delete challenge</h1>
				</div>

				<div class="modal-body">
					<p>
						Are you sure you want to delete your challenge?<br>
						This operation cannot be undone!
					</p>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Not yet</a>
						<a type="button" class="btn btn-danger" id="publish" data-dismiss="modal">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<!------------------------------------------------
|
|	Challenge Feedback
|
-------------------------------------------------->
<template name="challenge_feedback">
	<div class="row">
		<div class="form-group col-md-7">
			<label for="feedback"
						 title="Your rating for this challenge overall">
				Feedback
			</label>

			<textarea class="form-control" id="feedback"
								rows="8" style="height: 183px">{{challenge_feedback}}</textarea>

			<div class="btn-toolbar">
				<span class="btn-group">
					{{#if save_state}}
						<div class="btn btn-red" id="save">Save</div>
					{{else}}
						<div class="btn btn-success" id="save">Save</div>
					{{/if}}
				</span>
			</div>
		</div>

		<div class="col-md-5">
			<div class="row">
				<div class="form-group col-sm-12">
					<label for="rating"
								 title="Your rating for this challenge"
									>Overall Rating</label>
					<select class="form-control" id="rating" type="select">
						<option value="null" disabled {{selected_default challenge_rating}}> -- not selected -- </option>
						<option value="5" {{selected challenge_rating '5'}}>great</option>
						<option value="4" {{selected challenge_rating '4'}}>good</option>
						<option value="3" {{selected challenge_rating '3'}}>mediocre</option>
						<option value="2" {{selected challenge_rating '2'}}>needs improvement</option>
						<option value="1" {{selected challenge_rating '1'}}>need lots of improvement</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-12">
					<label for="ease"
								 title="Your rating for this challenge overall"
									>Ease of Challenge</label>
					<select class="form-control" id="ease" type="select">
						<option value="null" disabled {{selected_default challenge_ease}}> -- not selected -- </option>
						<option value="5" {{selected challenge_ease '5'}}>too hard</option>
						<option value="4" {{selected challenge_ease '4'}}>hard</option>
						<option value="3" {{selected challenge_ease '3'}}>balanced</option>
						<option value="2" {{selected challenge_ease '2'}}>easy</option>
						<option value="1" {{selected challenge_ease '1'}}>too easy</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-12">
					<label for="timing"
								 title="How much time did you need to solve the challenge."
									>Time required</label>
					<select class="form-control" id="timing" type="select">
						<option value="null" {{selected_default challenge_timing}}> -- not selected -- </option>
						<option value="5" {{selected challenge_timing '5'}}>much more time required</option>
						<option value="4" {{selected challenge_timing '4'}}>more time required</option>
						<option value="3" {{selected challenge_timing '3'}}>balanced</option>
						<option value="2" {{selected challenge_timing '2'}}>less time required</option>
						<option value="1" {{selected challenge_timing '1'}}>much less time required</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</template>


<!------------------------------------------------
|
|	Challenge
|
-------------------------------------------------->
<template name="learner_summary">
	<div class="mooqita-layout">
		<div class="row">
			<div class="col-sm-3 col-ms-4">
				{{>avatar collection_name="Profiles"
					 observe = (g_profile_avatar user_id)
					 item_id = (g_profile_id user_id)
					 field = "avatar"}}
				<div class="text-center">
					<h2>{{g_profile_name user_id}}</h2>
					{{#each emails}}
						<a href="{{address}}">{{address}}</a>
					{{/each}}
				</div>
			</div>

			<div class="col-sm-9 col-ms-8">
				<h2>Solutions</h2>
				<p>Number solutions <em>{{solution_count}}</em></p>
				<p>Average solution quality <em>{{average_solution_quality}}</em></p>
				<p>Average solution length <em>{{solution_length}}</em></p>
				{{#each solutions}}
					<p>{{content}}</p>
				{{/each}}

				<h2>Reviews</h2>
				<p>
					<em>{{g_profile_name user_id}}</em> wrote <em>{{review_count}} reviews</em>
					with an average length of <em>{{review_length}} words</em>
					and gave on average a score of <em>{{average_review_quality}} out of 5</em>.
				</p>
				{{#each reviews}}
					<p>{{content}}</p>
				{{/each}}
			</div>
		</div>
	</div>
</template>

