<!------------------------------------------------
|
|	Challenge
|
-------------------------------------------------->
<template name="challenges">
	{{#mooqita_wide_spacing}}
		<div class="padding-top">
			<h1>Discover Challenges</h1>

			<p class="padding-next">
				Find the challenge that is right for you.
			</p>

			<div class="row padding-next">
				<div class="col-sm-12">
					{{#paging subscription="challenges" page=0 count=10
										parameter=parameter  collection_name="challenges"}}
						{{#each items}}
							{{>challenge_preview}}
						{{else}}
							<hr>
							<h1 class="text-center padding-next"><em>No challenges yet.</em></h1>
							<hr>
						{{/each}}
					{{/paging}}
				</div>
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
|	Challenge list
|
-------------------------------------------------->
<template name="challenge_preview">
	<hr>

	<h2>
		{{title}}

		<div class="btn-group pull-right">
			<span class="btn btn-theme">
				<a style="color: white" href="{{g_build_url "solution" (g_object challenge_id=_id)}}">
					{{> popout_base title="Take Challenge"
							content="To preview this challenge click here. You can decide later if you want to solve it."
							icon_class="fa fa-eye"}}
				</a>
			</span>

			{{#if g_is_owner "challenges" _id}}
				<span class="btn btn-theme">
					<a style="color: white" href="{{g_build_url "challenge_design" (g_object challenge_id=_id)}}">
						{{> popout_base title="Edit Challenge"
								content="Congratulations you can edit this challenge. Click here to edit it."
								icon_class="fa fa-edit"}}
					</a>
				</span>
			{{/if}}
		</div>
	</h2>

	{{>more content=content}}
</template>

