<!------------------------------------------------
|
|	Learner solutions
|
-------------------------------------------------->
<template name="solutions">
	{{#mooqita_wide_spacing}}
		<div class="item-set padding-top">
			<h1>Solutions</h1>

			<p class="padding-next">
				Here you can find all the solutions you submitted to challenges.
			</p>

			{{#paging subscription="my_solutions" page=0 count=10
								parameter=parameter collection_name="solutions"}}
				{{#each items}}
					{{>solution_preview}}
				{{else}}
					<hr>
					<h1 class="text-center padding-next"
							style="padding-bottom: 45px">
						<em>No Solutions yet.</em>
					</h1>
				{{/each}}
				<hr>
			{{/paging}}
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
|	Learner solution preview
|
-------------------------------------------------->
<template name="solution_preview">
	<hr>

	{{#unless Template.subscriptionsReady}}
		{{>wait}}
	{{else}}
		<a href="{{g_build_url "solution" (g_object challenge_id=challenge._id)}}"
			 class="item-set-element animated_0_5_s">

			<h2>
				{{challenge.title}}

				<div class="pull-right" style="font-size: 16px;">
					{{#unless is_finished}}
						{{>popout_base title="Not complete"
											content="Your solution is not yet complete"
											icon_class="badge background-theme fa fa-clock-o"}}
					{{else}}
						{{>popout_base title="Ready"
											content="Your solution is complete"
											icon_class="badge background-contrast fa fa-check"}}
					{{/unless}}
				</div>
			</h2>
			{{>more content=challenge.content}}
		</a>
	{{/unless}}
</template>


<!------------------------------------------------
|
|	Learner solution editor
|
-------------------------------------------------->
<template name="solution">
	{{#mooqita_wide_spacing}}
		<div class="item-set padding-top">
			{{#unless Template.subscriptionsReady}}
				{{>wait}}
			{{else}}
				{{#unless challenge}}
					<div class="padding-top">
						{{>ER_404}}
					</div>
				{{else}}
					{{#with challenge}}
						<h1>{{title}}</h1>

						{{#if has_solutions}}
							{{>more content=content}}
						{{else}}
							{{>more content=content expanded=true}}
						{{/if}}

						{{#if material}}
							<h2>
								{{>download collection_name="Challenges"
														item_id=_id field="material" label="Download additional material"}}
							</h2>
						{{/if}}
					{{/with}}

					{{#if logged_in}}
						{{#each solutions}}
							{{>solution_reviews}}
						{{else}}
							<div class="alert alert-warning">
								You have not yet submitted a solution to this challenge.
							</div>

							<div class="text-right">
								<div class="btn btn-theme" id="take_challenge">Take challenge</div>
							</div>
						{{/each}}
					{{else}}
						{{#unless nlg_answer}}
							<h2>Please register to start the challenge</h2>
							<div class="row">
								<div class="col-sm-6">
									<p>
										To start the challenge please register.
										It is quick and will help us to connect you
										with the best career opportunities.
									</p>
								</div>
								<div class="col-sm-6">
									<div class="well">
										{{>atForm}}
									</div>
								</div>
							</div>
						{{else}}
							<h2>Please let us know your idea</h2>
							<form class="form-horizontal">
								<div class="form-group">
									<label for="at-field-name" class="col-sm-2 control-label">Name</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="at-field-name"
													 autocapitalize="none" autocorrect="off"
													 placeholder="Lily J. Evans">
									</div>
								</div>

								<div class="form-group">
									<label for="at-field-email" class="col-sm-2 control-label">Email</label>
									<div class="col-sm-10">
										<input type="email" class="form-control" id="at-field-email"
													 name="at-field-email" placeholder="evans@theslugclub.io"
													 autocapitalize="none" autocorrect="off">
									</div>
								</div>
							</form>

							<textarea  class="form-control edit-field"  id="answer_solution"
												 placeholder="I would like to ..." rows="10"></textarea>

							<div class="text-right" style="padding-top: 15px">
								<button class="btn btn-theme" id="send_answer_only_solution">
									Send
								</button>
							</div>
						{{/unless}}
					{{/if}}
				{{/unless}}
			{{/unless}}
		</div>
	{{/mooqita_wide_spacing}}
</template>


<template name="solution_reviews">
	{{#unless Template.subscriptionsReady}}
		{{>wait}}
	{{else}}
		{{#unless has_filled_profile}}
			<div class="alert alert-warning">
				<h2>Todo Profile</h2>
				<hr>
				<p>
					Please do not forget to go to your
					<a href="{{g_build_url "profile"}}" target="_blank">profile</a>
					and let us know if you want to take part in the
					final paid challenge or you are interested in job
					offerings.
				</p>
			</div>

		{{/unless}}

		{{#unless is_finished}}
			<div class="alert alert-warning">
				<h2>Todo List to finish your solution</h2>
				<hr>
				Here is a list of things you have to do before your solution is ready:
				<ul>
					{{#unless g_is_public "Solutions"}}
						{{#unless content}}
							<li>Provide an explanation of your solution under solution description.</li>
						{{/unless}}

						{{#unless material}}
							<li>Add additional material if necessary.</li>
						{{/unless}}

						{{#unless g_is_saved "Solutions"}}
							<li>Save your work!</li>
						{{/unless}}

						<li>Publish your solution (Button below the upload field).</li>
					{{/unless}}

					{{#if is_feedback_missing}}
						<li>
							Read the reviews you received and give feedback.
							Give feedback to <b> {{missing_feedback}} more reviews.</b>
						</li>
					{{/if}}

					{{#if is_review_missing}}
						<li>
							<p>
								Write and finish <b>{{missing_reviews}} more reviews</b> for your peers.
								Please keep in mind that <b>you have 24 hours</b> to finish a review
								after you clicked the button. You can find your reviews
								<a href="{{g_build_url "reviews"}}">here</a>.
								Please start the review only if you have time to finish it. It is a
								courtesy to your peers to not make	them hold there breath so long.
								Visit our <a href="mooqita_help"> How to Write a Great
								Review</a> article if you want some tips.
							</p>
							{{#unless g_is_public "Solutions"}}
								<b>Publish your solution to start writing reviews.</b>
							{{else}}
								{{#unless searching}}
									<div class="text-right" style="padding-top:15px">
										{{#if can_start_review}}
											<div id="find_review" class="btn btn-theme">Start a review</div>
										{{/if}}
									</div>
								{{else}}
									<div class="text-right" style="padding-top:15px">
										<span class="btn btn-theme" disabled="true">
											Please wait searching for solutions to review
											<span class="glyphicon glyphicon-refresh spin"></span>
										</span>
									</div>
								{{/unless}}
							{{/unless}}
						</li>
					{{/if}}
				</ul>
			</div>
		{{/unless}}

		{{#if review_error}}
			<div class="alert background-theme" style="margin-top: 15px">
				We were not able to find a review for you yet.
				Please come back later and try again.
			</div>
		{{/if}}

		<h1>
			Your Solution
			{{#if is_finished}}
				<em>
					<span class="pull-right">
						<span class="glyphicon glyphicon-check"></span>
					</span>
				</em>
			{{/if}}
		</h1>

		{{#unless g_is_public "Solutions"}}
			<h2>Solution description</h2>
			{{>markdown_input method="set_field" collection_name="Solutions"
				item_id=_id field="content" placeholder="Describe your solution"}}

			<h2>Additional Material</h2>
			{{#if material}}
				<h2>
					{{>download collection_name="Solutions"
						item_id=_id field="material" label="Download additional material"}}
				</h2>
			{{/if}}

			{{>upload method="upload_file" collection_name="Solutions"
				item_id=_id field="material"}}
		{{else}}
			{{>more content=content}}

			{{#if material}}
				<h2>
					{{>download collection_name="Solutions"
						item_id=_id field="material"}}
				</h2>
			{{/if}}
		{{/unless}}

		{{#unless g_is_public "Solutions"}}
			<div class="row padding-top">
				<div class="form-group col-sm-6">
					<span class="btn-group btn-group-justified">
						<a class="btn btn-theme" id="save">Save</a>
					</span>
				</div>
				<div class="form-group col-sm-6">
					<span class="btn-group btn-group-justified">
						<a class="btn btn-theme" {{publish_disabled}}
								 id="publish_solution">Make public</a>
					</span>
				</div>
			</div>
		{{/unless}}

		{{#if g_is_public "Solutions"}}
			<h1>Reviews you received</h1>
			{{#each reviews_received}}
				{{>feedback_solution}}
			{{else}}
				<p>No reviews yet.</p>
			{{/each}}
		{{/if}}
	{{/unless}}
</template>


<!------------------------------------------------
|
|	Publish Modal
|
-------------------------------------------------->
<template name="publish_solution">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">Publish solution</h1>
				</div>

				<div class="modal-body">
					<p>
						Are you sure you want to publish your solution?<br>
						If you publish your solution it will be send to <br>
						your colleagues for review.<br>
					</p>

					<p>
						<em><b>This can not be undone!</b></em>
					</p>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified">
						<a type="button" class="btn btn-theme" data-dismiss="modal">Not yet</a>
						<a type="button" class="btn btn-theme" id="publish" data-dismiss="modal">Publish</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

