<!------------------------------------------------
|
| Onboarding Intro
|
-------------------------------------------------->
<template name="onboarding_job_intro">
	{{#mooqita_wide_spacing}}
		<div class="row padding-top" style="margin-top: 20%">
			<div class="col-sm-6">
				<h1 style="text-align: center; padding-top: 30px">
					<img style="width: 300px" src="/images/mooqita.jpg">
				</h1>
			</div>

			<div class="col-sm-6">
				<h1>Find the talent you need!</h1>

				<p style="padding-bottom: 25px">
					Complete our quick onboarding steps to find and
          attract matching talent to grow your business.
				</p>

				<a class="btn btn-theme" href="onboarding_job_role">Find a perfect candidate</a>
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
| Onboarding Role
|
-------------------------------------------------->
<template name="onboarding_job_role">
	{{#mooqita_wide_spacing}}
		<h1 style="text-align: center; padding-top: 30px">
			<img style="width: 300px" src="/images/mooqita.jpg">
		</h1>

		<h1>Role</h1>

		<p>
			Please select the main role of your candidate.
			Don't worry you can change this later.
		</p>

		{{>job_role session="onboarding_job_posting" key="role"
								href="onboarding_job_competency"}}

	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
| Onboarding Competency
|
-------------------------------------------------->
<template name="onboarding_job_competency">
	{{#mooqita_wide_spacing}}
		<h1 style="text-align: center; padding-top: 30px">
			<img style="width: 300px" src="/images/mooqita.jpg">
		</h1>

		<h1>Competencies</h1>
		<p>
			Finding the candidate with the right skill set is important.
			However, Mooqita can do more for you. We can help you find the person
			that will complement your teams social fabric. Select any number of
			competencies you deem important for candidates for this job posting.
		</p>

		{{>job_competency session="onboarding_job_posting"}}

		<div class="btn-group btn-group-justified" style="padding-bottom: 50px">
			<a class="btn btn-theme" href="onboarding_describe_job">
				Add a job description
			</a>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
| Onboarding registration time
|
-------------------------------------------------->
<template name="onboarding_describe_job">
	{{#mooqita_wide_spacing}}
		<h1 style="text-align: center; padding-top: 30px">
			<img style="width: 300px" src="/images/mooqita.jpg">
		</h1>

		<h1>Describe your job opening</h1>

		<p>
			This description will help us find challenges
			related to your job. Learner who score high
			on these challenges will be part of your
			recruitment pool.
		</p>

		<p class="padding-next alert alert-theme">
			<em style="font-weight: bold">Important:</em>
			We at Mooqita do things a little different.
			This description is for our AI (artificial
			intelligence). Do not think too much about
			it right now. Just give us a few lines to
			get working. You can add more later on.
		</p>

		{{>text_input session="onboarding_job_description"
									placeholder="A short description of what you are looking for in your own words."}}

		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				{{>match_button session="onboarding_job_description"
												in_collection="challenges" in_field="content"
												text="Find challenges"}}
			</div>
		</div>

		<hr>

		{{>match_tags session="onboarding_job_description"
									in_collection="challenges" in_field="content"}}

		{{#unless currentUser}}
			<div class="btn-group btn-group-justified">
				<div class="btn btn-theme" id="register">
					Register to see your candidates
				</div>
			</div>
		{{else}}
			{{#each matches}}
				{{>onboarding_match}}
			{{/each}}
		{{/unless}}

	{{/mooqita_wide_spacing}}
</template>


<template name="onboarding_job_register">
	<div class="modal fade register-modal">
		<div class="register-frame animated">
			<button type="button" class="btn btn-default close-register" data-dismiss="modal">
				<div class="fa fa-times"></div>
			</button>

			{{>atForm}}
		</div>
	</div>
</template>


<!------------------------------------------------
|
| Show each match
|
-------------------------------------------------->
<template name="onboarding_match">
	{{#each concept in c}}
		[<em style="font-weight: 600;">{{concept}}</em>]
	{{/each}}
</template>

