<template name="onboard_learner_registered">
    {{#mooqita_wide_spacing}}
        <p><em>TODO:<br/>
            (1) implement percentage complete widget to be shown on the right hand side of this page, as
            well as
            on the profile page (for learners only for now. Consider doing this for orgs too.).<br/>
            (2) implement a check for completion of each step and grey out + add checkmark those steps that
            are already completed (gives notion of progress) ... based on progress, update target
            of 'Continue Process' button.<br/>
            (3) IF AND ONLY IF: all main steps above have been completed: show link to tutorial page ...
            "what
            can I
            do here"
        </em></p>

        <div class="row padding-top">
            <div class="col-md-12">
                <h1>Welcome to Mooqita, NAME</h1>
            </div>
                <div class="col-md-8">
                <p>You signed up as a learner. We take it that you are interested in solving challenges to build up a
                    portfolio,
                    as well as in getting suggested matches with potential employers from us. In order to provide great
                    results
                    we need to learn a little bit more about you. Completing each of the following steps will
                    drastically
                    improve
                    the matches.</p>
                </div>
                {{>obprogress percent=".25"}}
                <div class="col-md-12">
                        <a class="btn btn-theme" href="onboard_learner_role">1. Interests & Abilities</a>
                        <p>This is crucial for finding great matching challenges and organizations for you.</p>
                </div>
            <div class="col-md-12">
                <a class="btn btn-theme" href="onboarding_time">2. Work Habits</a>
                <p>This helps us coordinate you with others on the platform.</p>
                <a class="btn btn-theme" href="personality">3. Personality</a>
                <p>So we can make sure that you fit well with challenge and work teams.</p>
                <a class="btn btn-theme" href="profile">4. Profile</a>
                <p>Just some general information about you. Here you can also adjust any of the choices from
                     this onboarding process later on.</p>

                <div class="row">
                    <p>After completing these steps, make sure to head over to your PROFILE and enable 'job search' if
                        you want to receive matches with potential employers and invitations to complete challenges by
                        matching employers.</p>
                </div>
            </div>
        </div>
    {{/mooqita_wide_spacing}}
</template>

<template name="onboard_learner_role">
    {{#mooqita_wide_spacing}}
        <h1 style="text-align: center; padding-top: 30px">
            <img style="width: 300px" src="/images/mooqita.jpg">
        </h1>

        <h1>Role</h1>

        <p>
            Please select the role that you would be most interested in.
            Don't worry you can change this later.
        </p>

        {{>job_role session="onboarding_job_posting" key="role"
                href="onboarding_techexistingselection"}}

        <!--<a class="btn btn-theme" href="">next</a>-->

    {{/mooqita_wide_spacing}}
</template>

<template name="learner_own_job">
    {{#mooqita_wide_spacing}}
        <p><em>TODO: <br/>
            (1) convert the fields to text input fields and store input<br/>
            (2) improve instructions? Limit inputs?
        </em></p>

        <h1>Where do you see yourself in 1 year.</h1>

        <p>Please provide a brief summary of the role you would like to play in the organization of a potential employer
        one year from now. Don't worry about precisely forecasting every detail. Simply highlight your responsibilities
        and strengths. Consider mentioning potential duties and achievements.</p>

        <h2>ENTER TEXT: Job title</h2>
        <p>
            ENTER TEXT: Job description.
        </p>

        <a class="btn btn-theme" href="personality">Continue Process</a>
    {{/mooqita_wide_spacing}}
</template>