<!------------------------------------------------
|
| Onboarding Intro
|
-------------------------------------------------->
<template name="onboarding_job_intro">
	{{#mooqita_wide_spacing}}
		<div class="row padding-top" style="margin-top: 20%">
			<div class="col-sm-6">
				<h1 style="text-align: center; padding-top: 30px">
					<img style="width: 300px" src="/images/mooqita.jpg">
				</h1>
			</div>

			<div class="col-sm-6">
				<h1>Find the talent you need!</h1>

				<p style="padding-bottom: 25px">
					We are making it easy for you to find and attract
					the perfect talent you need to grow your business.
				</p>

				<a class="btn btn-theme" href="onboarding_job_role">Get started</a>
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
| Onboarding Role
|
-------------------------------------------------->
<template name="onboarding_job_role">
	{{#mooqita_wide_spacing}}
		<h1 style="text-align: center; padding-top: 30px">
			<img style="width: 300px" src="/images/mooqita.jpg">
		</h1>

		<h1>Role</h1>

		<p>
			Please select the main role of your candidate.
			Don't worry you can change this later.
		</p>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-ms-4 col-sm-4 col-xs-6 hover-padding">
				{{>hover_card icon="fa-paint-brush color-theme" href="onboarding_job_competency"
						session="onboarding_job_posting" key ="role" value="design" message="Designer"
						text="UX/UI Designer, Creative Director, etc."}}
			</div>

			<div class="col-lg-4 col-md-6 col-ms-4 col-sm-4 col-xs-6 hover-padding">
				{{>hover_card icon="fa-cogs color-theme" href="onboarding_job_competency"
						session="onboarding_job_posting" key ="role" value="ops" message="Operations"
						text="Finance, Accounting, Human Resources, etc."}}
			</div>

			<div class="col-lg-4 col-md-6 col-ms-4 col-sm-4 col-xs-6 hover-padding">
				{{>hover_card icon="fa-laptop color-theme" href="onboarding_job_competency"
						session="onboarding_job_posting" key="role" value="dev"	message="Developer"
						text="Mobile / Fullstack Developer, DevOps, etc."}}
			</div>

			<div class="col-lg-4 col-md-6 col-ms-4 col-sm-4 col-xs-6 hover-padding">
				{{>hover_card icon="fa-pie-chart color-theme" href="onboarding_job_competency"
						session="onboarding_job_posting" key="role" value="sales"	message="Sales"
						text="Sales Manager, Account Manager, etc."}}
			</div>

			<div class="col-lg-4 col-md-6 col-ms-4 col-sm-4 col-xs-6 hover-padding">
				{{>hover_card icon="fa-comments-o color-theme" href="onboarding_job_competency"
						session="onboarding_job_posting" key="role" value="marketing"	message="Marketing"
						text="Content Creator, Marketing Manager, etc."}}
			</div>

			<div class="col-lg-4 col-md-6 col-ms-4 col-sm-4 col-xs-6 hover-padding">
				{{>hover_card icon="fa-question-circle color-theme" href="onboarding_job_competency"
						session="onboarding_job_posting" key="role" value="other"	message="Others"
						text="Attorney , etc."}}
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
| Onboarding Competency
|
-------------------------------------------------->
<template name="onboarding_job_competency">
	{{#mooqita_wide_spacing}}
		<h1 style="text-align: center; padding-top: 30px">
			<img style="width: 300px" src="/images/mooqita.jpg">
		</h1>

		<h1>Competencies</h1>
		<p>
			Finding the candidate with the right skill set is important.
			Mooqita however can do more. We can help you find the person
			that will complement your teams social fabric.
		</p>
		<div class="row" style="padding: 20px 0px">
			<div class="col-sm-6 padding-next">
				<div class="toggle-button toggle-button">
					<input id="team_id" type="checkbox"
								 aria-describedby="team_explain">
					<label for="team_id">Leading People</label>
					<div class="toggle-button-icon"></div>
				</div>

				<div>
					<small id="team_explain" class="form-text text-muted">
						Does the candidate need to lead other members of your team?
					</small>
				</div>
			</div>

			<div class="col-sm-6 padding-next">
				<div class="toggle-button toggle-button">
					<input id="strategic_id" type="checkbox"
								 aria-describedby="strategic_explain">
					<label for="strategic_id">Strategic Decisions</label>
					<div class="toggle-button-icon"></div>
				</div>

				<div>
					<small id="strategic_explain" class="form-text text-muted">
						Decisions that influence the shape of your product or your
						companies culture require a special kind of person.
					</small>
				</div>
			</div>

			<div class="col-sm-6 padding-next">
				<div class="toggle-button toggle-button">
					<input id="idea_id" type="checkbox"
								 aria-describedby="idea_explain">
					<label for="idea_id">Contributing Ideas</label>
					<div class="toggle-button-icon"></div>
				</div>

				<div>
					<small id="idea_explain" class="form-text text-muted">
						Do you need fresh and new ideas for products or features?
						Then you check this.
					</small>
				</div>
			</div>

			<div class="col-sm-6 padding-next">
				<div class="toggle-button toggle-button">
					<input id="process_id" type="checkbox"
								 aria-describedby="process_explain">
					<label for="process_id">Process Design</label>
					<div class="toggle-button-icon"></div>
				</div>

				<div>
					<small id="process_explain" class="form-text text-muted">
						The gritty little things that need to be done again and
						again. If someone has a working solution...
					</small>
				</div>
			</div>
		</div>

			<div class="btn-group btn-group-justified" style="padding-bottom: 50px">
			<a class="btn btn-theme" href="onboarding_job_finish">
				Generate
			</a>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<!------------------------------------------------
|
| Onboarding Finish
|
-------------------------------------------------->
<template name="onboarding_job_finish">
	{{#mooqita_wide_spacing}}
		<h1 style="text-align: center; padding-top: 30px">
			<img style="width: 300px" src="/images/mooqita.jpg">
		</h1>

		{{#unless user_profile}}
			<div class="row padding-top">
				<div class="col-sm-5">
					<div class="raised">
						{{>persona persona_data=persona_data has_text=true
											 width=300 height=180}}
					</div>
				</div>

				<div class="col-sm-7">
					<h1>Persona</h1>

					<p class="padding-next">
						Excellent you created a persona for your candidate.
						To save your progress you can register an account.
						By adding the personality of your team you can get
						even better results.
					</p>

					<button type="submit" id="register"
									class="btn btn-theme">
						Register
					</button>
				</div>
			</div>
		{{else}}
			{{>job_overview}}
		{{/unless}}
	{{/mooqita_wide_spacing}}
</template>


<template name="job_overview">
	<h1>Finishing Touches</h1>

	<p class="padding-next">
		To personalize the invitation to your team members
		we need to know your name and your organizations name
		and a logo would be nice as well.
	</p>

	{{#let profile=user_profile}}
		<div class="row">
			<div class="col-sm-4 col-ms-6">
				<div class="form-group">
					<div class="raised text-center">
						{{>avatar collection_name = "Profiles"
											observable = profile.avatar
											item_id = profile._id
											field = "avatar"
											explain = "Upload an image as your avatar (png, jpg, svg, etc). Maximum size ~1MB."}}

						{{>upload method="upload_file" collection_name="Profiles"
											item_id=profile._id field="avatar" max_size=1200000}}
					</div>
				</div>
			</div>

			<div class="col-sm-8 col-ms-6">
				<div class="form-group">
					{{>basic_input method="set_field" collection_name="Profiles" label="Given Name"
						item_id=profile._id field="given_name" placeholder="Sophia (Wisdom, Greek)"}}
				</div>

				<div class="form-group">
					{{>basic_input method="set_field" collection_name="Profiles" label="Middle Name"
						item_id=profile._id field="middle_name" placeholder="Ode (Born on the road, Nigeria)"}}
				</div>

				<div class="form-group">
					{{>basic_input method="set_field" collection_name="Profiles" label="Family Name"
						item_id=profile._id field="family_name" placeholder="Sharma, (Happiness, India)"}}
				</div>

				<div class="form-group">
					{{>basic_input method="set_field" collection_name="Profiles" label="Your Role"
						item_id=profile._id field="role" placeholder="CEO, Hiring Lead, etc."}}
				</div>
			</div>
		</div>
	{{/let}}

	<hr class="mooqita-line">

	{{#let organization=organization_profile}}
		<div class="row">
			<div class="col-sm-8 col-ms-8">
				<div class="form-group">
					{{>basic_input method="set_field" collection_name="Organizations" label="Organization Name"
							item_id=organization._id field="name" placeholder="ACME Inc."}}
				</div>

				<div class="form-group">
					{{>text_input method="set_field" collection_name="organizations"
							item_id=organization._id field="description"
							placeholder="Let us know about your mission."}}
				</div>
			</div>

			<div class="col-sm-4 col-ms-4">
				<div class="form-group">
					<div class="raised text-center">
						{{>avatar collection_name = "Organizations"
											observable = organization.avatar
											item_id = organization._id
											field = "avatar"
											explain = "Upload your company logo (png, jpg, svg, etc). Max ~2MB."}}

						{{>upload method="upload_file" collection_name="Organizations"
											item_id=organization._id field="avatar" max_size=2400000}}
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="btn-group btn-group-justified">
			<a class="btn btn-theme"
				 href="{{g_build_url "job_posting" (g_object job_id=job_id organization_id=organization._id) "app"}}">
				Show me my job posting
			</a>
		</div>
	{{/let}}
</template>

<!------------------------------------------------
|
| Onboarding Register
|
-------------------------------------------------->
<template name="onboarding_job_register">
	<div class="modal fade register-modal">
		<div class="register-frame animated">
			<button type="button" class="btn btn-default close-register" data-dismiss="modal">
				<div class="fa fa-times"></div>
			</button>

			{{>atForm}}
		</div>
	</div>
</template>

