<!-----------------------------------------------------------------------------
|
| Team member onboarding
|
------------------------------------------------------------------------------>
<template name="onboarding_team">
	{{#mooqita_wide_spacing}}
		<h1 style="text-align: center; padding-top: 30px">
			<img style="width: 300px" src="/images/mooqita.jpg">
		</h1>

		<h1>Welcome to Mooqita</h1>

		<p>
			Mooqita streamlines the hiring process. So you spend less	time interviewing
			candidates. To do that we need some information about you. We use the so
			called big-5 personality test. This test measures what psychologists consider
			to be the five fundamental dimensions of personality. In the end you will
			get a detailed analysis of your personality traits.
		</p>

		<div class="text-right">
			<a class="btn btn-theme" href="personality">Take the test</a>
		</div>
	{{/mooqita_wide_spacing}}
</template>
