<!------------------------------------------------
|
| Onboarding Intro
|
-------------------------------------------------->
<!------------------------------------------------
| Note: the following is for onboarding of LEARNER views
| Onboarding Intro (similar to above, but content differs),
| TODO: could abstract this to a shared component.
|
| TODO: shorten the text and consider illustrating procedure
|
-------------------------------------------------->
<template name="onboarding_learner_intro">
    {{#mooqita_wide_spacing}}
        <h1 style="text-align: center; padding-top: 30px">
            <img style="width: 300px" src="/images/mooqita.jpg">
        </h1>

        <div class="col-md-12">
            <h1>Gain practical experience and find the job you love!</h1>

            <p style="padding-bottom: 25px">
                We make it easy for you to find the perfect job based
                on your <b>interests and goals</b>, your <b>work habits</b>, <b>existing skills</b>, and on how you
                complete <b>challenges on Mooqita</b>.
            </p>

            <p> To get started we need some information so you can <b>benefit from our AI-based matching</b>.
                We will first ask you to <b>describe where you would like to see yourself in one year from now.</b>.</p>
            <br>
            <a class="btn btn-theme" href="onboarding_learner_vision">Get started</a>
        </div>
    {{/mooqita_wide_spacing}}
</template>

<template name="onboarding_learner_vision">
    {{#mooqita_wide_spacing}}
        <h1 style="text-align: center; padding-top: 30px">
            <img style="width: 300px" src="/images/mooqita.jpg">
        </h1>

        <h1>Where would you like to see yourself in 1 year?</h1>

        <p>
            At Mooqita we <em><b>tailor your experience to your goals</b></em>.
            Please provide us with a few short statements about your <em><b>career vision and learning aims</b></em>.
            We will use this information to <em><b>match you with potential employers and their challenges</b></em>.
            <br>
            <!-- The challenges on this page represent tasks that a future employer might ask you to work on.
            Please select 1 to 3 challenges that represent your interests. You can select challenges that you would
            already be able to solve, but you can also select challenges that you would like to be able to solve after
            completing some additional training.
            If the challenges do not represent your interests and abilities, please use the 'new challenge' button to
            generate your own challenge .
            We use these challenges to match you with potential employers and to recommend courses that you can do
            to learn more about the topics that interest you. -->
        </p>

        <h3>The main tasks I would love to do:</h3>
        <p class="editable">
            {{>basic_input method="set_field" collection_name="jobs" item_id=job._id field="title"
                    placeholder="Click here to provide examples of major tasks you would like to perform in one year."}}
        </p>

        <h3>I would love to be in responsible for:</h3>
        <p class="editable">
            {{>basic_input method="set_field" collection_name="jobs" item_id=job._id field="title"
                    placeholder="Please describe your desired level of responsibilities (contributor or project owner, supervisor, etc.)."}}
        </p>

        <h3>I would love to have learned more about:</h3>
        <p class="editable">
            {{>basic_input method="set_field" collection_name="jobs" item_id=job._id field="title"
                    placeholder="Please describe new skills you would like to acquire within the next year."}}
        </p>

        <h3>I would bring along the following main qualifications:</h3>
        <p class="editable">
            {{>basic_input method="set_field" collection_name="jobs" item_id=job._id field="title"
                    placeholder="Please summarize the main qualifications you will bring so you can fulfill your tasks and responsibilities."}}
        </p>

        <br>

        <div class="row">
            <div class="col-sm-6 padding-next">
                {{>toggle_button icon="fa-paint-brush color-theme"
                        href="onboarding_learner_challenge_select"
                        session="own_challenge"
                        key="recommendations_wanted" label="Give me course recommendations"
                        explain="Check here if you would like to receive recommendations for online learning courses that match the vision you provided."}}
            </div>
            <div class="col-sm-6 padding-next">
                {{>toggle_button icon="fa-paint-brush color-theme"
                        href="onboarding_learner_challenge_select"
                        session="own_challenge"
                        key="can_do_already" label="I could already fill this role"
                        explain="Please check this box if you think that you could already fill the role described in your vision statement."}}
            </div>
        </div>

        <div class="row">
            <a class="btn btn-theme" href="../app/onboard_learner_registered">do this later</a>
            <a class="btn btn-theme" href="../app/onboard_learner_registered">next</a>
        </div>

    {{/mooqita_wide_spacing}}
</template>

<!------------------------------------------------
|
| Onboarding select example challenges
|
| TODO: implement a challenge search and selection interface here (using the existing search component
|                with
|                an additional search for challenges labeled 'mooqita-prime' that represent a manually curated list).
|                A list of ~20 challenges should be loaded right away. It should be possible to select multiple
|                challenges
|                without leaving the page before a "next" button is clicked to continue the onboarding flow.
|                There should also be a "own challenge" button.
|
| TODO: Markus: the save button should write the content of the challenge title and body fields into a session
|               variable object so that it can be generated after registration
|
| TODO: implement a toggle button switch or check button to indicate that a learner would like to receive course
|               recommendations based on their own challenge description
|
-------------------------------------------------->
<template name="onboarding_learner_challenge_select">
    {{#mooqita_wide_spacing}}
        <h1 style="text-align: center; padding-top: 30px">
            <img style="width: 300px" src="/images/mooqita.jpg">
        </h1>

        <h1>A challenge I'd like to do</h1>

        <p>
            Practical challenges play a crucial role in the Mooqita process. We use challenges by real-world
            organizations to match you with potential employers. It is very important for the process that you let us
            know which kinds of challenges are interesting to you.
            Defining your own example challenge that represents your abilities, interests, or both, is a great way to
            start.
            <!-- TODO: highest-priority: also implement task selection from pre-filtered lists. -->
            <em>TODO: do this later button</em>
            <!-- The challenges on this page represent tasks that a future employer might ask you to work on.
            Please select 1 to 3 challenges that represent your interests. You can select challenges that you would
            already be able to solve, but you can also select challenges that you would like to be able to solve after
            completing some additional training.
            If the challenges do not represent your interests and abilities, please use the 'new challenge' button to
            generate your own challenge .
            We use these challenges to match you with potential employers and to recommend courses that you can do
            to learn more about the topics that interest you. -->
        </p>

        <br>

        <h2 class="editable">
            {{>basic_input method="set_field" collection_name="jobs" item_id=job._id field="title"
                    placeholder="Click here to give your challenge a title!"}}
        </h2>

        {{>wysiwyg_input method="set_field" collection_name="jobs"	item_id=job._id field="description"
                placeholder="Please describe a challenge that you can already solve and that demonstrates your abilities, or describe a challenge that you would like to be able to solve after completing some additional training."}}

        <div class="row">
            <div class="col-sm-6 padding-next">
                {{>toggle_button icon="fa-paint-brush color-theme"
                                            href="onboarding_learner_challenge_select"
                                            session="own_challenge"
                                            key="recommendations_wanted" label="I want course recommendations"
                                            explain="Check this if you would like to receive recommendations for online learning courses that match the challenge you provided."}}
            </div>
            <div class="col-sm-6 padding-next">
                {{>toggle_button icon="fa-paint-brush color-theme"
                        href="onboarding_learner_challenge_select"
                        session="own_challenge"
                        key="can_solve_already" label="I could already solve this task"
                        explain="Please check this box if you think that you can already solve the task you just created."}}
            </div>
        </div>

        <div class="bottom-right">
                <a class="btn btn-theme" href="../app/onboard_learner_registered">next</a>
        </div>

    {{/mooqita_wide_spacing}}
</template>

<!------------------------------------------------
|
| Onboarding learner reveal challenge sources
|
-------------------------------------------------->
<template name="onboarding_learner_challenge_reveal">
    {{#mooqita_wide_spacing}}

        <h1 style="text-align: center; padding-top: 30px">
            <img style="width: 300px" src="/images/mooqita.jpg">
        </h1>

        <p>
            <em>TODO: <br/>
                - only show this page if the learner selected challenges by companies <br/>
                - implement a list of the challenges that the learner selected showing the source organizations
                nicely next to the challenge summary
            </em>
        </p>

        <h1>Challenges of Interest</h1>

        <p>
            Thank you for letting us know which challenges you are interested in.
            We thought you might be excited to learn that the challenges you selected represent real tasks posted
            by real organizations.
        </p>

        <p>
            Press 'next' and register to begin solving challenges and for an opportunity to be hired.
        </p>

        {{#unless user_profile}}
            <button type="submit" id="register"
                    class="btn btn-theme">
                Register
            </button>
        {{else}}
            <a class="btn btn-theme" href="{{g_build_url "onboard_learner_registered"}}">
                Next
            </a>
        {{/unless}}

    {{/mooqita_wide_spacing}}
</template>

<!------------------------------------------------
|
| Onboarding registration modal
|
-------------------------------------------------->

<template name="onboarding_learner_register">
    <div class="modal fade register-modal">
        <div class="register-frame animated">
            <button type="button" class="btn btn-default close-register" data-dismiss="modal">
                <div class="fa fa-times"></div>
            </button>
            {{>atForm}}
        </div>
    </div>
</template>

<!------------------------------------------------
|
| Onboarding job challenges
|
-------------------------------------------------->
<template name="onboarding_learner_challenges">
    {{#mooqita_wide_spacing}}
        <h1 style="text-align: center; padding-top: 30px">
            <img style="width: 300px" src="/images/mooqita.jpg">
        </h1>

        <h1>Challenges</h1>

        <p>
            Add some <em><b>challenges</b></em> to the job posting that represent <em><b>tasks which candidates
            should be able to solve</b></em>.
            We make sure they can. This step is <em><b>very important</b></em> to guarantee that we can
            <em><b>match you with the right talent</b></em>. After adding new challenges it may take a few
            days until a great match has been found. <br/> We will alert you via email!
        </p>

        <!-- TODO: Consider enforcing that at least one example challenge is added! -->

        {{>job_challenges}}

        <div class="btn-group btn-group-justified">
            <a class="btn btn-theme" href="{{get_url}}">
                Get in your team culture
            </a>
        </div>
    {{/mooqita_wide_spacing}}
</template>

<!------------------------------------------------
|
| Onboarding the fruits of your hard labor
|
-------------------------------------------------->
<template name="onboarding_learner_overview">
    {{#mooqita_wide_spacing}}
        <h1 style="text-align: center; padding-top: 30px">
            <img style="width: 300px" src="/images/mooqita.jpg">
        </h1>

        <h1>Optimized Persona</h1>

        {{#unless persona_available}}
            <p>
                You do not yet have any persona data.
                Fill out your profile to get better results.
            </p>

            <div class="text-right">
                <a href="{{g_build_url "onboarding_team"}}" target="_blank"
                   class="btn btn-theme animated_0_2_s">
                    Profile <span class="fa fa-edit"></span>
                </a>
            </div>
        {{else}}

            {{>job_overview}}

            <div class="row padding-top">
                {{#unless g_is_public "Jobs"}}
                    <div class="row">
                        <div class="form-group col-sm-6">
							<span class="btn-group btn-group-justified">
								<div class="btn btn-theme" id="save">Save</div>
							</span>
                        </div>

                        <div class="form-group col-sm-6">
							<span class="btn-group btn-group-justified">
								<div class="btn btn-theme" {{publish_disabled}}
                                     id="publish">Publish Job Posting Now</div>
							</span>
                        </div>
                    </div>
                {{/unless}}
            </div>
        {{/unless}}

        <div class="btn-group btn-group-justified">
            <a class="btn btn-theme" href="{{get_url}}">
                Job Overview
            </a>
        </div>
    {{/mooqita_wide_spacing}}
</template>

