<!------------------------------------------------
|
|	Learner profile
|
-------------------------------------------------->
<template name="profile">
	{{#mooqita_wide_spacing}}
		{{#with g_profile}}
			{{#unless profile_done}}
				<div class="alert alert-warning" style="margin-top: 25px">
					<h2>Todo List: Profile</h2>

					<hr>

					Here is a list of things you should do to complete your profile.

					<ul>
						{{#unless g_profile.given_name}}
							<li>Fill in your given name</li>
						{{/unless}}
						{{#unless g_profile.family_name}}
							<li>And your family name</li>
						{{/unless}}
						{{#unless g_profile.avatar}}
							<li>Upload a picture of you or choose an avatar.</li>
						{{/unless}}
						<!--{{#unless g_profile.resume}}
							<li>Please write your resume.</li>
						{{/unless}}-->
						{{#unless g_profile.job_interested}}
							<li>Let us know if you are interested in job offerings from our partners.</li>
						{{/unless}}
					</ul>
				</div>
			{{/unless}}

			<div class="row padding-top">
				<div class="col-sm-4 col-ms-4 col-xs-12">
					{{#if g_profile.avatar}}
						{{>avatar collection_name = "Profiles"
							observable = g_profile.avatar
							item_id = g_profile._id
							field = "avatar"}}
					{{/if}}

					{{>upload method="upload_file" collection_name="Profiles"
						item_id=g_profile._id field="avatar" max_size=500000}}
				</div>

				<div class="col-sm-8 col-ms-8 col-xs-12">
					<div class="row">
						<div class="col-md-4">
							{{>basic_input method="set_field" collection_name="Profiles"
								item_id=g_profile._id field="given_name" placeholder="Given name"}}
						</div>

						<div class="col-md-4">
							{{>basic_input method="set_field" collection_name="Profiles"
								item_id=g_profile._id field="middle_name" placeholder="Middle name"}}
						</div>

						<div class="col-md-4">
							{{>basic_input method="set_field" collection_name="Profiles"
								item_id=g_profile._id field="family_name" placeholder="Family name"}}
						</div>
					</div>

					<div class="row">
						<div class="col-md-8">
							<h2 class="header">Registered E-Mail</h2>

							<div style="padding-top: 15px">
								<em><b>{{email}}</b></em>
							</div>
						</div>

						<div class="col-md-4">
							<h2 class="header">Notifications</h2>
							{{>select_input method="set_field" collection_name="Profiles"
									item_id=g_profile._id field="mail_notifications"
									options=mail_notifications_options}}
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h2 class="header">Are you looking for a job?</h2>
						</div>

						<div class="col-md-12">
							<p>
								If you are looking for a job please let us know.
								We put you in our pool of candidates. When we find
								a suitable organization we will connect you with their
								recruiting team.
							</p>

							<p>
								<em>
									<b>
										We only try to match you when you choose yes
										in this field.
									</b>
								</em>
							</p>
						</div>

						<div class="col-md-12">
							{{>select_input method="set_field" collection_name="Profiles"
									item_id=g_profile._id field="job_interested"
									options=job_interested_options}}
						</div>
					</div>
				</div>
			</div>

			{{#if job_interested}}
				<div class="row padding-top">
					<div class="col-md-12">
						<h2>
							What kind a job are you looking for?
						</h2>
					</div>

					<div class="col-md-4">
						{{>select_input method="set_field" collection_name="Profiles"
							item_id=g_profile._id field="job_type" options=job_type_options}}
					</div>

					<div class="col-md-4">
						{{>select_input method="set_field" collection_name="Profiles"
							item_id=g_profile._id field="job_locale" options=job_locale_options}}
					</div>

					<div class="col-md-4">
						{{>basic_input method="set_field" collection_name="Profiles"
								item_id=g_profile._id field="hours_per_week"
								placeholder="Hours per week" type="number"}}
					</div>
				</div>

				<div class="row" style="margin-top:10px">
					<div class="col-md-12">
						<h2 class="header">Where are you living?</h2>
					</div>

					<div class="col-md-8">
						{{>country_state method="set_field" collection_name="Profiles"
							item_id=g_profile._id c_field="country" s_field="state"}}
					</div>

					<div class="col-md-4">
						{{>basic_input method="set_field" collection_name="Profiles"
							item_id=g_profile._id field="city" placeholder="city name"}}
					</div>
				</div>

				<h2>What are your goals?</h2>

				<p>
					Please describe where you would like to be in 5 years from now. The more
					honest you are the easier it is for our AI to find a team you love working
					with.
				</p>

				{{>text_input method="set_field" collection_name="Profiles"
						item_id=g_profile._id field="resume"
						placeholder="Tell us a little more about you."}}
			{{/if}}
		{{/with}}

		<div class="padding-top">
			<h1>Your Data</h1>

			<p>
				We have some data about you and you have the right to know what we know.
				This page shows you all the data that is connected to your account.
			</p>

			<div class="text-right">
				<span class="btn-group">
					<a class="btn btn-theme" href="all_my_data">Show me</a>
				</span>
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>


<template name="all_my_data">
	{{#mooqita_wide_spacing}}
		<div class="item-set">
			<h1>Export</h1>
			<p>To export your data, click the button below.</p>
			<button class="export-data btn btn-success" data-loading-text="Exporting...">Export Data</button>

			{{#each my_data}}
				<h1>{{type}}</h1>

					{{#each item in items}}

					<hr>

					<div class="item-set-element">
						{{#each field item}}
							<div class="row">
								<div class="col-md-3">
									<b><em>{{label}}</em></b>
								</div>

								<div class="col-md-9">
									{{value}}
								</div>
							</div>
						{{/each}}
					</div>
				{{/each}}
			{{/each}}
		</div>
	{{/mooqita_wide_spacing}}
</template>