<!------------------------------------------------
|
| Onboarding Competency
|
-------------------------------------------------->
<template name="job_competency">
	<div class="row" style="padding: 20px 0px">
		<div class="col-sm-6 padding-next">
			<div class="toggle-button toggle-button">
				<input id="contributor_id" type="checkbox"
							 aria-describedby="contributor_explain">
				<label for="contributor_id">Individual Contributor</label>
				<div class="toggle-button-icon"></div>
			</div>

			<div>
				<small id="contributor_explain" class="form-text text-muted">
					A candidate who quickly understands what is needed and focuses on getting it done.
				</small>
			</div>
		</div>

		<div class="col-sm-6 padding-next">
			<div class="toggle-button toggle-button">
				<input id="strategic_id" type="checkbox"
							 aria-describedby="strategic_explain">
				<label for="strategic_id">Strategic Decisions</label>
				<div class="toggle-button-icon"></div>
			</div>

			<div>
				<small id="strategic_explain" class="form-text text-muted">
					Decisions that influence the shape of your product or your
					companies culture require a special kind of person.
				</small>
			</div>
		</div>

		<div class="col-sm-6 padding-next">
			<div class="toggle-button toggle-button">
				<input id="social_id" type="checkbox"
							 aria-describedby="social_explain">
				<label for="social_id">Social Hub</label>
				<div class="toggle-button-icon"></div>
			</div>

			<div>
				<small id="social_explain" class="form-text text-muted">
					A candidate who brings everyone together and strengthens the teams social fabric.
				</small>
			</div>
		</div>

		<div class="col-sm-6 padding-next">
			<div class="toggle-button toggle-button">
				<input id="team_id" type="checkbox"
							 aria-describedby="team_explain">
				<label for="team_id">Leading People</label>
				<div class="toggle-button-icon"></div>
			</div>

			<div>
				<small id="team_explain" class="form-text text-muted">
					Does the candidate need to lead other members of your team?
				</small>
			</div>
		</div>

		<div class="col-sm-6 padding-next">
			<div class="toggle-button toggle-button">
				<input id="idea_id" type="checkbox"
							 aria-describedby="idea_explain">
				<label for="idea_id">Contributing Ideas</label>
				<div class="toggle-button-icon"></div>
			</div>

			<div>
				<small id="idea_explain" class="form-text text-muted">
					Do you need fresh and new ideas for products or features?
				</small>
			</div>
		</div>

		<div class="col-sm-6 padding-next">
			<div class="toggle-button toggle-button">
				<input id="process_id" type="checkbox"
							 aria-describedby="process_explain">
				<label for="process_id">Process Design</label>
				<div class="toggle-button-icon"></div>
			</div>

			<div>
				<small id="process_explain" class="form-text text-muted">
					The gritty little things that need to be done again and
					again require someone who can develop efficient processes.
				</small>
			</div>
		</div>
	</div>
</template>
