<template name="job_describe">
	{{#let job=get_job}}
		<h2 class="editable">
			{{>basic_input method="set_field" collection_name="jobs" item_id=job._id field="title"
					placeholder="Click here to give your post a title!"}}
		</h2>

		{{>markdown_input method="set_field" collection_name="jobs"	item_id=job._id field="description"
				placeholder="A short description of what you are looking for in your own words. This is a good place to paste a classic hiring post description."}}
	{{/let}}
</template>
