<template name="job_challenges">
	<h3>Add a new challenge:</h3>

	<div class="input-group">
		<div class="input-group-btn">
			<div class="btn btn-theme"
					 style="min-width: 40px;"
					 id="add_challenge">
				<span class="fa fa-plus"></span> Blank Challenge
			</div>

			<div class="btn btn-theme"
					 style="min-width: 40px;"
					 id="template_challenge">
				<span class="fa fa-file"></span> From Challenge Pool
			</div>
		</div>

		<select class="form-control" id="challenges_id">
			<option>Select one of your existing challenges</option>
			{{#each challenges}}
				<option value="{{_id}}">{{title}}</option>
			{{/each}}
		</select>
	</div>

	<h3>Challenges already linked to this job posting:</h3>

	{{#if job}}
		{{>job_challenges_preview job}}
	{{/if}}
</template>


<template name="job_challenges_preview">
	<div class="item-set" style="padding: 0px">
		{{#each challenges}}
			{{>challenge_preview}}
		{{/each}}
		<hr>
	</div>
</template>


